mixin b-about()

  section.b-about.user-content
    .row
      .col-md-6
        .ui-img
          img.img-scale(src="assets/media/content/b-about/1.jpg", alt="photo")
      .col-md-6
        h2 We are Awesome
        p Nisi suscipit fermentum nisl duis commodo cum ornare rutrum imperdiet blandit lobortis, felis aliquam curae; habitasse luctus condimentum integer, cum vel.
        p Euismod sociosqu morbi nulla malesuada sem nunc consectetuer proin rhoncus id. Purus pulvinar, potenti gravida class. Hac sociosqu. Quis netus lacinia varius mattis. Sociosqu a proin congue congue penatibus risus euismod mi. Lorem curae; elit placerat leo, curabitur ut neque. Dui, consectetuer cras pharetra.
        p Nisi suscipit fermentum nisl duis commodo cum ornare rutrum imperdiet blandit lobortis, felis aliquam curae; habitasse luctus condimentum integer, cum vel. Euismod sociosqu morbi nulla malesuada sem nunc consectetuer proin rhoncus id. Purus pulvinar, potenti gravida class. Hac sociosqu. Quis netus lacinia varius mattis. Sociosqu a proin congue congue penatibus risus euismod mi. Lorem curae; elit placerat leo, curabitur ut neque. Dui, consectetuer cras pharetra.
        p Nisi suscipit fermentum nisl duis commodo cum ornare rutrum imperdiet blandit lobortis, felis aliquam curae; habitasse luctus condimentum integer, cum vel. Euismod sociosqu morbi nulla malesuada sem nunc consectetuer proin rhoncus id. Purus pulvinar, potenti gravida class. Hac sociosqu. Quis netus lacinia varius mattis. Sociosqu a proin congue congue penatibus risus euismod mi. Lorem curae; elit placerat leo, curabitur ut neque. Dui, consectetuer cras pharetra.

  // end .b-about
  |
  |
