.b-modal-location {
  &__group {
    padding-bottom: 4vh;
  }
  &__wrap {
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-left: 15px;
    padding-right: 15px;
    display: table;
    width: 100%;
    height: 39vh;
  }
  &__inner {
    display: table-cell;
    vertical-align: middle;
  }
  &__item {
    height: 100%;
    .form-check-input:checked + .form-check-label,
    .form-check-label:hover {
      border-color: $primary;
    }
  }
  &__radio {
    width: 100%;
    height: 100%;
    padding: 5vh 20px 2vh;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(51, 51, 51, 0.1);
    border-radius: 4px;
    text-align: center;
    border: 1px solid transparent;
    transition: all .3s;
  }
  &__radio-title {
    font-weight: 500;
    font-size: 1.8vh;
    line-height: 1.37;
    display: block;
    color: #262521;
  }
  &__ic {
    display: inline-block;
    width: 8vh;
    height: 8vh;
    background-color: rgba(252, 177, 73, .2);
    border-radius: 50%;
    line-height: 7.9vh;
    margin-bottom: 2vh;
    .ic {
      width: 5.34vh;
      height: 5.34vh;
    }
  }

  .form-group {
    padding-left: 40px;
    padding-right: 40px;
    display: none;
  }

  @include media-breakpoint-up(md) {
    .form-group {
      margin-bottom: 2vh;
      margin-top: 2vh;
    }
    .ui-form-label {
      font-size: 1.4vh;
    }
    .form-control {
      padding-top: 1.6vh;
      padding-bottom: 1.6vh;
      font-size: 1.55vh;
    }
  }

  @include media-breakpoint-down(sm) {
    &__wrap {
      display: block;
      padding-left: 0;
      padding-right: 0;
      height: auto;
      margin-top: 10px;
      margin-bottom: 0;
    }
    &__title {
      font-size: 36px;
    }
    &__group {
      white-space: nowrap;
      overflow-x: auto;
      display: block;
      margin-left: -10px;
      margin-right: -10px;
      padding-bottom: 0;
    }
    &__inner {
      display: block;
    }
    &__col {
      display: inline-block;
      min-width: 116px;
      width: 33.3%;
      padding-left: 0;
      padding-right: 0;
      vertical-align: top;
    }
    &__ic {
      width: 48px;
      height: 48px;
      line-height: 46px;
      margin-bottom: 8px;
      .ic {
        width: 32px;
        height: 32px;
      }
    }
    &__item {
      padding-left: 8px;
      padding-right: 8px;
    }
    &__radio {
      padding-left: 14px;
      padding-right: 14px;
      height: 157px;
      margin-top: 15px;
      margin-bottom: 20px;
    }
    &__radio-title {
      white-space: normal;
      font-size: 14px;
      line-height: 1.65;
    }
    .ui-modal__note {
      display: none;
    }
    .ui-modal__btn {
      width: 100%;
    }
    .ui-form-label {
      font-size: 12px;
    }

    .form-group {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 20px;
    }

    .form-control {
      padding: 12px 12px 13px;
    }
  }
}
