mixin b-modal-location()

  .ui-modal.modal.modal_right.fade#modalLocation(tabindex="-1" role="dialog" aria-labelledby="modalLocationLabel" aria-hidden="true"  data-backdrop="static")
    .modal-dialog(role="document")
      .modal-content
        form.b-modal-location
          .ui-title.ui-title_ls_compact.ui-modal__title#modalLocationLabel Change Location
          .ui-modal__info Nisi suscipit fermentum nisl duis commodo cum ornare rutrum imperdiet blandit loborti felis aliquam.
          .b-modal-location__wrap
            .b-modal-location__inner
              .b-modal-location__group.row
                .b-modal-location__col.col
                  .b-modal-location__item
                    input.form-check-input.d-none(type="radio" name="location" id="location1" value="option1")
                    label.b-modal-location__radio.form-check-label.js-location(for="location1")
                      span.b-modal-location__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'flag-usa', className: 'ic fill-primary', iconWidth: '5.34vh', iconHeight: '5.34vh'})
                      span.b-modal-location__radio-title Across USA

                .b-modal-location__col.col
                  .b-modal-location__item
                    input.form-check-input.d-none(type="radio" name="location" id="location2" value="option1")
                    label.b-modal-location__radio.form-check-label.js-location(for="location2")
                      span.b-modal-location__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'city', className: 'ic fill-primary', iconWidth: '5.34vh', iconHeight: '5.34vh'})
                      span.b-modal-location__radio-title Delivery to  Manhattan

                .b-modal-location__col.col
                  .b-modal-location__item
                    input.form-check-input.d-none(type="radio" name="location" id="location3" value="option1")
                    label.b-modal-location__radio.form-check-label.js-location(for="location3")
                      span.b-modal-location__ic
                        != pugHelpers.Icon.call(locals, {iconName: 'globe', className: 'ic fill-primary', iconWidth: '5.34vh', iconHeight: '5.34vh'})
                      span.b-modal-location__radio-title International


              .form-group.text-left.js-input
                label.ui-form-label zip code
                input.form-control(type="text" placeholder="Enter Your Zip Code")

          button.ui-modal__btn.btn.btn-primary.js-location-btn(disabled data-dismiss="modal" aria-label="Close") start shopping
          .ui-modal__note Nisi suscipit fermentum nisl duis commodo cum ornare rutrum.


  // end .b-modal-location
  |
  |

