.b-card-group {
  padding-top: 77px;
}

.b-card {
  position: relative;
  width: 100%;
  margin-bottom: 24px;
  background-color: #FFF;
  padding: 24px 24px 18px;
  margin-bottom: 24px;
  height: calc(100% - 24px);
  box-shadow: 0px 2px 10px rgba(51, 51, 51, 0.08);
  border-radius: 4px;
  &__img {
    height: 160px;
    margin-bottom: 22px;
  }
  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #333333;
    margin-bottom: 12px;
  }
  &__list {
    margin-bottom: 0;
    &.active {
      .b-card {
        &__item {
          &:not(:nth-child(-n+4)) {
            height: 0;
            overflow: hidden;
          }
        }
      }
    }
  }
  &__item {
    transition: all .3s;
    height: auto;
  }
  &__link {
    font-size: 14px;
    line-height: 34px;
    color: #666666;
    display: block;
    position: relative;
    cursor: pointer;
    &:after {
      content: '';
      position: absolute;
      top: 12px;
      right: 0;
      display: block;
      width: 8px;
      height: 8px;
      border-right: none;
      border-top: 2px solid #A3A3A5;
      border-left: 2px solid #A3A3A5;
      border-radius: 1px;
      transform: rotate(135deg);
      transition: all .3s;
    }

    &_primary {
      color: $primary;
      letter-spacing: 0.5px;
      &:after {
        border-top-color: $primary;
        border-left-color: $primary;
      }
    }
  }
  &__descrip {
    padding-top: 5px;
    margin-bottom: 23px;
    font-size: 14px;
    line-height: 22px;
    height: 44px;
    overflow: hidden;
    letter-spacing: -.005em;
  }
}
