mixin b-card()

  .b-card
    .b-card__img
      img.img-scale(src="assets/media/content/b-card/1.jpg", alt="photo")
    .b-card__title Meat
    ul.b-card__list.list-unstyled
      li.b-card__item
        a.b-card__link(href="#") Caviar & Spread
      li.b-card__item
        a.b-card__link(href="#") Canned Fish
      li.b-card__item
        a.b-card__link(href="#") Herring (Seledka)
      li.b-card__item
        a.b-card__link(href="#") Smoked Fish
    .count


  // end .b-card
  |
  |
