.b-title-page {
  text-align: center;
  display: table;
  height: 320px;
  width: 100%;
  background-size: cover;
  background-position: 50%;
  border-radius: 4px;
  overflow: hidden;
  background-color: #85793a;
  &__inner {
    display: table-cell;
    vertical-align: middle;
    font-weight: 500;
    font-size: 48px;
    line-height: 1.167;
    color: #FFFFFF;
    padding-left: 50px;
    padding-bottom: 17px;
  }

  &__name {
    color: #FFF;
    margin-bottom: 9px;
    padding-top: 16px;
  }

  &__label {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: $red;
    border-radius: 4px;
    margin-left: -50px;
    padding: 19px 38px;
  }

  &_mod-a {
    background-image: url("../media/content/b-title-page/bg-1.jpg");
  }

  &_mod-b {
    background-image: url("../media/content/b-title-page/bg-2.jpg");
  }

  &_mod-c {
    background-image: url("../media/content/b-title-page/bg-3.jpg");
  }

  &_mod-d {
    background-image: url("../media/content/b-title-page/bg-4.jpg");
  }

  &_pl_sm & {
    &__inner {
      padding-left: 21px;
    }
  }

  @include media-breakpoint-down(lg) {
    height: 200px;
    &__inner {
      padding-left: 0;
      padding-bottom: 0;
    }
  }


  @include media-breakpoint-down(md) {
    &__label {
      margin-left: 20px;
      margin-right: 20px;
      font-size: 14px;
      padding: 16px 18px;
    }
  }

  @include media-breakpoint-down(sm) {
    border-radius: 0;
    height: 72px;
    &__inner {
      font-size: 18px;
    }
  }
}
