mixin b-title-page(title)

  .b-title-page(class!=attributes.class)
    h1.b-title-page__inner= title


  // end .b-title-page
  |
  |

mixin b-title-page_w-label(title, label)

  .b-title-page(class!=attributes.class)
    .b-title-page__inner
      h1.b-title-page__name= title
      span.b-title-page__label= label


  // end .b-title-page
  |
  |
