.b-cart-empty {
  text-align: center;
  padding-top: 23px;
  padding-bottom: 159px;
  &__title {
    padding-bottom: 21px;
  }
  &__info {
    line-height: 1.56;
    padding: 0 50px 58px;
  }
  &__ic {
    display: inline-block;
    margin-bottom: 58px;
    width: 120px;
    height: 120px;
    line-height: 117px;
    background-color: rgba(252, 177, 73, .2);
    border-radius: 50%;
    margin-right: 9px;
  }
  &__btn {
    width: 260px;
    letter-spacing: 1px;
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 50px;
    &__info {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
