mixin b-cart-empty(title)

  .b-cart-empty(class!=attributes.class)
    .row
      .col-xl-6.offset-xl-3
        .b-cart-empty__title.ui-title-inner Your shopping cart is empty
        .b-cart-empty__info Nisi suscipit fermentum nisl duis commodo cum ornare rutrum imperdiet blandit lobortis, felis aliquam curae; habitasse luctus condimentum integer, cum vel.
        .b-cart-empty__ic
          != pugHelpers.Icon.call(locals, {iconName: 'advant-2', className: 'ic fill-primary', iconWidth: '64', iconHeight: '64'})
        .d-block
          a.b-cart-empty__btn.btn.btn-primary(href="#") shopping


  // end .b-cart-empty
  |
  |
