.b-main-slider {
  margin-bottom: 16px;
  &:hover {
    z-index: 10;
  }
  &__item {
    color: #FFF;
    position: relative;
    min-height: 400px;
    padding-top: 65px;
    padding-bottom: 40px;
    overflow: hidden;
    border-radius: 4px;
    &:hover {
      text-decoration: none;
    }

    &_dark {
      .b-main-slider {
        &__title {
          color: #FFF;
        }
        &__info {
          color: #FFF;
        }
      }
    }

    &_mod-a {
      .b-main-slider__main {
        padding-left: 10%;
        padding-right: 0;
      }
      .b-main-slider__title {
        margin-bottom: 20px;
      }
    }
  }
  &__img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  &__main {
    position: relative;
    z-index: 1;
    padding-right: 10%;
  }
  &__title {
    font-weight: bold;
    font-size: 34px;
    line-height: 1.35;
    color: #262521;
    margin-bottom: 30px;
    max-height: 90px;
    overflow: hidden;
  }
  &__info {
    line-height: 1.56;
    color: #666666;
    margin-bottom: 28px;
    max-height: 84px;
    overflow: hidden;
  }
  .btn {
    text-transform: none;
  }
  .slick-arrow {
    opacity: 0;
  }
  .slick-dots {
    bottom: 12px;
  }

  &:hover {
    .slick-arrow {
      opacity: 1;
    }
  }


  @include media-breakpoint-down(md) {
    margin-bottom: 8px;
    &__info {
      display: none;
    }
    &__title {
      font-size: 18px;
      line-height: 1.22;
      max-height: 66px;
      margin-bottom: 12px;
    }
    &__img {
      object-position: right;
    }
    &__main {
      margin-left: -7px;
    }
    &__item {
      min-height: 144px;
      padding-top: 20px;
      padding-bottom: 30px;
      margin-bottom: 15px;
      border-radius: 0;
      margin-bottom: 0;

      &_mod-a {
        .b-main-slider__main {
          padding-left: 0;
        }
        .b-main-slider__title {
          margin-bottom: 12px;
        }
      }
    }
    .slick-dots {
      bottom: 9px;
    }
  }


  @include media-breakpoint-down(sm) {
    margin-left: -20px;
    margin-right: -20px;
  }
}
