mixin b-main-slider()
  .b-main-slider.js-slider(data-slick='{"autoplay": true, "autoplaySpeed": 5000, "dots": true, "responsive": [{"breakpoint": 768, "settings": {"arrows": false}}]}')
    a.b-main-slider__item(href="#")
      img.b-main-slider__img.img-scale(src="assets/media/content/b-main-slider/1.jpg", alt="photo")
      .row.no-gutters
        .col-6.offset-6
          .b-main-slider__main
            .b-main-slider__title Powerful User<br>Experience Design Tool
            .b-main-slider__info  It's a dangerous business, Frodo, going out your door. You step onto the road Where the Shadows lie.
            span.btn.btn-danger.btn-sm.d-lg-inline-block.d-none Learn More
            span.btn-link.d-inline-block.d-lg-none See More

    a.b-main-slider__item.b-main-slider__item_dark(href="#")
      img.b-main-slider__img.img-scale(src="assets/media/content/b-main-slider/2.jpg", alt="photo")
      .row.no-gutters
        .col-6.offset-6
          .b-main-slider__main
            .b-main-slider__title Powerful User<br>Experience Design Tool
            .b-main-slider__info  It's a dangerous business, Frodo, going out your door. You step onto the road Where the Shadows lie.
            span.btn.btn-primary.btn-sm.d-lg-inline-block.d-none Learn More
            span.btn-link.d-inline-block.d-lg-none See More

    a.b-main-slider__item.b-main-slider__item_dark.b-main-slider__item_mod-a(href="#")
      img.b-main-slider__img.img-scale(src="assets/media/content/b-main-slider/3.jpg", alt="photo")
      .row
        .col-5.offset-4
          .b-main-slider__main
            .b-main-slider__title Powerful User<br>Experience Design Tool
            .b-main-slider__info  It's a dangerous business, Frodo, going out your door. You step onto the road Where the Shadows lie.
            span.btn.btn-secondary.btn-sm.d-lg-inline-block.d-none Learn More
            span.btn-link.d-inline-block.d-lg-none See More

    a.b-main-slider__item(href="#")
      img.b-main-slider__img.img-scale(src="assets/media/content/b-main-slider/4.jpg", alt="photo")
      .row.no-gutters
        .col-6.offset-6
          .b-main-slider__main
            .b-main-slider__title Powerful User<br>Experience Design Tool
            .b-main-slider__info  It's a dangerous business, Frodo, going out your door. You step onto the road Where the Shadows lie.
            span.btn.btn-danger.btn-sm.d-lg-inline-block.d-none Learn More
            span.btn-link.d-inline-block.d-lg-none See More

    a.b-main-slider__item(href="#")
      img.b-main-slider__img.img-scale(src="assets/media/content/b-main-slider/5.jpg", alt="photo")
      .row.no-gutters
        .col-6.offset-6
          .b-main-slider__main
            .b-main-slider__title Powerful User<br>Experience Design Tool
            .b-main-slider__info  It's a dangerous business, Frodo, going out your door. You step onto the road Where the Shadows lie.
            span.btn.btn-white.btn-sm.d-lg-inline-block.d-none Learn More
            span.btn-link.d-inline-block.d-lg-none See More


  // .b-main-slider
  |
  |


