.b-contacts {
  &__item {
    margin-top: 27px;
    margin-bottom: 36px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  &__link {
    color: #333;
    text-transform: none;
  }
  .ui-title-inner {
    margin-bottom: 22px;
  }
}

.b-contacts-form {
  position: relative;
  margin-top: 100px;
  &__main {
    margin: 60px -10px;
    padding: 53px 19% 53px 20%;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(51, 51, 51, .08);
  }
  &__item {
    position: absolute;
    z-index: 1;
    mix-blend-mode: darken;
    &_1 {
      top: 150px;
      left: 0;
    }
    &_2 {
      right: 0;
      bottom: 160px;
    }
  }
  .form-group {
    margin-bottom: 11px;
  }
  textarea {
    height: 168px;
  }
  .btn {
    margin-top: 14px;
  }

  @include media-breakpoint-down(lg) {
    margin-top: 40px;
    &__item {
      max-width: 200px;
    }
  }
  @include media-breakpoint-down(md) {
    &__main {
      margin-top: 40px;
      padding: 20px;
    }
    &__item {
      bottom: -20px;
      width: 50%;
      height: 120px;
      &_1 {
        top: auto;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &__item {
      bottom: -40px;
    }
  }
}
