mixin b-contacts()

  section.b-contacts.user-content
    .container
      .row
        .col-md-6
          .ui-img
            img.img-scale(src="assets/media/content/b-contacts/1.jpg", alt="photo")
        .col-md-6
          h2 Contact  Information
          p We’re here to help! Call or email the
            |
            |
            a(href="RussianFoodUSA.com") RussianFoodUSA.com
            |  Customer Loyalty Team. We’re available to answer questions Monday through Friday 9am - 5pm.
          .b-contacts__item Phone:
            |
            |
            a.b-contacts__link(href="tel:8006069481") (800) 606-9481
          p Got a question? Drop us an email. We respond to emails in the order they are received, and will reply as quickly as possible.
          .b-contacts__item Email us at at:
            |
            |
            a.b-contacts__link(href="mailto:info@russianfoodusa.com") info@russianfoodusa.com

    .b-contacts-form
      img.b-contacts-form__item.b-contacts-form__item_1(src="assets/media/content/b-contacts/item-1.png", alt="photo")
      img.b-contacts-form__item.b-contacts-form__item_2(src="assets/media/content/b-contacts/item-2.png", alt="photo")
      .container
        .row
          .col-xl-6.offset-xl-3
            .text-center
              h2.ui-title Contact  Us
              p You can send a message to us using the form below.

            form.b-contacts-form__main.needs-validation(novalidate)
              .form-group
                label.ui-form-label Email
                input.form-control(type="text" placeholder="Your Email" required)
                .invalid-tooltip Error Email
              .form-group
                label.ui-form-label Subject
                input.form-control(type="text" placeholder="Subject" required)
                .invalid-tooltip Error Subject

              .form-group
                label.ui-form-label Message
                textarea.form-control(placeholder="Enter Your Text"  required)
                .invalid-tooltip Error Message

              .text-center
                button.btn.btn-primary submit massage

  // end .b-contacts
  |
  |
