.b-modal-sort {
  padding: 18px 26px;

  .custom-control {
    margin-bottom: 16px;
  }
  .custom-control-label {
    &:before,
    &:after {
      left: -30px;
    }
  }
  .btn {
    width: 134px;
  }
}
