mixin b-modal-sort()

  .ui-modal.modal.modal_full.fade#modalSort(tabindex="-1" role="dialog" aria-labelledby="modalSortLabel" aria-hidden="true")
    .modal-dialog(role="document")
      .modal-content
        .ui-modal__header
          button.toggle-menu-button.close(type="button" data-dismiss="modal" aria-label="Close" aria-expanded="true")
            i.toggle-menu-button-icon
              span
              span
              span
              span
              span
              span

          .ui-modal__logo
            img.img-fluid(src="assets/media/general/logo.png", alt="RussianFoodUSA")
          .ui-modal__title-mobile#modalSortLabel Sort by

        .b-modal-sort
          .custom-control.custom-checkbox
            input(type="checkbox" class="custom-control-input" id="sortCheckbox1")
            label.custom-control-label(for="sortCheckbox1") Relevance
          .custom-control.custom-checkbox
            input(type="checkbox" class="custom-control-input" id="sortCheckbox2")
            label.custom-control-label(for="sortCheckbox2") Top Rated
          .custom-control.custom-checkbox
            input(type="checkbox" class="custom-control-input" id="sortCheckbox3")
            label.custom-control-label(for="sortCheckbox3") Price Low to High
          .custom-control.custom-checkbox
            input(type="checkbox" class="custom-control-input" id="sortCheckbox4")
            label.custom-control-label(for="sortCheckbox4") Price High to Low

          .text-center
            button.btn.btn-shadow.text-secondary.btn-sm.mt-3(type="button") Select


  // end .b-modal-sort
  |
  |

