.b-order {
  display: flex;
  justify-content: center;
  padding-top: 21px;
  padding-bottom: 121px;
  &__form {
    padding-bottom: 30px;
    max-width: 1006px;
  }
  &__section {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
  &__card {
    background-color: #FFF;
    box-shadow: 0px 2px 10px rgba(51, 51, 51, 0.08);
    border-radius: 4px;
    position: relative;
    &.disabled {
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.6;
        user-select: none;
        background-color: #F4F8FA;
      }
      &.b-order-total {
        padding-bottom: 52px;
      }
      .b-order-total__submit {
        display: none;
      }
    }
  }
  &__card-inner {
    padding: 18px 32px 38px;
  }
  &__main {
    margin-top: 40px;
    height: 775px;
    overflow: auto;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
  &__main-wrap {
    padding-right: 12px;
    padding-bottom: 30px;
  }

  &__progress-wrap {
    background-color: #FFF;
    padding: 16px 20px 2px;
    margin-bottom: 16px;
  }
  &__progress {
    font-weight: 500;
    font-size: 14px;
    color: #666666;
    margin-bottom: 42px;
  }
  &__progress-title {
    font-size: 14px;
    text-align: center;
    color: #333333;
    padding-top: 2px;
    margin-bottom: 11px;
  }
  &__title-inner {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.67;
    color: #333333;
    margin-bottom: 28px;
  }
  .ui-title-inner {
    margin-bottom: 27px;
  }

  .form-check-input:checked + .b-order-payment__item {
    display: block;
  }

  @include media-breakpoint-down(lg) {
    &__main {
      height: auto;
      overflow: inherit;
    }
    &__main-wrap {
      padding-right: 0;
    }
    &__progress {
      margin-bottom: 15px;
    }
    &__main-wrap {
      padding-bottom: 40px;
    }
    &__card {
      margin-bottom: 20px;
    }
  }

  @include media-breakpoint-down(sm) {
    display: block;
    padding-bottom: 30px;
    &__form {
      margin-left: -12px;
      margin-right: -12px;
    }
    &__main {
      margin-top: 10px;
    }
    &__card {
      border-radius: 0;
      &.disabled {
        &.b-order-total {
          padding-bottom: 12px;
        }
      }
    }
    &__progress-title {
      font-size: 12px;
      padding-top: 0;
      margin-bottom: 13px;
    }
    &__title-inner {
      line-height: 1.4;
    }
    &__card-inner {
      padding-left: 20px;
      padding-right: 20px;
    }
    .ui-title-inner {
      font-size: 24px;
      padding-left: 20px;
      margin-bottom: 20px;
      letter-spacing: 0;
    }
  }
}

.b-order-header {
  padding: 0 56px 0 34px;
  background-color: #FFF;
  box-shadow: 0px 2px 10px rgba(51, 51, 51, 0.08);
  z-index: 1;
  position: relative;
  height: 88px;
  &__logo {
    margin-top: 12px;
  }
  .btn {
    margin-top: 23px;
    padding: 12px 10px 11px;
    letter-spacing: 1px;
    width: 260px;
  }
  .toggle-menu-button {
    left: auto;
    right: 16px;
    top: 23px;
  }

  @include media-breakpoint-down(sm) {
    height: 64px;
    padding-left: 20px;
    box-shadow: none;
    &__logo {
      max-width: 195px;
      margin-top: 9px;
    }
    .toggle-menu-button {
      right: 17px;
      top: 26px;
    }
  }
}

.b-order-cart {
  padding-bottom: 79px;
  &__table {
    margin-bottom: 35px;
  }
  &__total {
    font-size: 18px;
    color: #666666;
  }
  &__item {
    padding: 15px 19px 15px 24px;
    overflow: hidden;
    &:not(:last-child) {
      border-bottom: 1px solid #EDF0F2;
    }
  }
  &__img {
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
  }
  &__title {
    font-size: 16px;
    color: #666666;
    line-height: 1.5;
    margin-left: -7px;
    margin-right: 50px;
  }
  &__price {
    font-weight: 500;
    font-size: 18px;
    color: #333333;
    text-align: center;
  }
  &__del {
    border: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 12px;
    color: #999999;
    transition: all .3s;
    &:hover {
      color: #F05250;
    }
  }

  &__total {
    width: 276px;
    padding-top: 2px;
  }
  &__bonus {
    font-weight: 500;
    color: #333333;
  }
  &__bonus-info {
    display: block;
    color: $green;
    margin-top: 13px;
  }
  &__weight {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    font-size: 14px;
    color: #666666;
  }
  &__weight-title {
  }
  &__weight-number {
    font-weight: bold;
  }
  &__subtotal {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 24px;
    color: #333333;
  }
  &__subtotal-title {}
  &__subtotal-number {}

  .ui-enumerator {
    box-shadow: 0px 2px 10px rgba(51, 51, 51, 0.08);
    border-radius: 4px;
    padding: 14px 25px;
    margin-left: -23px;
    margin-right: 10px;
    margin-top: 2px;
    &__input {
      width: 58px;
      padding-right: 5px;
    }
  }

  @include media-breakpoint-down(md) {
    &__del {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .ui-enumerator {
      box-shadow: none;
      padding: 0;
      margin-left: 0;
      margin-right: 0;
      &__input {
        width: 38px;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &__del {
      font-size: 10px;
    }
    &__item {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 18px;
    }
    &__total {
      padding-right: 32px;
    }
    &__img {
      width: 56px;
      height: 56px;
      margin-bottom: 9px;
    }
    &__title {
      font-size: 12px;
      margin-left: -10px;
      line-height: 1.67;
      margin-bottom: 9px;
    }
  }
}

.b-order-info {
  &__section {
    padding: 18px 32px 38px;
  }
  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.67;
    color: #333333;
    margin-bottom: 28px;
  }

  .form-group {
    margin-bottom: 12px;
  }
  .custom-control-label {
    font-size: 14px;
    &:before,
    &:after {
      top: -1px;
    }
  }
  &__submit {
    display: block;
    letter-spacing: 1px;
    width: 314px;
    margin: 32px auto 0;
  }

  @include media-breakpoint-down(lg) {
    margin-bottom: 20px;
  }

  @include media-breakpoint-down(sm) {
    &__section {
      padding: 14px 20px 8px;
      margin-bottom: 16px;
    }
    &__title {
      font-size: 18px;
      margin-bottom: 8px;
    }
    &__submit {
      width: 100%;
    }

    .form-group {
      margin-bottom: 13px;
    }
    .custom-control-label {
      font-size: 12px;
    }
  }
}

.b-order-shipping {
  margin-bottom: 20px;
  &__item {
    padding: 0 32px 24px;
    &:first-child {
      padding-top: 31px;
    }
    &:not(:last-child) {
      margin-bottom: 29px;
      border-bottom: 1px solid #EDF0F2;
    }
  }
  &__price {
    font-weight: 500;
    color: #333333;
  }
  &__label {
    font-weight: 500;
    color: #666666;
  }

  .b-order__title-inner {
    margin-bottom: 15px;
    padding: 18px 32px 0;
  }
  .custom-control {
    padding-left: 35px;
  }
  .custom-control-label {
    font-size: 18px;
    font-weight: 500;
    &:before,
    &:after {
      left: -35px;
      top: 2px;
    }
  }
  .custom-control-input:checked + .custom-control-label {
    color: #333;
  }

  @include media-breakpoint-down(sm) {
    &__item {
      padding: 0 20px 16px 14px;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
    &__price {
      line-height: 1.2;
    }
    .b-order__title-inner {
      padding-left: 20px;
      padding-right: 20px;
    }
    .custom-control-label {
      font-size: 14px;
      margin-right: -5px;
      &:before,
      &:after {
        left: -25px;
        top: 2px;
      }
    }
  }
}

.b-order-destination {
  &__item {
    padding: 30px 32px 29px;
    &:first-child {
      padding-top: 31px;
    }
    &:not(:last-child) {
      border-bottom: 1px solid #EDF0F2;
    }
  }
  &__price {
    font-weight: 500;
    color: #333333;
  }
  &__label {
    font-weight: 500;
    color: #666666;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 27px;
    .ui-title-inner {
      margin-bottom: 0;
    }
  }
  &__address {
    color: #666666;
    margin-left: 26px;
    letter-spacing: 0;
    font-size: 18px;
    font-weight: normal;
  }
  &__header-btn {
    color: $green;
    border-color: $green;
    width: 170px;
    letter-spacing: 0.5px;
  }

  @include media-breakpoint-down(md) {
    &__header {
      display: block;
    }
    &__header-btn {
      margin-top: 10px;
    }
  }

  @include media-breakpoint-down(sm) {
    &__item {
      padding: 28px 20px 11px 14px;
    }
    &__price {
      line-height: 1.2;
    }
    &__item {
      padding-top: 19px;
      padding-bottom: 16px;
      &:first-child {
        padding-top: 19px;
      }
    }
    &__address {
      display: block;
      margin-top: 5px;
      margin-bottom: 10px;
      margin-left: 0;
    }
    &__header .ui-title-inner {
      padding-left: 0;
    }
  }
}



.b-order-payment {
  &__inner {
    padding: 24px 32px 24px;
  }
  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
    margin-bottom: 30px;
  }
  &__item {
    padding: 0 32px 24px;
    &:first-child {
      padding-top: 31px;
    }
    &:not(:last-child) {
      margin-bottom: 29px;
      border-bottom: 1px solid #EDF0F2;
    }
  }
  &__info {
    font-size: 14px;
    color: #999999;
    margin-left: 22px;
  }

  .b-order__title-inner {
    margin-bottom: 15px;
    padding: 18px 32px 0;
  }

  .custom-control-label {
    font-weight: 500;
    color: #666666;
    font-size: 18px;
    padding-left: 10px;
  }
  .custom-control-input:checked ~ .custom-control-label {
    color: #333;
  }

  @include media-breakpoint-down(sm) {
    &__inner {
      padding: 13px 20px 14px;
    }
    &__main {
      width: 100%;
    }
    &__title {
      font-size: 18px;
      margin-bottom: 12px;
    }
    &__item {
      padding: 0 20px 16px 24px;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
    &__nav {
      margin-bottom: 13px;
    }
    .b-order__title-inner {
      padding-left: 20px;
      padding-right: 20px;
    }
    .custom-control-label {
      font-size: 14px;
      padding-left: 5px;
      &::before,
      &::after {
        top: -1px;
      }
    }
  }
}


.b-order-total {
  padding-top: 19px;
  padding-bottom: 19px;
  &__inner {
    border-radius: 0;
    padding-bottom: 20px;
  }
  &__wrap {
    padding-left: 32px;
    padding-right: 32px;
  }
  &__title {
    padding: 40px 24px 27px;
    border-bottom: 1px solid #EDF0F2;
  }
  &__table {
    width: 100%;
    color: #666666;
    line-height: 1.334;
    margin-bottom: 4px;
    td {
      padding: 0 0 17px;
      &:last-child {
        padding-left: 0;
        text-align: right;
      }
    }
  }
  &__table-trigg {
    background-color: #FFF;
    border: none;
    color: $green;
    padding-left: 0;
    padding-right: 0;
  }
  .b-order__title-inner {
    margin-bottom: 10px;
  }
  &__foot {
    font-weight: 500;
    font-size: 24px;
    color: #333333;
    display: flex;
    justify-content: space-between;
    padding: 21px 2px 22px;
    align-items: center;
  }
  &__foot-title {
    font-size: 32px;
    letter-spacing: -1px;
  }
  &__foot-numb {}
  &__promo {
    padding-right: 60px;
    padding-bottom: 8px;
  }
  & &__textarea {
    height: 116px;
    margin-bottom: 25px;
  }
  &__accept {
    font-size: 14px;
    color: #999;
    a {
      text-decoration: underline;
    }
    .custom-control-label {
      font-size: 14px;
      color: #999;
      padding-left: 5px;
      padding-top: 3px;
      vertical-align: baseline;
    }
  }
  &__submit {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 314px;
    margin-top: 6px;
    letter-spacing: 1px;
  }
  &__info {
    color: #666666;
    line-height: 1.56;
  }
  &__no-data {
    color: #999999;
  }
  &__note {
    font-size: 14px;
    color: $secondary;
    margin-top: 18px;
    margin-bottom: 17px;
    line-height: 1.1428;
  }
  &__link {
    color: #666666;
    text-decoration: underline;
  }
  &__footer {
  }
  &__btn-row {
    margin-left: -4px;
    background-color: #FFF;
    padding-left: 25px;
    padding-right: 25px;
  }
  &__section {
    border-bottom: 1px solid #EDF0F2;
  }
  &__bonus {
    font-weight: 500;
    color: #333333;
    padding-bottom: 34px;
  }
  &__bonus-num {
    display: block;
    color: $green;
    margin-top: 7px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  @include media-breakpoint-down(lg) {
    margin-right: 0;
    &__inner {
      padding-top: 24px;
    }
    &__inner {
      margin-right: 0;
    }
  }

  @include media-breakpoint-down(sm) {
    &__wrap {
      padding-left: 20px;
      padding-right: 20px;
    }
    &__btn-row {
      border-radius: 0 4px 4px 0;
      padding-left: 17px;
      padding-right: 18px;
    }
    &__table {
      margin-top: 24px;
      td {
        padding-bottom: 21px;
        padding-right: 20px;
      }
      tbody {
        tr {
          &:last-child {
            td {
              padding-bottom: 19px;
            }
          }
        }
      }
    }
    &__table-footer {
      td {
        padding-top: 15px;
        padding-bottom: 3px;
        padding-left: 20px;
      }
    }
    &__promo {
      padding-right: 0;
    }
    &__submit {
      width: 100%;
      margin-top: 20px;
    }
    .ui-form-label {
      font-size: 12px;
    }
    .form-group {
      margin-bottom: 26px;
    }
  }
}


.b-order-footer {
  align-items: flex-end;
  &__clear {
    background-color: #9DAFBD;
    letter-spacing: 1px;
    width: 203px;
    padding-left: 10px;
    padding-right: 10px;
  }
  &__group {
    width: 314px;
  }
  &__btn {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    letter-spacing: 1px;
    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }

  @include media-breakpoint-down(sm) {
    &__group {
      width: 100%;
      margin-top: 13px;
    }
  }
}


.b-order-subtable {
  width: 100%;
  margin-bottom: 15px;
  font-size: 16px;
  &__row {
    vertical-align: top;
    border-bottom: 1px solid #EDF0F2;
  }
  & &__title {
    padding-left: 15px;
    color: $green;
  }
  &__name {
    width: 240px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__article {
    display: block;
  }
  & &__number {
    padding-left: 20px;
    padding-right: 20px;
  }
  &__price {}
  tr {
    &:not(:first-child) {
      td {
        padding-top: 15px;
      }
    }
  }


  @include media-breakpoint-down(sm) {
    font-size: 14px;
    &__title {
      display: block;
    }
    & &__title {
      padding-left: 10px;
      padding-right: 0;
    }
    & &__number {
      display: inline-block;
      padding-left: 10px;
    }
    & &__price {
      display: inline-block;
      &:last-child {
        text-align: left;
        padding-left: 10px;
      }
    }
    &__row {
      display: block;
      margin-bottom: 20px;
    }
    &__name {
      width: 210px;
    }
    tr {
      &:not(:first-child) {
        td {
          padding-top: 0;
        }
      }
    }
  }
}


.b-order-address {
  margin-bottom: 20px;
  &__edit {
    background-color: #FFF;
    border: none;
    position: absolute;
    right: 26px;
    top: 17px;
  }
  &__list {
    margin-bottom: 0;
  }
  &__item {
    color: #666666;
    line-height: 1.56;
    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }
  .b-order__title-inner {
    margin-bottom: 10px;
  }
  .b-order__card-inner {
    padding-bottom: 33px;
  }
}
