mixin b-order()
  .b-order
    .b-order-header
      .row.justify-content-between.align-items-start
        .col-auto
          .b-order-header__logo
            img.img-fluid(src="assets/media/general/logo.png", alt="RussianFoodUSA")
        .col-auto
          a.btn.btn-secondary.d-none.d-lg-block(href="catalog.html") continue shopping

      a.toggle-menu-button.d-lg-none(href="catalog.html" aria-expanded="true")
        i.toggle-menu-button-icon
          span
          span
          span
          span
          span
          span

    .container
      form.b-order__form.row.needs-validation(novalidate)
        .col-xl-9.pr-xl-0
          .b-order__main.js-scroll-pane
            .b-order__main-wrap
              .b-order-cart.b-order__section
                .row.justify-content-between.align-items-baseline
                  .col
                    .ui-title-inner Cart
                  .b-order-cart__total.col-auto 3 items

                .b-order__progress-wrap.d-xl-none
                  .b-order__progress-title $29.03 away from FREE shipping
                  .b-order__progress.row.justify-content-between.align-items-center
                    .col-auto $0
                    .col
                      .progress
                        .progress-bar(role="progressbar" style="width: 40%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100")
                    .col-auto $150

                .b-order-cart__table.b-order__card
                  .b-order-cart__item
                    .row.align-items-center
                      .col-lg-7
                        .row.align-items-center
                          .col-auto
                            .b-order-cart__img
                              img.img-scale(src="assets/media/content/b-order/1.jpg", alt="photo")
                          .col
                            .b-order-cart__title Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg
                      .col-lg-5
                        .row.align-items-center.justify-content-between
                          .col-auto
                            .ui-enumerator
                              span.ui-enumerator__btn.js-minus
                                != pugHelpers.Icon.call(locals, {iconName: 'minus', className: 'ic', iconWidth: '8', iconHeight: '2'})
                              input.ui-enumerator__input(type="text" value="1")
                              span.ui-enumerator__btn.js-plus
                                != pugHelpers.Icon.call(locals, {iconName: 'plus', className: 'ic', iconWidth: '8', iconHeight: '8'})
                          .col-lg.col-auto.order-last.order-lg-0
                            .b-order-cart__price $ 15.95
                          .col-lg-auto.col
                            button.b-order-cart__del(type="button") Remove
                  .b-order-cart__item
                    .row.align-items-center
                      .col-lg-7
                        .row.align-items-center
                          .col-auto
                            .b-order-cart__img
                              img.img-scale(src="assets/media/content/b-order/2.jpg", alt="photo")
                          .col
                            .b-order-cart__title Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg
                      .col-lg-5
                        .row.align-items-center.justify-content-between
                          .col-auto
                            .ui-enumerator
                              span.ui-enumerator__btn.js-minus
                                != pugHelpers.Icon.call(locals, {iconName: 'minus', className: 'ic', iconWidth: '8', iconHeight: '2'})
                              input.ui-enumerator__input(type="text" value="1")
                              span.ui-enumerator__btn.js-plus
                                != pugHelpers.Icon.call(locals, {iconName: 'plus', className: 'ic', iconWidth: '8', iconHeight: '8'})
                          .col-lg.col-auto.order-last.order-lg-0
                            .b-order-cart__price $ 15.95
                          .col-lg-auto.col
                            button.b-order-cart__del(type="button") Remove
                  .b-order-cart__item
                    .row.align-items-center
                      .col-lg-7
                        .row.align-items-center
                          .col-auto
                            .b-order-cart__img
                              img.img-scale(src="assets/media/content/b-order/3.jpg", alt="photo")
                          .col
                            .b-order-cart__title Decorative Plate "Winter Troika", 10 cm
                      .col-lg-5
                        .row.align-items-center.justify-content-between
                          .col-auto
                            .ui-enumerator
                              span.ui-enumerator__btn.js-minus
                                != pugHelpers.Icon.call(locals, {iconName: 'minus', className: 'ic', iconWidth: '8', iconHeight: '2'})
                              input.ui-enumerator__input(type="text" value="1")
                              span.ui-enumerator__btn.js-plus
                                != pugHelpers.Icon.call(locals, {iconName: 'plus', className: 'ic', iconWidth: '8', iconHeight: '8'})
                          .col-lg.col-auto.order-last.order-lg-0
                            .b-order-cart__price $ 15.95
                          .col-lg-auto.col
                            button.b-order-cart__del(type="button") Remove


              .b-order-info.b-order__section
                .ui-title-inner Shipping address
                .row
                  .col-md-6
                    .b-order-info__section.b-order__card
                      .b-order-info__title Personal information
                      .form-group
                        label.ui-form-label First name
                        input.form-control(type="text" placeholder="Your first name" required)
                        .invalid-tooltip Error name
                      .form-group
                        label.ui-form-label Last name
                        input.form-control(type="text" placeholder="Your last name" required)
                        .invalid-tooltip Error name
                      .form-group
                        label.ui-form-label Phone
                        input.form-control(type="text" placeholder="Your phone" required)
                        .invalid-tooltip Error phone
                      .form-group
                        label.ui-form-label Email
                        input.form-control(type="email" placeholder="Your email" required)
                        .invalid-tooltip Error email
                      .custom-control.custom-checkbox.pt-md-3.pt-md-2.pt-1
                        input.custom-control-input#shippingAddress(type="checkbox")
                        label.custom-control-label(for="shippingAddress") Create account for this Email

                  .col-md-6
                    .b-order-info__section.b-order__card.mb-0
                      .b-order-info__title Address information
                      .form-group
                        label.ui-form-label address
                        input.form-control(type="text" placeholder="Your first name" required)
                        .invalid-tooltip Error address
                      .form-group
                        label.ui-form-label address 2
                        input.form-control(type="text" placeholder="Your last name" required)
                        .invalid-tooltip Error address

                      .row
                        .col-md-6
                          .form-group
                            label.ui-form-label Phone
                            input.form-control(type="text" placeholder="Your phone" required)
                            .invalid-tooltip Error phone
                        .col-md-6
                          .form-group
                            label.ui-form-label Country
                            select.js-select(data-width="100%" data-style="ui-select ui-select_lg" required)
                              option(value="") Country 1
                              option(value="") Country 2
                              option(value="") Country 3

                      .row
                        .col-md-6
                          .form-group
                            label.ui-form-label State
                            select.js-select(data-width="100%" data-style="ui-select ui-select_lg" required)
                              option(value="") State 1
                              option(value="") State 2
                              option(value="") State 3
                        .col-md-6
                          .form-group
                            label.ui-form-label Zip/postal  code
                            input.form-control(type="text" placeholder="Your phone" required)
                            .invalid-tooltip Error code

                      .custom-control.custom-checkbox.pt-md-3.pt-md-2.pt-1
                        input.custom-control-input#addressInformation(type="checkbox")
                        label.custom-control-label(for="addressInformation") Make billing as shipping


              .b-order-shipping.b-order__section
                .ui-title-inner Shipping Method
                .b-order__card
                  .b-order-shipping__item
                    .row
                      .col
                        .custom-control.custom-checkbox
                          input.custom-control-input#shipping1(type="checkbox")
                          label.custom-control-label(for="shipping1") Standard (continantal US)
                      .col-auto
                        .b-order-shipping__price $15.45
                  .b-order-shipping__item
                    .row
                      .col
                        .custom-control.custom-checkbox
                          input.custom-control-input#shipping2(type="checkbox")
                          label.custom-control-label(for="shipping2") Second day (continantal US)
                      .col-auto
                        .b-order-shipping__price $29.48
                  .b-order-shipping__item
                    .row
                      .col
                        .custom-control.custom-checkbox
                          input.custom-control-input#shipping3(type="checkbox")
                          label.custom-control-label(for="shipping3") Overnight (continantal US)
                      .col-auto
                        .b-order-shipping__price $56.89



              .b-order-payment.b-order__section
                .ui-title-inner Payment Method
                .b-order-payment__inner.b-order__card
                  .b-order-payment__title Pyment information

                  .b-order-payment__nav
                    input.form-check-input.d-none(type="radio" name="orderPayment" id="orderPayment1" value="PayPal")
                    label.form-check-label.btn.btn-light.js-switch-payment(for="orderPayment1") PayPal

                    input.form-check-input.d-none(type="radio" name="orderPayment" id="orderPayment2" value="CreditCard" checked)
                    label.form-check-label.btn.btn-light.ml-3.js-switch-payment(for="orderPayment2") Credit Card


                  .b-order-payment__main
                    .form-group
                      label.ui-form-label Card number
                      input.form-control(type="text" placeholder="Your card number" required)
                      .invalid-tooltip Error number
                    .form-group
                      label.ui-form-label Name on card
                      input.form-control(type="text" placeholder="Your name" required)
                      .invalid-tooltip Error name

                    .row
                      .col-6
                        .form-group
                          label.ui-form-label expiration month
                          select.js-select(data-width="100%" data-style="ui-select ui-select_lg" required)
                            option(value="") Option 1
                            option(value="") Option 2
                            option(value="") Option 3
                      .col-6
                        .form-group
                          label.ui-form-label expiration year
                          select.js-select(data-width="100%" data-style="ui-select ui-select_lg" required)
                            option(value="") Option 1
                            option(value="") Option 2
                            option(value="") Option 3

                    .row
                      .col-6
                        .form-group
                          label.ui-form-label CV2
                          input.form-control(type="text" placeholder="CV2" required)
                          .invalid-tooltip Error CV2


        .b-order-total.col-xl-3
          .b-order-total__inner.b-order__card
            .b-order-total__title.ui-title-inner.d-none.d-xl-block Total
            .b-order-total__wrap
              .b-order__progress-title.d-none.d-xl-block $29.03 away from FREE shipping
              .b-order__progress.d-none.d-xl-flex.row.justify-content-between.align-items-center
                .col-auto $0
                .col
                  .progress
                    .progress-bar(role="progressbar" style="width: 40%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100")
                .col-auto $150

              .form-group
                label.ui-form-label promo code
                .row.no-gutters
                  .col
                    input.form-control.form-control-sm(type="text" placeholder="Enter Your Promo Code" required)
                  .col-auto
                    button.btn.btn-outline-primary.btn-sm.b-order-total__btn-row(type="button") apply

              .form-group
                label.ui-form-label apply bonus points
                .row.no-gutters
                  .col
                    input.form-control.form-control-sm(type="text" placeholder="Enter Bonus Points" required)
                  .col-auto
                    button.btn.btn-outline-primary.btn-sm.b-order-total__btn-row(type="button") apply

            table.b-order-total__table
              tbody
                tr
                  td Starting Subtotal
                  td $5.97
                tr
                  td Subtotal
                  td $5.97
                tr
                  td Shipping
                  td.b-order-total__no-data Need Addreess
                tr
                  td Tax
                  td $5.97
              tfoot.b-order-total__table-footer
                tr
                  td Order Total
                  td $5.97

            .b-order-total__footer
              .b-order-total__wrap

                button.btn.btn-primary.w-100(data-toggle="modal" data-target="#modalSuccess" type="button") Submit order

                .b-order-total__note I agree to the
                  |
                  |
                  a.b-order-total__link(href="#") Terms
                  |  and
                  |
                  |
                  a.b-order-total__link(href="#") Conditions

  // end .b-order
  |
  |


mixin b-order-sm()
  .b-order
    form.b-order__form.needs-validation(novalidate)
      .b-order-cart
        .ui-title-inner Cart

        .b-order-cart__table.b-order__card
          .b-order-cart__item
            .row.align-items-center
              .col-lg-7
                .row.align-items-center
                  .col-auto
                    .b-order-cart__img
                      img.img-scale(src="assets/media/content/b-order/1.jpg", alt="photo")
                  .col
                    .b-order-cart__title Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg
              .col-lg-5
                .row.align-items-center.justify-content-between
                  .col-auto
                    .ui-enumerator
                      span.ui-enumerator__btn.js-minus
                        != pugHelpers.Icon.call(locals, {iconName: 'minus', className: 'ic', iconWidth: '8', iconHeight: '2'})
                      input.ui-enumerator__input(type="text" value="1")
                      span.ui-enumerator__btn.js-plus
                        != pugHelpers.Icon.call(locals, {iconName: 'plus', className: 'ic', iconWidth: '8', iconHeight: '8'})
                  .col-lg.col-auto.order-last.order-lg-0
                    .b-order-cart__price $ 15.95
                  .col-lg-auto.col
                    button.b-order-cart__del(type="button") Remove
          .b-order-cart__item
            .row.align-items-center
              .col-lg-7
                .row.align-items-center
                  .col-auto
                    .b-order-cart__img
                      img.img-scale(src="assets/media/content/b-order/2.jpg", alt="photo")
                  .col
                    .b-order-cart__title Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg
              .col-lg-5
                .row.align-items-center.justify-content-between
                  .col-auto
                    .ui-enumerator
                      span.ui-enumerator__btn.js-minus
                        != pugHelpers.Icon.call(locals, {iconName: 'minus', className: 'ic', iconWidth: '8', iconHeight: '2'})
                      input.ui-enumerator__input(type="text" value="1")
                      span.ui-enumerator__btn.js-plus
                        != pugHelpers.Icon.call(locals, {iconName: 'plus', className: 'ic', iconWidth: '8', iconHeight: '8'})
                  .col-lg.col-auto.order-last.order-lg-0
                    .b-order-cart__price $ 15.95
                  .col-lg-auto.col
                    button.b-order-cart__del(type="button") Remove
          .b-order-cart__item
            .row.align-items-center
              .col-lg-7
                .row.align-items-center
                  .col-auto
                    .b-order-cart__img
                      img.img-scale(src="assets/media/content/b-order/3.jpg", alt="photo")
                  .col
                    .b-order-cart__title Decorative Plate "Winter Troika", 10 cm
              .col-lg-5
                .row.align-items-center.justify-content-between
                  .col-auto
                    .ui-enumerator
                      span.ui-enumerator__btn.js-minus
                        != pugHelpers.Icon.call(locals, {iconName: 'minus', className: 'ic', iconWidth: '8', iconHeight: '2'})
                      input.ui-enumerator__input(type="text" value="1")
                      span.ui-enumerator__btn.js-plus
                        != pugHelpers.Icon.call(locals, {iconName: 'plus', className: 'ic', iconWidth: '8', iconHeight: '8'})
                  .col-lg.col-auto.order-last.order-lg-0
                    .b-order-cart__price $ 15.95
                  .col-lg-auto.col
                    button.b-order-cart__del(type="button") Remove

        .row.justify-content-between
          .col-auto
            .b-order-cart__bonus After checkout you will get:
              span.b-order-cart__bonus-info 5 bonus points!

          .col-auto
            .b-order-cart__total
              .b-order-cart__weight
                span.b-order-cart__weight-title Total weight of all products:
                span.b-order-cart__weight-number 0.25 lb
              .b-order-cart__subtotal
                span.b-order-cart__subtotal-title Subtotal:
                span.b-order-cart__subtotal-number $5.97


      .b-order-destination.b-order__section
        .b-order-destination__header
          .ui-title-inner Destination:
            span.b-order-destination__address 43 Primrose Avenue Pacoima, CA 91331
          button.b-order-destination__header-btn.btn.btn-sm(type="button") change adress

        .b-order__card
          .b-order-destination__item
            .row
              .col
                span.b-order-destination__label Express (International)
              .col-auto
                .b-order-destination__price $15.45
          .b-order-destination__item
            .row
              .col
                span.b-order-destination__label Standard (International)
              .col-auto
                .b-order-destination__price $29.48
          .b-order-destination__item
            .row
              .col
                span.b-order-destination__label Economy (International)
              .col-auto
                .b-order-destination__price $56.89


      .b-order-footer.row.justify-content-between
        .col-auto
          button.b-order-footer__clear.btn(type=button) clear cart
        .col-auto
          .b-order-footer__group
            button.b-order-footer__btn.btn.btn-secondary(type=button) Check for special offers
            button.b-order-footer__btn.btn.btn-primary checkout


  // end .b-order
  |
  |


mixin b-order-new()
  .b-order
    form.row.needs-validation(novalidate)
      .col-xl-4

        .b-order-info.b-order__section.b-order__card
          .b-order__card-inner
            .b-order__title-inner Personal information
            .form-row
              .form-group.col-6
                label.ui-form-label First name
                input.form-control(type="text" placeholder="Your first name" required)
                .invalid-tooltip Error name
              .form-group.col-6
                label.ui-form-label Last name
                input.form-control(type="text" placeholder="Your last name" required)
                .invalid-tooltip Error name
            .form-group
              label.ui-form-label Address
              input.form-control(type="text" placeholder="Your address" required)
              .invalid-tooltip Error address
            .form-group
              label.ui-form-label Address (line 2)
              input.form-control(type="text" placeholder="Your address" required)
              .invalid-tooltip Error address
            .form-row
              .form-group.col-6
                label.ui-form-label City
                input.form-control(type="text" placeholder="Your first name" required)
                .invalid-tooltip Error city
              .form-group.col-6
                label.ui-form-label Country
                select.js-select(data-width="100%" data-style="ui-select ui-select_lg" required)
                  option(value="") Country 1
                  option(value="") Country 2
                  option(value="") Country 3
            .form-row
              .form-group.col-6
                label.ui-form-label State
                select.js-select(data-width="100%" data-style="ui-select ui-select_lg" required)
                  option(value="") State 1
                  option(value="") State 2
                  option(value="") State 3
              .form-group.col-6
                label.ui-form-label Zip/Postal code
                select.js-select(data-width="100%" data-style="ui-select ui-select_lg" required)
                  option(value="") Zip/Postal code 1
                  option(value="") Zip/Postal code 2
                  option(value="") Zip/Postal code 3
            .form-group
              label.ui-form-label Phone
              input.form-control(type="text" placeholder="Your phone" required)
              .invalid-tooltip Error phone
            .form-group
              label.ui-form-label Email
              input.form-control(type="email" placeholder="Your email" required)
              .invalid-tooltip Error email
            .custom-control.custom-checkbox.pt-md-3.pt-md-2.pt-1
              input.custom-control-input#order-1(type="checkbox")
              label.custom-control-label(for="order-1") Make billing as shipping
            .custom-control.custom-checkbox.pt-md-3.pt-md-2.pt-1
              input.custom-control-input#order-2(type="checkbox")
              label.custom-control-label(for="order-2") Make billing as shipping

            button.b-order-info__submit.btn.btn-primary(type="button") checkout


      .col-xl-4
        .b-order-shipping.b-order__card.disabled
          .b-order__title-inner Shipping method
          .b-order-shipping__item
            .row
              .col
                .custom-control.custom-checkbox
                  input.custom-control-input#shipping1(type="checkbox")
                  label.custom-control-label(for="shipping1") Standard (continantal US)
              .col-auto
                .b-order-shipping__price $15.45
          .b-order-shipping__item
            .row
              .col
                .custom-control.custom-checkbox
                  input.custom-control-input#shipping2(type="checkbox")
                  label.custom-control-label(for="shipping2") Second day (continantal US)
              .col-auto
                .b-order-shipping__price $29.48
          .b-order-shipping__item
            .row
              .col
                .custom-control.custom-checkbox
                  input.custom-control-input#shipping3(type="checkbox")
                  label.custom-control-label(for="shipping3") Overnight (continantal US)
              .col-auto
                .b-order-shipping__price $56.89



        .b-order-payment.b-order__section.b-order__card.disabled
          .b-order__title-inner Payment Method

          .b-order-payment__item
            .custom-control.custom-radio
              input.custom-control-input(type="radio" name="orderPayment" id="orderPayment1" value="PayPal")
              label.custom-control-label(for="orderPayment1") PayPal
                span.b-order-payment__info account name "Kazak Online Group"
          .b-order-payment__item
            .custom-control.custom-radio
              input.custom-control-input(type="radio" name="orderPayment" id="orderPayment2" value="PayPal")
              label.custom-control-label(for="orderPayment2") Credit Card



      .col-xl-4
        .b-order-total.b-order__card.disabled
          .b-order-total__section
            .b-order-total__wrap
              .b-order__title-inner Order summary

            .b-order-total__wrap
              table.b-order-total__table
                tbody
                  tr
                    td Subtotal (
                      |
                      |
                      button.b-order-total__table-trigg(type="button" data-toggle="collapse" data-target="#collapseSubtotal" aria-expanded="false" aria-controls="collapseExample") item(s)
                        != pugHelpers.Icon.call(locals, {iconName: 'arr-down', className: 'ic', iconWidth: '9', iconHeight: '5'})
                      |
                      |
                      |):
                    td $5.97
                  tr
                    td.pb-0.text-left(colspan="2")
                      .collapse#collapseSubtotal
                        table.b-order-subtable
                          tr.b-order-subtable__row
                            td.b-order-subtable__title
                              span.b-order-subtable__name Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto molestias quo voluptas, labore, eum consectetur. Iusto, molestiae doloribus praesentium at voluptates temporibus, quis beatae repudiandae, obcaecati tempora veritatis. Ratione, laboriosam?
                              span.b-order-subtable__article (321321321)
                            td.b-order-subtable__number Qty: 1
                            td.b-order-subtable__price $21
                          tr.b-order-subtable__row
                            td.b-order-subtable__title
                              span.b-order-subtable__name Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto molestias quo voluptas, labore, eum consectetur. Iusto, molestiae doloribus praesentium at voluptates temporibus, quis beatae repudiandae, obcaecati tempora veritatis. Ratione, laboriosam?
                              span.b-order-subtable__article (321321321)
                            td.b-order-subtable__number Qty: 2
                            td.b-order-subtable__price $51
                  tr
                    td Weight:
                    td 0.1 lb
                  tr
                    td Shipping cost:
                    td.b-order-total__no-data $5.97


              .b-order-total__bonus After checkout you will get:
                span.b-order-total__bonus-num 5 bonus points!

          .b-order-total__section
            .b-order-total__wrap
              .b-order-total__foot
                span.b-order-total__foot-title Total:
                span.b-order-total__foot-numb $5.97


          .b-order-total__section
            .b-order-total__wrap
              .b-order__title-inner.pt-2.mt-1 Redeem a discount coupon
              .b-order-total__info If you have a valid discount coupon, enter the code below and the store will deduct the discount from your order total.
              .b-order-total__note Note: Discount Coupon can not be combined with Free Shipping

              .form-group
                label.ui-form-label promo code
                .b-order-total__promo.row.no-gutters
                  .col
                    input.form-control.form-control-sm(type="text" placeholder="Enter Your Promo Code" required)
                  .col-auto
                    button.btn.btn-outline-primary.btn-sm.b-order-total__btn-row(type="button") apply


          .pt-4.mt-1
            .b-order-total__wrap
              .form-group.align-items-baseline
                .row.justify-content-between
                  label.ui-form-label.col-auto Customer notes:
                  span.ui-form-label__note.col-auto 200 chars left
                textarea.b-order-total__textarea.form-control(placeholder="Text" required)
                .invalid-tooltip Error text
              .form-group
                .b-order-total__accept.custom-control.custom-checkbox
                  input.custom-control-input#checkAccept(type="checkbox")
                  label.custom-control-label(for="checkAccept") I accept the
                  |
                  |
                  a(href="#") Terms & Conditions
                  |
                  | and
                  |
                  |
                  a(href="#") Privacy statement


                button.b-order-total__submit.btn.btn-primary(data-toggle="modal" data-target="#modalSuccess" type="button") Submit order

  // end .b-order
  |
  |

