mixin b-goods(img, label1, label2, label3, title, oldPrice)

  .b-goods(class!=attributes.class)
    .b-goods__labels
      if label1
        span.b-goods__label.b-goods__label_sm.bg-danger SALE
          span.b-goods__label-number - 40 %
      if label2
        span.b-goods__label.bg-primary ONLY FAST DELIVERY
      if label3
        span.b-goods__label.bg-secondary ONLY FAST DELIVERY

    .b-goods__img
      img.img-scale(src="assets/media/content/b-goods/" + img + ".jpg", alt="photo")

    .b-goods__main
      a.b-goods__title(href="goods-item.html")= title
      .mb-sm-2
        .ui-rating-group
          ul.ui-rating.list-unstyled
            li.ui-rating__item
              != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
            li.ui-rating__item
              != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
            li.ui-rating__item
              != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
            li.ui-rating__item
              != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
            li.ui-rating__item
              != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})

          ul.ui-rating.ui-rating_active.list-unstyled(style="width:90%")
            li.ui-rating__item.active
              != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
            li.ui-rating__item.active
              != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
            li.ui-rating__item.active
              != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
            li.ui-rating__item.active
              != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
            li.ui-rating__item.active
              != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
        a.b-goods__link(href="goods-item.html") 32 reviews

      if oldPrice
        .b-goods__price.text-danger $ 25.95
        .b-goods__old-price $ 45.95
      else
        .b-goods__price $ 25.95

      .b-goods__footer.row.no-gutters.justify-content-between.align-items-center
        .ui-enumerator.col
          span.ui-enumerator__btn.js-minus
            != pugHelpers.Icon.call(locals, {iconName: 'minus', className: 'ic', iconWidth: '8', iconHeight: '2'})
          input.ui-enumerator__input(type="text" value="1")
          span.ui-enumerator__btn.js-plus
            != pugHelpers.Icon.call(locals, {iconName: 'plus', className: 'ic', iconWidth: '8', iconHeight: '8'})

        .col-auto
          button.btn.btn-primary.btn-sm(type="button") Add to cart

      button.b-goods__btn-add.js-favorite(type="button")
        != pugHelpers.Icon.call(locals, {iconName: 'heart-2', className: 'ic', iconWidth: '20.1', iconHeight: '18'})

  // end .b-goods
  |
  |



mixin b-goods-full()

  .b-goods-header
    .row.align-items-center.justify-content-between
      .col
        .row
          .col-auto
            .b-goods-header__img
              img.img-scale(src="assets/media/content/b-order/1.jpg", alt="photo")
          .b-goods-header__cell.col
            .b-goods-header__title Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg
          .b-goods-header__cell.col-auto
            .b-goods-header__price $ 15.95
      .col
        .row.justify-content-end
          .b-goods-header__cell.col-auto
            .ui-enumerator
              span.ui-enumerator__btn.js-minus
                != pugHelpers.Icon.call(locals, {iconName: 'minus', className: 'ic', iconWidth: '8', iconHeight: '2'})
              input.ui-enumerator__input(type="text" value="1")
              span.ui-enumerator__btn.js-plus
                != pugHelpers.Icon.call(locals, {iconName: 'plus', className: 'ic', iconWidth: '8', iconHeight: '8'})
          .b-goods-header__cell.col-auto
            button.b-goods-header__btn.btn.btn-secondary(type="button") Add to cart

  .container
    section.b-goods-f(class!=attributes.class)
      .row
        .col-lg-6
          .b-goods-f__img
            img.img-scale(src="assets/media/content/b-goods/full/1.jpg", alt="photo")

        .col-lg-6
          .b-goods-f__main
            .b-goods__labels
                span.b-goods__label.d-inline-block.bg-danger % SALE
                span.b-goods__label.bg-secondary ONLY FAST DELIVERY
            .b-goods-f__article SKU: 200271
            .b-goods-f__category Schmaltz`s
            h1.b-goods-f__title.ui-title-inner Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg

            .mb-4.pb-1
              .ui-rating-group
                ul.ui-rating.list-unstyled
                  li.ui-rating__item
                    != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                  li.ui-rating__item
                    != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                  li.ui-rating__item
                    != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                  li.ui-rating__item
                    != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                  li.ui-rating__item
                    != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})

                ul.ui-rating.ui-rating_active.list-unstyled(style="width:90%")
                  li.ui-rating__item.active
                    != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                  li.ui-rating__item.active
                    != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                  li.ui-rating__item.active
                    != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                  li.ui-rating__item.active
                    != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                  li.ui-rating__item.active
                    != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
              a.b-goods__link(href="goods-item.html") 32 reviews

            span.b-goods-f__old-price.text-danger $ 45.95
            span.b-goods-f__discount - 40 % off
            .b-goods-f__price $ 25.95

            .b-goods-f__footer.row.no-gutters.justify-content-between.align-items-center
              .col-auto
                .ui-enumerator
                  span.ui-enumerator__btn.js-minus
                    != pugHelpers.Icon.call(locals, {iconName: 'minus', className: 'ic', iconWidth: '8', iconHeight: '2'})
                  input.ui-enumerator__input(type="text" value="1")
                  span.ui-enumerator__btn.js-plus
                    != pugHelpers.Icon.call(locals, {iconName: 'plus', className: 'ic', iconWidth: '8', iconHeight: '8'})
                button.b-goods-f__btn-cart.btn.btn-primary(type="button") Add to cart

              .col-auto
                button.b-goods__btn-add.js-favorite(type="button")
                  != pugHelpers.Icon.call(locals, {iconName: 'heart-2', className: 'ic', iconWidth: '21', iconHeight: '18'})
                  |  Add to Wish List


      .b-goods-tabs
        ul.b-goods-tabs__nav.nav.nav-pills#pills-tab(role="tablist")
          li.b-goods-tabs__item.nav-item
            a.b-goods-tabs__link.nav-link.active#goods-desription-tab(data-toggle="pill" href="#goods-desription" role="tab" aria-controls="goods-desription" aria-selected="true") Description

          li.b-goods-tabs__item.nav-item
            a.b-goods-tabs__link.nav-link#goods-reviews-tab(data-toggle="pill" href="#goods-reviews" role="tab" aria-controls="goods-reviews" aria-selected="false") Reviews

        .b-goods-tabs__content.tab-content#pills-tabContent
          section.b-goods-tabs__body.tab-pane.fade.show.active#goods-desription(role="tabpanel" aria-labelledby="goods-desription-tab")
            h2.b-goods-tabs__title.ui-title-inner Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper Description
            .b-goods-tabs__info.row
              .col-md-5.pr-md-5
                p Salo is a traditional Slavic food made of pork fatback. It is cured with salt, garlic and black pepper.
                p Try is thinly sliced with an authentic bowl of borscht, or add it to stews and soups.
              .col-md-5.offset-md-1.pr-md-5
                p Salo is a traditional Slavic food made of pork fatback. It is cured with salt, garlic and black pepper.
                p Try is thinly sliced with an authentic bowl of borscht, or add it to stews and soups.
            .b-goods-tabs__note-title Ingredients:
            .b-goods-tabs__note Pork fat, salt, garlic, pepper, spices.

          section.b-goods-tabs__body.tab-pane.fade#goods-reviews(role="tabpanel" aria-labelledby="goods-reviews-tab")
            .b-goods-reviews
              .b-goods-reviews__header.row.justify-content-between.align-items-lg-baseline.align-items-end.mb-1.md-lg-0
                h2.ui-title-inner.col-lg.col-12 Customer Reviews
                .col-lg-5.col-md-6
                  .ui-select__label Sort by
                  .ui-select__wrap
                    select.js-select(data-width="100%" data-style="ui-select b-top-filter__select")
                      option Popularity
                      option Select 1
                      option Select 2
                      option Select 3

                .col-lg-auto.col-md-6
                  a.btn.btn-primary.btn-sm.js-nav(href="#wrapFormReviews") write a review

              .ui-rating-group
                ul.ui-rating.list-unstyled
                  li.ui-rating__item
                    != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                  li.ui-rating__item
                    != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                  li.ui-rating__item
                    != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                  li.ui-rating__item
                    != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                  li.ui-rating__item
                    != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})

                ul.ui-rating.ui-rating_active.list-unstyled(style="width:90%")
                  li.ui-rating__item.active
                    != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                  li.ui-rating__item.active
                    != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                  li.ui-rating__item.active
                    != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                  li.ui-rating__item.active
                    != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                  li.ui-rating__item.active
                    != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})

              a.b-goods__link(href="goods-item.html") 32 reviews

              .b-goods-reviews__total-stars 4.3 out of 5 Stars

              .b-goods-reviews__recomm
                span.b-goods-reviews__recomm-ic
                  != pugHelpers.Icon.call(locals, {iconName: 'check', className: 'ic', iconWidth: '9', iconHeight: '7'})
                span.b-goods-reviews__recomm-numb 100%
                |   of respondents would recommend this to a friend

              h3.b-goods-reviews__title-inner Ratings Distribution

              .b-goods-reviews__progress 5 Stars
                .progress
                  .progress-bar(role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100")
                | 1
              .b-goods-reviews__progress 4 Stars
                .progress
                  .progress-bar(role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100")
                | 2
              .b-goods-reviews__progress 3 Stars
                .progress
                  .progress-bar(role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100")
                | 0
              .b-goods-reviews__progress 2 Stars
                .progress
                  .progress-bar(role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100")
                | 0
              .b-goods-reviews__progress 1 Stars
                .progress
                  .progress-bar(role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100")
                | 0



              .b-goods-reviews__group
                .b-goods-reviews__item
                  .row
                    .col-md-6
                      ul.ui-rating.list-unstyled
                        li.ui-rating__item.active
                          != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                        li.ui-rating__item.active
                          != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                        li.ui-rating__item.active
                          != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                        li.ui-rating__item.active
                          != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                        li.ui-rating__item
                          != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})

                    .col-md
                      .b-goods-reviews__date Sep 14, 2018

                  .b-goods-reviews__name Serhii Polyvanyi
                  p This air purifier is very quiet and has proven to be extremely effective.

                .b-goods-reviews__item
                  .row
                    .col-md-6
                      ul.ui-rating.list-unstyled
                        li.ui-rating__item.active
                          != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                        li.ui-rating__item.active
                          != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                        li.ui-rating__item.active
                          != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                        li.ui-rating__item.active
                          != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                        li.ui-rating__item
                          != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})

                    .col-md
                      .b-goods-reviews__date Sep 14, 2018

                  .b-goods-reviews__name Serhii Polyvanyi
                  p This air purifier is very quiet and has proven to be extremely effective.

                .b-goods-reviews__item
                  .row
                    .col-md-6
                      ul.ui-rating.list-unstyled
                        li.ui-rating__item.active
                          != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                        li.ui-rating__item.active
                          != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                        li.ui-rating__item.active
                          != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                        li.ui-rating__item.active
                          != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                        li.ui-rating__item
                          != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})

                    .col-md
                      .b-goods-reviews__date Sep 14, 2018

                  .b-goods-reviews__name Serhii Polyvanyi
                  p This air purifier is very quiet and has proven to be extremely effective.


              nav(aria-label="Page navigation")
                ul.pagination.justify-content-center
                  li.page-item
                    a.page-link(href="#")
                      != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic ic-rot_180 fill-primary', iconWidth: '10', iconHeight: '18'})
                  li.page-item
                    a.page-link(href="#") 1
                  li.page-item.active
                    a.page-link(href="#") 2
                      span.sr-only (current)
                  li.page-item
                    a.page-link(href="#") 3
                  li.page-item
                    a.page-link(href="#") 4
                  li.page-item
                    a.page-link(href="#")
                      != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic fill-primary', iconWidth: '10', iconHeight: '18'})

              +b-form-reviews()


  // end .b-goods
  |
  |

