.b-goods-slider-wrap {
  position: relative;
}
.b-goods-slider {
  &__op {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    opacity: 0.7;
  }
  .slick-arrow {
    opacity: 0;
  }
  &:hover {
    .slick-arrow {
      opacity: 1;
    }
  }
}

.section-after-goods {
  padding-top: 36px;
}

.b-goods {
  background: #FFFFFF;
  width: 292px;
  height: 414px;
  position: relative;
  overflow: hidden;
  padding-top: 61px;
  transition: all .3s;
  margin-bottom: 54px;
  box-shadow:  inset 1px 0 0 0 #EDF0F2;
  &__labels {
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s;
  }
  &__label {
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 0.5px;
    padding: 0 25px;
    line-height: 23px;
    color: #FFFFFF;
    display: block;
    border-radius: 0 4px 4px 0;
    .ic {
      margin-right: 9px;
    }
    &_sm {
      display: inline-block;
      padding-right: 15px;
      vertical-align: bottom;
    }
  }
  &__label-number {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: -0.318182px;
    display: inline-block;
    margin-left: 5px;
  }
  &__btn-add {
    position: absolute;
    top: 21px;
    right: 18px;
    transition: all .3s;
    border: none;
    background-color: transparent;
    stroke:  #C8CACC;
    fill:  #fff;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #999999;
    &:focus {
      outline: none;
    }
    &.active {
      stroke: $danger;
      fill: $danger;
    }
    &:hover {
      stroke: $primary;
      fill: $primary;
    }
  }
  &__img {
    text-align: center;
    height: 180px;
    img {
      display: inline-block;
      object-fit: contain;
      font-family: 'object-fit: contain;';
    }
  }
  &__main {
    padding: 23px 20px 40px 24px;
  }
  &__title {
    font-size: 14px;
    line-height: 1.43;
    color: #333333;
    max-height: 60px;
    overflow: hidden;
    display: inline-block;
  }
  &__link {
    font-size: 12px;
    line-height: 14px;
    color: #49A2FC;
    display: inline-block;
    margin-left: 13px;
  }
  &__price {
    font-weight: bold;
    letter-spacing: -0.318182px;
    color: #262521;
    display: inline-block;
  }
  &__old-price {
    display: inline-block;
    font-size: 14px;
    letter-spacing: -0.318182px;
    text-decoration-line: line-through;
    color: #999999;
    margin-left: 10px;
  }
  &__footer {
    opacity: 0;
    height: 0;
    transition: all 0.3s;
  }
  &__footer-warning {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: $danger;
    margin-top: 10px;
  }

  .ui-rating {
    display: inline-block;
  }
  .ui-enumerator {
    display: inline-block;
  }

  &:hover {
    z-index: 1;
    margin-bottom: 0;
    height: 468px;
    box-shadow: 0px 4px 14px rgba(51, 51, 51, 0.1), inset 0 0 0 1px $primary;
    border-radius: 4px;
  }
  &:hover & {
    &__labels {
      border-radius: 4px 0 0 0;
    }
    &__footer {
      opacity: 1;
      margin-top: 28px;
      height: auto;
    }
  }

  &_rows {
    width: 100%;
    height: 432px;
    margin-bottom: 24px;
    transition-property: border, box-shadow;
    border-radius: 4px;
    box-shadow: 0px 2px 10px rgba(51, 51, 51, 0.08);

    .b-goods {
      &__main {
        padding-bottom: 0;
      }
      &__footer {
        height: auto;
        margin-top: 0;
        transition-property: opacity;
      }
    }

    &:hover {
      height: 442px;
      margin-bottom: 14px;
      &:after {
        bottom: -11px;
      }
      .b-goods {
        &__footer {
          margin-top: 10px;
        }
      }
    }
  }


  @include media-breakpoint-down(lg) {
    height: 468px;
    &__footer {
      opacity: 1;
      height: auto;
      margin-top: 25px;
    }
  }

  @include media-breakpoint-down(sm) {
    width: 280px;
    margin-bottom: 0;
    padding-top: 48px;
    height: 455px;
    &__main {
      padding: 18px;
    }
    &__btn-add {
      padding-left: 0;
      padding-right: 0;
    }
    &__price {
      font-size: 18px;
    }
    &__title {
      margin-bottom: 2px;
    }
    &__label {
      padding-left: 19px;
      padding-right: 19px;
      &_sm {
        padding-right: 22px;
      }
    }
    .ui-rating {
      margin-bottom: 25px;
    }

    &_rows {
      height: auto;
      margin-bottom: 10px;
      padding-bottom: 15px;
      .b-goods {
        &__img {
          height: 180px;
        }
        &__footer {
          margin-top: 22px;
        }
      }
    }
  }
}


.b-goods-f {
  margin-bottom: 10px;
  &__main {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    padding-top: 85px;
  }
  &__title {
    padding-right: 40px;
    margin-bottom: 20px;
  }
  &__img {
    margin-right: 44px;
    box-shadow: 0px 2px 10px rgba(51, 51, 51, 0.08);
    border-radius: 4px;
    overflow: hidden;
    padding: 8%;
    background-color: #FFF;
    img {
      object-fit: contain;
      object-position: center;
      font-family: 'object-fit: contain center;';
    }
  }
  &__old-price {
    letter-spacing: -0.318182px;
    text-decoration-line: line-through;
    margin-right: 27px;
    display: inline-block;
  }
  &__discount {
    font-size: 14px;
    letter-spacing: -0.318182px;
    text-decoration-line: line-through;
    display: inline-block;
  }
  &__price {
    font-weight: bold;
    font-size: 32px;
    letter-spacing: -1px;
    color: #333333;
    margin-top: 20px;
    margin-bottom: 45px;
  }
  &__article {
    font-size: 14px;
    letter-spacing: 1px;
    position: absolute;
    top: 7px;
    right: 0;
  }
  &__category {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 7px;
  }
  &__btn-cart {
    width: 260px;
  }
  .ui-enumerator {
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(51, 51, 51, 0.08);
    border-radius: 4px;
    padding: 16px 24px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 24px;
    &__input {
      width: 55px;
    }
  }
  .ui-rating {
    display: inline-block;
  }
  .b-goods {
    &__btn-add {
      position: relative;
      top: 0;
      right: 0;
      padding: 15px 0;
      &.active {
        .ic {
          fill: $danger;
        }
      }
      .ic {
        margin-right: 5px;
        fill: none;
      }
    }
  }

  @include media-breakpoint-down(md) {
    &__img {
      margin-right: 0;
      max-width: 400px;
      margin-bottom: 30px;
    }
  }

  @include media-breakpoint-down(sm) {
    &__btn-cart {
      display: block;
      margin-top: 10px;
    }
  }
}


.b-goods-tabs {
  margin-top: 30px;
  background-color: #FFF;
  padding: 46px 32px 40px;
  &__nav {}
  &__link {
    width: 260px;
  }
  &__content {
    padding-top: 40px;
  }
  &__title {
    margin-bottom: 24px;
  }
  &__body {}
  &__info {
    margin-bottom: 30px;
    padding-right: 8.5%;
  }
  &__note-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #262521;
  }
  &__note {
    font-size: 14px;
    line-height: 22px;
  }

  @include media-breakpoint-down(sm) {
    &__nav {
      display: block;
    }
    & &__item {
      &:not(:last-child) {
        margin-right: 0;
      }
    }
    &__link {
      width: 100%;
      display: block;
      margin-bottom: 5px;
    }
  }
}


.b-goods-reviews {
  padding-top: 30px;
  .ui-title-inner {
  }
  &__header {
    .btn {
      letter-spacing: 0.5px;
      min-width: 184px;
    }
  }
  &__total-stars {
    font-weight: 500;
    font-size: 16px;
    color: #262521;
    margin-bottom: 30px;
  }
  &__title-inner {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1px;
    color: #333333;
    margin-bottom: 30px;
  }
  &__progress {
    font-size: 14px;
    color: #333333;
    margin-bottom: 22px;
    margin-left: -7px;
    .progress {
      display: inline-flex;
      margin-left: 10px;
      margin-right: 15px;
      width: 240px;
      vertical-align: middle;
    }
  }
  &__recomm {
    margin-bottom: 43px;
  }
  &__recomm-ic {
    display: inline-block;
    vertical-align: sub;
    margin-right: 10px;
    background: $primary;
    border-radius: 2px;
    fill: none;
    width: 14px;
    height: 14px;
    text-align: center;
    .ic {
      stroke: #fff;
      vertical-align: 28%;
    }
  }
  &__recomm-numb {
    font-weight: bold;
    color: #666666;
  }
  &__group {
    padding-top: 10px;
    padding-bottom: 25px;
    margin-left: -7px;
  }
  &__item {
    padding-top: 34px;
    padding-bottom: 13px;
    border-top: 1px solid #EDF0F2;
    color: #999;
    font-size: 14px;
    p {
      letter-spacing: -.007em;
    }
    .ui-rating {
      margin-bottom: 13px;
    }
  }
  &__date {
    padding-left: 90px;
  }
  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.37;
    color: #262521;
    margin-bottom: 2px;
  }

  @include media-breakpoint-down(lg) {
    &__recomm-ic {
      vertical-align: baseline;
      .ic {
        vertical-align: baseline;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    padding-top: 0;
    &__header {
      .btn {
        width: 100%;
        margin-top: 5px;
      }
    }
    &__date {
      padding-left: 0;
    }
  }
}




.b-goods-header {
  background-color: #FFF;
  padding-left: 33px;
  padding-right: 33px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 1000;
  &__cell {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  &__img {
    width: 80px;
    height: 80px;
  }
  &__title {
    font-size: 18px;
    color: #666666;
    line-height: 1.33;
  }
  &__price {
    font-weight: 500;
    font-size: 18px;
    color: #333333;
  }
  &__btn {
    padding-top: 11px;
    padding-bottom: 11px;
    width: 260px;
  }
  .ui-enumerator {
    box-shadow: 0px 2px 10px rgba(51, 51, 51, 0.08);
    border-radius: 4px;
    padding: 12px 24px;
    &__input {
      width: 60px;
    }
  }
}
