.b-advantages-group {
  padding-bottom: 100px;

  @include media-breakpoint-down(lg) {
    padding-bottom: 25px;
  }
}

.b-advantages {
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(51, 51, 51, 0.08);
  border-radius: 4px;
  padding: 14px;
  margin-top: 8px;
  margin-bottom: 10px;
  &__img {
    width: 88px;
    height: 88px;
  }
  &__main {
    padding-left: 3px;
  }
  &__label {
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 8px;
  }
  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #262521;
  }

  @include media-breakpoint-down(sm) {
    padding: 8px;
    margin-bottom: 0;
    &__label {
      font-size: 10px;
      margin-top: 6px;
      margin-bottom: 6px;
    }
    &__title {
      font-size: 14px;
    }
    &__main {
      padding-left: 0;
    }

  }
}


.b-advantages-2 {
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(51, 51, 51, 0.08);
  border-radius: 4px;
  margin-top: 10px;
  padding-top: 30px;
  padding-bottom: 25px;
  &__ic {
    display: inline-block;
    margin-bottom: 18px;
    width: 72px;
    height: 72px;
    line-height: 67px;
    background-color: rgba(252, 177, 73, .2);
    border-radius: 50%;
    fill: $primary;
  }
  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #262521;
  }

  @include media-breakpoint-down(lg) {
    margin-bottom: 15px;
    margin-top: 0;
    padding-top: 25px;
    padding-bottom: 18px;
  }
}
