mixin b-advantages(img, label, title)

  .b-advantages(class!=attributes.class)
    .row.align-items-center
      .col-auto
        .b-advantages__img
          img.img-scale(src="assets/media/content/b-advantages/" + img + ".jpg", alt="photo")
      .b-advantages__main.col
        .b-advantages__label.text-primary= label
        .b-advantages__title= title


  // end .b-advantages
  |
  |


mixin b-advantages-2(img, label, title)

  .b-advantages(class!=attributes.class)
    .row.align-items-center
      .col-auto
        .b-advantages__img
          img.img-scale(src="assets/media/content/b-advantages/" + img + ".jpg", alt="photo")
      .b-advantages__main.col
        .b-advantages__title= title


  // end .b-advantages
  |
  |

