.main-nav {
  display: inline-block;
  margin-bottom: 0;
  &__item {
    display: inline-block;
    &:not(:first-child) {
      margin-left: 1.9vw;
    }
  }
  &__link {
    font-size: 16px;
    line-height: 19px;
    color: #666666;
    display: inline-block;
    padding-bottom: 4px;
    &:hover {
      text-decoration: none;
      box-shadow: 0 2px 0 0 $primary;
    }
  }


  @media (min-width:1200px) and (max-width:1399px) {
    &__item {
      display: inline-block;
      &:not(:first-child) {
        margin-left: 1.5vw;
      }
    }
    &__link {
      font-size: 15px;
    }
  }

  @include media-breakpoint-down(lg) {
    display: block;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 5px;
    margin-top: 17px;
    margin-bottom: 25px;
    &__item {
      display: block;
      margin-left: 0;
      margin-bottom: 17px;
      &:not(:first-child) {
        margin-left: 0;
      }
    }
  }
}
