.b-checkout {
  padding-top: 50px;
  &__title {
    margin-bottom: 20px;
  }
  &__info {
    color: #666666;
    padding-bottom: 28px;
  }
  &__btn {
    margin-left: 46px;
    letter-spacing: 0.5px;
    padding-left: 20px;
    padding-right: 20px;
  }
  p {
    margin-bottom: 10px;
  }

  @include media-breakpoint-down(lg) {
    padding-top: 110px;
  }

  @include media-breakpoint-down(sm) {
    &__btn {
      margin-left: 0;
      margin-top: 15px;
      width: 95px;
      display: block;
    }
  }
}
