mixin b-checkout()

  .b-checkout
    .container
      .row
        .col-xl-6
          h1.b-checkout__title.ui-title-inner Checkout
          .b-checkout__info
            p Please enter your Name and Address then click "Continue" below before selecting Shipping and Payment Method.
            p If you already have an account please
              a.b-checkout__btn.btn.btn-outline-primary.btn-sm(href="#") sign in

      +b-order-new()
  // end .b-checkout
  |
  |
