/*------------------------------------------------------------------

[TABLE OF CONTENTS]

- GLOBAL
- GUI
- COMPONENTS
- FOOTER

-------------------------------------------------------------------*/
/* ======= GLOBAL ======= */
body {
  font-size: 18px;
  line-height: 1;
  color: #999;
  @include media-breakpoint-down(lg) {
    font-size: 14px;
  }
}

.l-theme {
  position: relative;
  background-color: #F4F8FA;
  overflow: hidden;
}

.l-main {
  padding-top: 24px;
  @include media-breakpoint-down(lg) {
    padding-top: 64px;
  }
}

a {
  transition: all .3s;
}

p {
  line-height: 1.56;
}


/* ======= GUI ======= */

.ui-title-page {
  margin-top: 0;
}

.ui-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.167;
  color: #333333;
  margin-bottom: 16px;

  &_ls_compact {
    letter-spacing: -1px;
  }

  @include media-breakpoint-down(lg) {
    font-size: 24px;

    &_ls_compact {
      letter-spacing: 0;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 10px;
  }
}

.ui-title-inner {
  font-size: 32px;
  font-weight: 500;
  color: #333333;
  line-height: 1.16;
  letter-spacing: -1px;
}

/* Images */
.img-scale {
  object-fit: cover;
  font-family: 'object-fit: cover;';
  width: 100%;
  height: 100%;
}
.ui-img {
  box-shadow: 0px 2px 10px rgba(51, 51, 51, 0.08);
  border-radius: 4px;
  overflow: hidden;
  margin-right: 45px;

  @include media-breakpoint-down(md) {
    margin-bottom: 20px;
    margin-right: 0;
  }
}

.ic-rot_90 {
  transform: rotate(90deg);
}

.ic-rot_-90 {
  transform: rotate(-90deg);
}

.ic-rot_180 {
  transform: rotate(180deg);
}

/* Button */
.btn-light {
  color: #999;
  background-color: #FFF;
  border-color: #ccc;
}
.btn-shadow {
  box-shadow: 0px 2px 8px rgba(51, 51, 51, 0.08);
}
.btn-primary {
  color: #ffffff;
}
.btn-white {
  color: $primary;
  background-color: #FFF;
}



/* Lists */
.ui-list {
  margin-bottom: 40px;
  padding-left: 0;
  list-style-type: none;
  font-size: 20px;
  line-height: 36px;
  color: rgba(29, 29, 29, 0.92);

  li {
    &:before {
      content: '— ';
    }

    > a {
      color: #777;
      &:hover {
        text-decoration: none;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    line-height: 1.4;
    font-size: 16px;
    li {
      margin-bottom: 8px;
    }
  }
}

/* Forms */
select:focus {
  outline-style: none;
}

input::-webkit-input-placeholder {
  color: #666;
}

input::-moz-placeholder {
  color: #666;
}

input:-ms-input-placeholder {
  color: #666;
}

.ui-select {
  text-transform: none;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  color: #999999;
  text-align: left;
  padding: 9px 15px 8px;
  box-shadow: 0px 2px 10px rgba(51, 51, 51, 0.08);
  &:after {
    border-bottom: 2px solid transparent;
  }
  &__label {
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
    margin-right: 25px;
  }
  &__wrap {
    width: 246px;
    display: inline-block;
    vertical-align: middle;
  }

  &_lg {
    box-shadow: none;
    padding-top: 17px;
    padding-bottom: 16px;
  }

  @include media-breakpoint-down(sm) {
    &__wrap {
      width: 100%;
    }
    &_lg {
      padding-top: 13px;
      padding-bottom: 12px;
    }
  }
}

.ui-form-label {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 9px;

  &__note {
    font-size: 12px;
    color: #999999;
  }

  @include media-breakpoint-down(sm) {
    font-size: 10px;
    margin-bottom: 7px;
  }
}

.user-content {
  padding-top: 22px;
  section {
    &:not(:last-child) {
      margin-bottom: 52px;
    }
  }
  h2 {
    letter-spacing: -1px;
    margin-bottom: 22px;
  }
  ol {
    counter-reset: list;
    list-style-type: none;
    padding-left: 0;
    margin-top: 22px;
    li {
      line-height: 1.56;
      margin-bottom: 13px;
      p:first-child {
        margin-top: 1rem;
      }
      &:before {
        display: inline-block;
        color: #666666;
        content: counter(list) '.';
        counter-increment: list;
      }
    }
  }
}

/* Sections */
.section-area {
  position: relative;
}

.section-default {
  position: relative;
  padding-top: 90px;

  @include media-breakpoint-down(lg) {
    padding-top: 40px;
  }
}


/* Blockquote */

.ui-blockquote {
}

/* Other */

.ui-filter {
  white-space: nowrap;
  margin-bottom: 1rem;
  &__item {
    margin-right: 28px;
    display: inline-block;
  }
  &__link {
    display: block;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #333333;
    opacity: 0.4;
    border-bottom: 1px solid transparent;
    &.active,
    &:hover {
      color: $primary;
      opacity: 1;
      border-bottom-color: $primary;
      text-decoration: none;
    }
  }

  @include media-breakpoint-down(sm) {
    &__item {
      margin-right: 20px;
    }
  }
}

.ui-filter-group {
  padding-top: 8px;
  margin-bottom: 7px;
  white-space: nowrap;
  @include cl;

  .ui-filter {
    float: left;
    margin-right: 20px;
  }
  .btn-link {
    float: right;
  }
  @include media-breakpoint-down(md) {
    overflow-x: auto;
    .ui-filter {
      float: none;
      display: inline-block;
      margin-bottom: 8px;
    }
    .btn-link {
      display: inline-block;
      float: none;
    }
  }
}

.ui-enumerator {
  &__btn {
    cursor: pointer;
    user-select: none;
    background-color: #F4F8FA;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    line-height: 17px;
    .ic {
      transition: all .3s;
      opacity: 0.64;
    }
    &:hover {
      .ic {
        opacity: 1;
      }
    }
  }
  &__input {
    display: inline-block;
    margin-right: 2px;
    width: 40px;
    border: none;
    background-color: transparent;
    font-size: 14px;
    text-align: center;
    letter-spacing: -0.318182px;
    color: #262521;
  }
}

.ui-rating-group {
  position: relative;
  display: inline-block;
}

.ui-rating {
  &__item {
    display: inline-block;
    .ic {
       fill: #E5E5E5;
    }
    &.active {
      .ic {
        fill: $secondary;
      }
    }
  }

  &__input {
    display: none;
    &:checked ~ label .ic {
      fill: $secondary;
    }
  }


  &_active {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
  }
}

.ui-modal {
  padding-right: 0!important;
  &__header {
    position: relative;
  }
  &__logo {
    width: 195px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  &__title {
    margin-top: 8.2vh;
    margin-bottom: 2vh;
    font-size: 6vh;
    letter-spacing: -.45vh;
  }
  &__note {
    font-size: 1.55vh;
    color: #666666;
    margin-top: 3vh;
  }
  &__info {
    line-height: 1.56;
    font-size: 2vh;
  }
  &__btn {
    min-width: 260px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1px;
  }

  .toggle-menu-button {
    left: 18px;
    top: 22px;
  }

  @include media-breakpoint-down(lg) {
    & &__title-mobile {
      background-color: #F4F8FA;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: #333333;
      padding: 10px 10px 18px 20px;
    }
  }

  @include media-breakpoint-up(md) {
    &__btn {
      font-size: 1.8vh;
      padding: 1.6vh 15px;
    }
  }

  @include media-breakpoint-down(sm) {
    &__title {
      letter-spacing: -1px;
      margin-top: 30px;
      margin-bottom: 20px;
      font-size: 36px;
    }
    &__info {
      line-height: 1.7;
      font-size: 16px;
    }
  }

}

.bg-white {
  background-color: #fff;
}
.bg-light {
  background-color: #E5E5E5;
}

.fill-primary {
  fill: $primary;
}

.fill-secondary {
  fill: $secondary;
}

.fill-white {
  fill: #fff;
}
.stroke-white {
  stroke: #fff;
}

.parallax {
  background-repeat: no-repeat;
  background-attachment: fixed;
  transform: none;
}

.dropdown-toggle::after {
  width: 8px;
  height: 8px;
  border-right: none;
  border-top: 2px solid #A3A3A5;
  border-left: 2px solid #A3A3A5;
  border-radius: 1px;
  transform: rotate(225deg);
  transition: all .3s;
}

.ui-scroll-custom {
  height: 100%;
}


/* ======= COMPONENTS ======= */
