mixin b-top-filter()

  .b-top-filter.row.justify-content-between.align-items-end(class!=attributes.class)
    .col-auto
      .b-top-filter__info Showing 1-40 of 8331 results
    .col-auto
      .ui-select__label Sort by
      .ui-select__wrap
        select.js-select(data-width="100%" data-style="ui-select b-top-filter__select")
          option Popularity
          option Select 1
          option Select 2
          option Select 3


  // end .b-top-filter
  |
  |
