.b-top-filter {
  color: #666666;
  margin-top: 35px;
  margin-bottom: 18px;
  &__info {
    margin-bottom: -3px;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 18px;
    &__info {
      margin-bottom: 16px;
    }
  }
}
