.b-brands-slider {
  .slick-arrow {
    top: 44%;
    opacity: 0;
  }
  .slick-list {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 2px 10px rgba(51, 51, 51, 0.08);
  }
  &:hover {
    .slick-arrow {
      opacity: 1;
    }
  }

  @include media-breakpoint-down(lg) {
    margin-top: 20px;
  }
}

.b-brands {
  display: block;
  border-width: 1px;
  border-style: solid;
  border-color: transparent #EDF0F2 transparent transparent;
  width: 200px;
  height: 200px;
  padding: 30px;
  transition: all .3s;
  background-color: #FFF;

  &:hover {
    border-color: $primary;
    border-radius: 4px;
  }

  @include media-breakpoint-down(md) {
    width: 120px;
    height: 120px;
    padding: 10px;
  }

  @include media-breakpoint-down(sm) {
    width: 63px;
    height: 63px;
  }
}
