mixin b-brands(img)

  a.b-brands(href="categories.html" class!=attributes.class)
    .b-brands__img
      img.img-scale(src="assets/media/content/b-brands/" + img + ".jpg", alt="photo")
  // end .b-brands
  |
  |
