.b-filter {
  background: #FFFFFF;
  border-radius: 4px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 10px rgba(51, 51, 51, 0.08);
  &__title {
    padding-top: 25px;
    padding-left: 22px;
    margin-bottom: 10px;
  }

  &__section {
    padding: 24px 24px 10px;
    border-bottom: 1px solid #EDF0F2;
    .custom-control {
      margin-bottom: 7px;
    }
    .btn-link {
      display: block;
      margin-top: 15px;
      margin-bottom: 10px;
      &:after {
        position: absolute;
        right: 0;
        top: 3px;
      }
    }
  }
  &__header {
    position: relative;
    width: 100%;
    border: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 22px;
    color: #333333;
    text-align: left;
    margin-bottom: 14px;
    padding: 0;
    &:before,
    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 10px;
      background: #666666;
      border-radius: 2px;
      display: block;
      width: 14px;
      height: 2px;
      transition: all .3s;
    }
    &[aria-expanded="false"] {
      &:after {
        transform: rotate(90deg);
      }
    }
    &:focus {
      outline: none;
    }
  }
  &__body {
    padding-top: 6px;
  }
  &__number {
    color: #ccc;
    margin-left: 4px;
  }


  @include media-breakpoint-down(lg) {
    box-shadow: none;
    margin-bottom: 0;
    &__title {
      margin-bottom: -2px;
    }
    &__section {
      padding: 17px 20px 15px;
      margin-bottom: 6px;
      &:last-child {
        border-bottom: none;
        margin-bottom: 0;
      }
      .custom-control {
        padding-left: 30px;
        margin-bottom: 16px;
        &:last-child {
          margin-bottom: 3px;
        }
      }
      .custom-control-label {
        &:before,
        &:after {
          left: -30px;
        }
      }
      .btn-link {
        font-size: 14px;
        margin-top: 15px;
        margin-bottom: 10px;
      }
    }
    &__header {
      margin-bottom: 10px;
    }

    &__btns {
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      box-shadow: 0px -2px 8px rgba(51, 51, 51, 0.08);
      .btn {
        width: 134px;
        display: inline-block;
        vertical-align: top;
        margin-left: 6px;
        margin-right: 6px;
      }
    }
  }
}

.b-filter-slider {
  &__row {
    margin-bottom: 33px;
  }
  &__item {
    border: 1px solid #BECCD6;
    border-radius: 1px;
    font-size: 16px;
    color: #666666;
    padding: 10px;
    display: inline-block;
    width: 68px;
    margin-right: 10px;
  }
  &__main {
    padding-left: 10px;
    margin-bottom: 20px;
  }

  @include media-breakpoint-down(lg) {
    margin-bottom: 23px;
    &__item {
      padding: 10px 5px 10px 10px;
      width: 65px;
    }
  }
}


.btn-filter-trigger {
  background: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 32px;
  margin-top: 8px;
  padding: 12px 10px 13px;
}
.group-filter-trigger {
  margin-left: -8px;
  margin-right: -8px;
}
