mixin b-filter()

  #modalFilter(tabindex="-1" role="dialog" aria-labelledby="modalSortLabel" aria-hidden="true")
    div(role="document")
      div
        form.b-filter
          .b-filter__inner
            .d-xl-none
              .ui-modal__header
                button.toggle-menu-button.close(type="button" data-dismiss="modal" aria-label="Close" aria-expanded="true")
                  i.toggle-menu-button-icon
                    span
                    span
                    span
                    span
                    span
                    span

                .ui-modal__logo
                  img.img-fluid(src="assets/media/general/logo.png", alt="RussianFoodUSA")
            .b-filter__title.ui-title-inner.ui-modal__title-mobile Filter
            .b-filter__section
              button.b-filter__header(type="button" data-toggle="collapse" data-target="#filterCollapse1" aria-expanded="true" aria-controls="filterCollapse1") Meat

              .b-filter__body.collapse.show#filterCollapse1
                .custom-control.custom-checkbox
                  input(type="checkbox" class="custom-control-input" id="filterCheck1")
                  label.custom-control-label(for="filterCheck1") Caviar & Spread
                    span.b-filter__number (24)
                .custom-control.custom-checkbox
                  input(type="checkbox" class="custom-control-input" id="filterCheck2" checked)
                  label.custom-control-label(for="filterCheck2") Canned Fish
                    span.b-filter__number (16)
                .custom-control.custom-checkbox
                  input(type="checkbox" class="custom-control-input" id="filterCheck3")
                  label.custom-control-label(for="filterCheck3") Herring (Seledka)
                    span.b-filter__number (24)
                .custom-control.custom-checkbox
                  input(type="checkbox" class="custom-control-input" id="filterCheck4")
                  label.custom-control-label(for="filterCheck4") Smoked Fish
                    span.b-filter__number (8)

            .b-filter__section
              button.b-filter__header(type="button" data-toggle="collapse" data-target="#filterCollapse2" aria-expanded="true" aria-controls="filterCollapse2") Price

              .b-filter__body.collapse.show#filterCollapse2
                .b-filter-slider
                  .b-filter-slider__row
                    input.b-filter-slider__item#input-with-keypress-0
                    input.b-filter-slider__item#input-with-keypress-1
                  .b-filter-slider__main#filterPrice


            .b-filter__section
              button.b-filter__header(type="button" data-toggle="collapse" data-target="#filterCollapse3" aria-expanded="true" aria-controls="filterCollapse3") Brand

              .b-filter__body.collapse.show#filterCollapse3
                .custom-control.custom-checkbox
                  input(type="checkbox" class="custom-control-input" id="filterCheck5")
                  label.custom-control-label(for="filterCheck5") Caviar & Spread
                    span.b-filter__number (24)
                .custom-control.custom-checkbox
                  input(type="checkbox" class="custom-control-input" id="filterCheck6" checked)
                  label.custom-control-label(for="filterCheck6") Canned Fish
                    span.b-filter__number (16)
                .custom-control.custom-checkbox
                  input(type="checkbox" class="custom-control-input" id="filterCheck7")
                  label.custom-control-label(for="filterCheck7") Herring (Seledka)
                    span.b-filter__number (24)
                .custom-control.custom-checkbox
                  input(type="checkbox" class="custom-control-input" id="filterCheck8")
                  label.custom-control-label(for="filterCheck8") Smoked Fish
                    span.b-filter__number (8)

                a.btn-link(href="#") See More Brand


            .b-filter__section
              button.b-filter__header(type="button" data-toggle="collapse" data-target="#filterCollapse4" aria-expanded="true" aria-controls="filterCollapse4") Types

              .b-filter__body.collapse.show#filterCollapse4
                .custom-control.custom-checkbox
                  input(type="checkbox" class="custom-control-input" id="filterCheck9")
                  label.custom-control-label(for="filterCheck9") Caviar & Spread
                    span.b-filter__number (24)
                .custom-control.custom-checkbox
                  input(type="checkbox" class="custom-control-input" id="filterCheck10" checked)
                  label.custom-control-label(for="filterCheck10") Canned Fish
                    span.b-filter__number (16)
                .custom-control.custom-checkbox
                  input(type="checkbox" class="custom-control-input" id="filterCheck11")
                  label.custom-control-label(for="filterCheck11") Herring (Seledka)
                    span.b-filter__number (24)
                .custom-control.custom-checkbox
                  input(type="checkbox" class="custom-control-input" id="filterCheck12")
                  label.custom-control-label(for="filterCheck12") Smoked Fish
                    span.b-filter__number (8)

                a.btn-link(href="#") See More Brand


            .b-filter__section
              button.b-filter__header(type="button" data-toggle="collapse" data-target="#filterCollapse5" aria-expanded="false" aria-controls="filterCollapse5") Shipping

              .b-filter__body.collapse#filterCollapse5
                .custom-control.custom-checkbox
                  input(type="checkbox" class="custom-control-input" id="filterCheck13")
                  label.custom-control-label(for="filterCheck13") Caviar & Spread
                    span.b-filter__number (24)
                .custom-control.custom-checkbox
                  input(type="checkbox" class="custom-control-input" id="filterCheck14" checked)
                  label.custom-control-label(for="filterCheck14") Canned Fish
                    span.b-filter__number (16)
                .custom-control.custom-checkbox
                  input(type="checkbox" class="custom-control-input" id="filterCheck15")
                  label.custom-control-label(for="filterCheck15") Herring (Seledka)
                    span.b-filter__number (24)
                .custom-control.custom-checkbox
                  input(type="checkbox" class="custom-control-input" id="filterCheck16")
                  label.custom-control-label(for="filterCheck16") Smoked Fish
                    span.b-filter__number (8)


            .b-filter__section
              button.b-filter__header(type="button" data-toggle="collapse" data-target="#filterCollapse6" aria-expanded="false" aria-controls="filterCollapse6") Shelf life

              .b-filter__body.collapse#filterCollapse6
                .custom-control.custom-checkbox
                  input(type="checkbox" class="custom-control-input" id="filterCheck17")
                  label.custom-control-label(for="filterCheck17") Caviar & Spread
                    span.b-filter__number (24)
                .custom-control.custom-checkbox
                  input(type="checkbox" class="custom-control-input" id="filterCheck18" checked)
                  label.custom-control-label(for="filterCheck18") Canned Fish
                    span.b-filter__number (16)
                .custom-control.custom-checkbox
                  input(type="checkbox" class="custom-control-input" id="filterCheck19")
                  label.custom-control-label(for="filterCheck19") Herring (Seledka)
                    span.b-filter__number (24)
                .custom-control.custom-checkbox
                  input(type="checkbox" class="custom-control-input" id="filterCheck20")
                  label.custom-control-label(for="filterCheck20") Smoked Fish
                    span.b-filter__number (8)

          .b-filter__btns.d-xl-none
            button.btn.btn-primary.btn-sm See resault
            button.btn.btn-shadow.text-secondary.btn-sm(type="reset") Reset


  // end .b-filter
  |
  |

