mixin b-payment()

  .b-payment.user-content
    .row
      .col-xl-6.offset-xl-3
        section.section-area
          h2 We are Awesome
          ol
            li Nisi suscipit fermentum nisl duis commodo cum ornare rutrum imperdiet blandit lobortis, felis aliquam curae; habitasse luctus condimentum integer, cum vel.
              p Euismod sociosqu morbi nulla malesuada sem nunc consectetuer proin rhoncus id. Purus pulvinar, potenti gravida class. Hac sociosqu. Quis netus lacinia varius mattis. Sociosqu a proin congue congue penatibus risus euismod mi. Lorem curae; elit placerat leo, curabitur ut neque. Dui, consectetuer cras pharetra.

        section.section-area
          h2 It is time
          ol
            li Nisi suscipit fermentum nisl duis commodo cum ornare rutrum imperdiet blandit lobortis, felis aliquam curae; habitasse luctus condimentum integer, cum vel.
            li Euismod sociosqu morbi nulla malesuada sem nunc consectetuer proin rhoncus id. Purus pulvinar, potenti gravida class. Hac sociosqu. Quis netus lacinia varius mattis. Sociosqu a proin congue congue penatibus risus euismod mi. Lorem curae; elit placerat leo, curabitur ut neque. Dui, consectetuer cras pharetra.
            li Nisi suscipit fermentum nisl duis commodo cum ornare rutrum imperdiet blandit lobortis, felis aliquam curae; habitasse luctus condimentum integer, cum vel.




  // end .b-payment
  |
  |


mixin b-payment-new()

  .b-payment-new
    section.section-area
      .row
        .col-xl-6.order-xl-last
          h2 Free shipping
          p You may get Free Shipping if your order total is over $150 and shipping weight is not exceeding 50 lbs*. Free Shipping applies only to continental US states, residential addresses, and Ground/Standard shipping method. Free Shipping cannot be combined with Coupon Discount.
          p * Free Shipping option cannot be used on orders containing perishable items. During hot season (May 1 - Sep 30) orders containing perishable items must be shipped with EXPRESS service (Second Day/Overnight). Free Shipping cannot be used for Express shipping methods.
        .col-xl-6
          img.b-payment-new__img.img-fluid(src="https://dummyimage.com/622x313/000/fffhttps://dummyimage.com/622x313/000/fff", alt="photo")


    section.section-area
      .row
        .col-xl-6
          h2 Order processing and shipping
          ul
            li Orders are processed within 1-3 business days.
            li We use UPS, FedEx, and USPS shipping carriers depending on the destination and products that were ordered. We recommend choosing 2nd Day or Overnight service for perishable items that require a certain temperature while in transit. Orders are shipped Monday through Friday. Orders that have estimated shipping time of more than 3 business days are shipped Monday through Wednesday because we don’t want packages to be kept in shipping carriers facilities during weekends. Orders placed after 12 pm will begin processing the next business day.
            li If an item happens to be out of stock during processing, you will be contacted for a replacement as soon as possible via e-mail or phone. In case when the missing items make up less than 10% of the order, it will be shipped without the missing items and a refund for them will be issued.
            li
              p We deliver to all addresses, including P.O. Box and APO.
              p International packages are sent with USPS only. The estimated shipping cost can be found on USPS postal calculator. http://postcalc.usps.com/
            li Estimated transit time for UPS and FedEx can be found on the following map. Nevertheless, Ground shipping may take up to 6 business days regardless of destination. Weather conditions, holidays, and other unforeseen circumstances may increase transit time.
            li Depending on the chosen method delivery may take 1-7 working days. A tracking number will be sent to your registered email address once your package is shipped. Funds are only withdrawn from your payment source once your package is shipped.

        .col-xl-6
          img.b-payment-new__img.img-fluid(src="https://dummyimage.com/622x807/000/fffhttps://dummyimage.com/622x807/000/fff", alt="photo")


    section.section-area
      .row
        .col-xl-6.order-xl-last.pr-sm-5
          h2 Perishable (refrigerated) items are packaged in thermal envelopes accompanied by ice packs.
          ol
            li For customers whose shipping address is in the gray, orange, red or green area on the map below.
            li Orders containing perishable (refrigerated) items, must be shipped via UPS 2nd Day Air.
            li For orders containing perishable (refrigerated) items and non-perishable items, we recommend that you place two separate orders in order to save on shipping costs.
            li Orders may be held until the Monday following the day your order was placed in order to avoid stop-over time during the weekend.
        .col-xl-6
          .b-payment-map
            img.img-fluid(src="assets/media/content/b-payment/map.png", alt="map")
            .b-payment-map__legend
              span.b-payment-map__name Transit Days:
              span.b-payment-map__item.b-payment-map__item_1 - 1 Day
              span.b-payment-map__item.b-payment-map__item_2 - 2 Days
              span.b-payment-map__item.b-payment-map__item_3 - 3 Days
              span.b-payment-map__item.b-payment-map__item_4 - 4 Days
              span.b-payment-map__item.b-payment-map__item_5 - 5 Days


    section.section-area.section-area_mr_sm
      .row
        .col-xl-6
          h2 Placing and receiving an order
          ul
            li Please be careful when entering shipping address. We don’t take responsibility for incorrect or incomplete addresses, we do not issue refunds for the shipping cost and a restocking fee up to 20% of the total cost may be applied.
            li When received, please check if the package is intact. If it is damaged, please take pictures and send them to the shipping carrier for further investigation.
            li All claims regarding your order must be submitted via e-mail within 24 hours upon receiving the package.
            li We try to do our best to assure delivery on time; however, we don’t take responsibility for shipping carrier delays due to weather conditions or extraordinary circumstances.
            li You may check the status of an order in your account on the website. Depending on the shipping service, the tracking number might not be available within 24 hours.
            li You will receive e-mail notifications when the order is placed, and when it is shipped out.


        .col-xl-6
          img.b-payment-new__img.img-fluid(src="https://dummyimage.com/622x579/000/fffhttps://dummyimage.com/622x579/000/fff", alt="photo")


    section.section-area
      .row
        .col-xl-6.order-xl-last
          h2 Payment
          .b-payment-new__subtitle We accept credit cards  PayPal, VISA, MasterCard, Amex and Discover . You can pay for your order directly on the website. Payments and withdrawals occur after your order is completed and ready for submission.
          ol
            li We accept PayPal, VISA, MasterCard, American Express, Discover
            li You may use Bonus Points you have previously earned on our website.
            li Since you are charged only for products that were sent to you, the total charged when the order is shipped may differ from the one at checkout.
            li In case some of the items are missing, the total will decrease, and the money will be returned to you.
        .col-xl-6
          .b-payment-new__figure
            img.img-fluid(src="assets/media/content/b-payment/img-1.png", alt="map")


  // end .b-payment
  |
  |

