.b-payment-new {
  padding-top: 22px;
  padding-bottom: 50px;
  color: #666666;
  section {
    margin-bottom: 98px;
  }
  .section-area_mr_sm {
    margin-bottom: 90px;
  }
  h2 {
    margin-bottom: 18px;
    line-height: 1.28125;
  }
  ol {
    counter-reset: list;
    list-style-type: none;
    padding-left: 0;
    margin-top: 23px;
    margin-bottom: 8px;
    li {
      line-height: 1.56;
      &:not(:last-child) {
        margin-bottom: 14px;
      }
      p:first-child {
        margin-top: 1rem;
      }
      &:before {
        display: inline-block;
        color: #666666;
        content: counter(list) '.';
        counter-increment: list;
        padding-right: 5px;
        font-weight: bold;
      }
    }
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 18px;
    margin-bottom: 7px;
    li {
      line-height: 1.56;
      padding-left: 19px;
      position: relative;
      &:not(:last-child) {
        margin-bottom: 14px;
      }
      p {
        margin-bottom: 14px;
        &:first-child {
          margin-top: 1rem;
        }
      }
      &:before {
        display: inline-block;
        background-color: $green;
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        position: absolute;
        left: 2px;
        top: 10px;
      }
    }
  }

  &__subtitle {
    font-weight: bold;
    line-height: 1.56;
    + ol {
      margin-top: 15px;
    }
  }

  &__figure {
    display: inline-block;
    position: relative;
    margin-top: 98px;
    margin-left: 78px;
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 432px;
      height: 432px;
      background: #FCB149;
      opacity: 0.2;
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }
    img {
      position: relative;
      z-index: 1;
    }
  }

  @include media-breakpoint-down(lg) {
    h2 {
      font-size: 24px;
    }
    &__img {
      margin-top: 20px;
    }
    &__figure {
      margin-top: 138px;
      margin-left: 0;
    }
    ul {
      li {
        &:before {
          top: 6px;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 0;
    section,
    .section-area_mr_sm {
      margin-bottom: 60px;
    }
    &__figure {
      margin-top: 20px;
      &:after {
        display: none;
      }
    }
  }
}

.b-payment-map {
  text-align: center;
  padding-right: 35px;
  margin-top: -4px;

  &__legend {
    text-align: left;
    margin-top: 36px;
  }
  &__name {
    padding-right: 19px;
    font-weight: bold;
    color: #666666;
    display: inline-block;
  }
  &__item {
    font-size: 14px;
    line-height: 1.43;
    color: #999999;
    display: inline-block;
    vertical-align: middle;
    &:not(:last-child) {
      margin-right: 25px;
    }
    &:before {
      content: '';
      width: 14px;
      height: 14px;
      display: inline-block;
      border-radius: 1px;
      vertical-align: -10%;
      margin-right: 4px;
    }
    &_1 {
      &:before {
        background-color: #43B02A;
      }
    }
    &_2 {
      &:before {
        background-color: #FCCD49;
      }
    }
    &_3 {
      &:before {
        background-color: #49A2FC;
      }
    }
    &_4 {
      &:before {
        background-color: #8250E5;
      }
    }
    &_5 {
      &:before {
        background-color: #F05250;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    margin-top: 20px;
  }

  @include media-breakpoint-down(sm) {
    &__name {
      padding-right: 14px;
    }
  }
}
