.section-reviews {
  background: #FEF3E5;
  padding-top: 162px;
  padding-bottom: 85px;

  @include media-breakpoint-down(lg) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.b-reviews-slider {
  padding: 40px 6.8% 105px;
  .slick-arrow {
    opacity: 0;
  }
  &:hover {
    .slick-arrow {
      opacity: 1;
    }
  }

  @include media-breakpoint-down(lg) {
    padding: 0 0;
  }
}

.b-reviews {
  margin-left: 16px;
  margin-right: 16px;
  &__inner {
    padding: 70px 30px 75px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(51, 51, 51, 0.08);
    border-radius: 4px;
    text-align: center;
  }
  &__blockquote {
    color: #666666;
  }
  &__face {
    width: 40px;
    height: 40px;
    margin-top: 43px;
    margin-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
  }
  &__name {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.318182px;
    color: #333333;
    margin-bottom: 6px;
  }
  &__category {
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
  }

  @include media-breakpoint-down(lg) {
    width: 280px;
    margin-left: 5px;
    margin-right: 5px;
    &__inner {
      padding: 25px 20px 25px;
    }
    &__blockquote {
      line-height: 1.71;
    }
    &__face {
      margin-top: 20px;
    }
  }
}
