mixin b-reviews()

  .b-reviews
    .b-reviews__inner
      p.b-reviews__blockquote “Musicians, actors and influencers plan social media takeover to support #MarchForOurLives”
      .b-reviews__face
        img.img-scale(src="assets/media/content/b-reviews/1.jpg" , alt="photo")
      .b-reviews__name Bertram Jensen
      .b-reviews__category Author at Panoply Store


  // end .b-reviews
  |
  |
