mixin b-category-1(img, title)

  a.b-category-1(class!=attributes.class href="categories.html")
    .b-category-1__img
      img.img-scale(src="assets/media/content/b-category/" + img + ".jpg", alt="photo")
    .b-category-1__title= title
      != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic fill-primary', iconWidth: '5', iconHeight: '9'})

  // end .b-category
  |
  |

mixin b-category-2(img, title)

  a.b-category-2(class!=attributes.class href="categories.html")
    .b-category-2__inner
      .b-category-2__img
        img.img-scale(src="assets/media/content/b-category/" + img + ".jpg", alt="photo")
      .b-category-2__main
        .b-category-2__title= title
        .b-category-2__label 200 pieces

  // end .b-category
  |
  |

