.b-category-group,
.b-category-group-2,
.b-category-group-3 {
  @include media-breakpoint-down(lg) {
    display: block;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }
}

.b-category-group-2,
.b-category-group-3 {
  @include media-breakpoint-down(lg) {
    margin-left: 0;
    margin-right: -20px;
  }
}

.b-category-group {
  padding-top: 20px;
  margin-bottom: 15px;
  @include media-breakpoint-down(lg) {
    margin-left: -6px;
    margin-right: -6px;
    margin-bottom: 5px;
    padding-top: 10px;
  }
}

.b-category-group-3 {
  margin-bottom: -10px;
}

.b-category-1 {
  text-align: center;
  display: block;
  &__img {
    overflow: hidden;
    border-radius: 50%;
    height: 168px;
    width: 168px;
    display: inline-block;
    border: 1px solid transparent;
    transition: all .3s;
  }
  &__title {
    color: #333333;
    transition: all .3s;
    margin-top: 23px;
    padding-left: 10px;
    .ic {
      opacity: 0;
      transition: all .3s;
    }
  }

  &:hover {
    text-decoration: none;
  }
  &:hover & {
    &__title {
      color: $primary;
      .ic {
        opacity: 1;
      }
    }
    &__img {
      border-color: $primary;
      transform: scale(1.1);
      box-shadow: 0px 4px 14px rgba(51, 51, 51, 0.1);
    }
  }


  @include media-breakpoint-down(lg) {
    display: inline-block;
    width: auto;
    padding-left: 6px;
    padding-right: 6px;
    &__img {
      width: 116px;
      height: 116px;
    }
    &__title {
      font-size: 16px;
      margin-top: 5px;
      padding-left: 0;
      .ic {
        display: none;
      }
    }
  }
}


.b-category-2 {
  position: relative;
  height: 220px;
  display: block;
  margin-top: 18px;
  margin-bottom: 10px;
  &__inner {
    position: relative;
    height: 100%;
    transition: all .3s;
    border-radius: 5px;
    overflow: hidden;
  }
  &__img {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  &__main {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 70px 32px 32px;
    color: #FFFFFF;
    z-index: 1;
    background: linear-gradient(180deg, rgba(39, 38, 34, 0) 0%, rgba(38, 37, 33, 0.6) 100%);
  }
  &__title {
    font-weight: bold;
    font-size: 26px;
  }
  &__label {
    font-size: 14px;
    line-height: 16px;
    opacity: 0.8;
    margin-top: 10px;
  }

  &:hover & {
    &__inner {
      transform: scale(1.1);
      box-shadow: 0px 4px 14px rgba(51, 51, 51, 0.1);
    }
  }

  &_lg {
    height: 295px;
    margin-bottom: 13px;
  }


  @include media-breakpoint-down(lg) {
    display: inline-block;
    width: 280px;
    height: 191px;
    margin-right: 6px;
    padding-right: 0;
    padding-left: 0;
    margin-top: 8px;
    margin-bottom: 0;
    &__main {
      padding: 20px 22px 22px;
    }
    &__title {
      font-size: 20px;
    }
    &__label {
      font-size: 12px;
    }

    &_lg {
      margin-bottom: 10px;
    }
  }
}
