mixin b-subscribe(img1, img2)

  section.section-subscribe.section-default(class!=attributes.class)
    .container
      .text-center
        h2.ui-title.ui-title_ls_compact Let’s keep in touch
        p Get recommendations, tips, updates, promotions and more.

        form.b-subscribe.row.needs-validation(novalidate)
          .col-lg-6.offset-lg-3
            .b-subscribe__inner.row.no-gutters
              .col-md
                input.form-control(type="email" placeholder="Email Address" required)
                .invalid-tooltip Error email
              .col-md-auto
                button.btn.btn-primary sign  up

    .b-subscribe__item.b-subscribe__item_part-1
      img.img-scale(src="assets/media/content/b-subscribe/" + img1 + ".jpg", alt="photo")
    .b-subscribe__item.b-subscribe__item_part-2
      img.img-scale(src="assets/media/content/b-subscribe/" + img2 + ".jpg", alt="photo")



  // end .b-subscribe
  |
  |
