.section-subscribe {
  position: relative;
  padding-bottom: 65px;

  @include media-breakpoint-down(md) {
    padding-bottom: 20px;
  }
}


.b-subscribe {
  margin: 60px -35px 20px;
  &__inner {
    background-color: #FFF;
    border-radius: 4px;
    margin-bottom: 16px;
  }
  &__item {
    position: absolute;
    img {
      object-fit: contain;
      font-family: 'object-fit: contain;';
      mix-blend-mode: darken;
    }
    &_part-1 {
      left: 0;
      top: 30px;
    }
    &_part-2 {
      right: 0;
      bottom: -36px;
    }
  }
  .form-control {
    padding-top: 18px;
    padding-bottom: 19px;
    border: none;
  }
  .btn {
    font-size: 14px;
    padding-top: 19px;
    padding-bottom: 18px;
    letter-spacing: 0.5px;
  }

  &_mod-a {
    .b-subscribe {
      &__item {
        &_part-1 {
          top: 70px;
        }
      }
    }
    @include media-breakpoint-down(md) {
      .b-subscribe {
        &__item {
          top: calc(100% - 36px);
          bottom: auto;
        }
      }
    }
  }

  &_mod-b {
    .b-subscribe {
      &__item {
        &_part-1 {
          top: 70px;
        }
        &_part-2 {
          bottom: -60px;
        }
      }
    }
    @include media-breakpoint-down(md) {
      .b-subscribe {
        &__item {
          top: calc(100% - 36px);
          bottom: auto;
        }
      }
    }
  }


  @include media-breakpoint-down(lg) {
    &__item {
      max-width: 260px;
    }
  }

  @include media-breakpoint-down(md) {
    margin-top: 23px;
    &__inner {
      background-color: transparent;
      padding-left: 20px;
      padding-right: 20px;
      .form-control {
        margin-bottom: 16px;
      }
      .btn {
        width: 100%;
      }
    }
    .btn {
      padding-top: 17px;
      padding-bottom: 17px;
      letter-spacing: 2px;
    }
    &__item {
      max-width: 50%;
      height: 120px;
      top: calc(100% - 36px);
      bottom: auto;

      &_part-1 {
        img {
          object-position: left;
        }
      }
      &_part-2 {
        img {
          object-position: right;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .form-control {
      padding-top: 14px;
      padding-bottom: 12px;
    }
  }
}
