.b-form-reviews {
  margin-top: 40px;
  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1px;
    color: #333333;
    margin-bottom: 26px;
  }
  &__note {
    font-size: 14px;
    line-height: 1.3;
    color: #999999;
    .custom-control-label {
      font-size: 14px;
      color: #999999;
    }
  }
  &__link {
    color: #666666;
    text-decoration: underline;
  }
  .ui-rating {
    margin-bottom: 19px;
  }
  .btn {
    width: 258px;
  }
  textarea {
    height: 192px;
  }

  @include media-breakpoint-down(sm) {
    .btn {
      width: 100%;
      margin-top: 20px;
    }
  }
}
