mixin b-form-reviews()

  section.b-form-reviews#wrapFormReviews
    h2.b-form-reviews__title Write a Review
    form.b-form-reviews__main.row.needs-validation(novalidate)
      .col-lg-8.pr-md-5
        .ui-form-label Your rating
        .ui-rating
          .ui-rating__item
            input.ui-rating__input#ratingCheck1(type="radio" name="reviewsRating")
            label(for="ratingCheck1")
              != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
          .ui-rating__item
            input.ui-rating__input#ratingCheck2(type="radio" name="reviewsRating")
            label(for="ratingCheck2")
              != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
          .ui-rating__item
            input.ui-rating__input#ratingCheck3(type="radio" name="reviewsRating")
            label(for="ratingCheck3")
              != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
          .ui-rating__item
            input.ui-rating__input#ratingCheck4(type="radio" name="reviewsRating")
            label(for="ratingCheck4")
              != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
          .ui-rating__item
            input.ui-rating__input#ratingCheck5(type="radio" name="reviewsRating")
            label(for="ratingCheck5")
              != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})


        .row
          .col-md-6
            .form-group
              label.ui-form-label Name
              input.form-control(type="text" placeholder="Your Full Name" required)
              .invalid-tooltip Error Name
          .col-md-6
            .form-group
              label.ui-form-label Email
              input.form-control(type="email" placeholder="Your Email" required)
              .invalid-tooltip Error email

        .form-group
          label.ui-form-label Your review
          textarea.form-control(placeholder="Enter Your Text" required)
          .invalid-tooltip Error review

        .row.justify-content-between.align-items-baseline
          .col-md
            .b-form-reviews__note.custom-control.custom-checkbox
              input.custom-control-input#reviewsConsent(type="checkbox")
              label.custom-control-label(for="reviewsConsent") I agree to the
              |
              |
              a.b-form-reviews__link(href="#") Terms
              |  and
              |
              |
              a.b-form-reviews__link(href="#") Conditions

          .col-md-auto
            button.btn.btn-primary Send review



  // end .b-form-reviews
  |
  |
