doctype html
html(lang="en")

  include ../components/loader/loader
  include ../components/head/head
  include ../components/header/header
  include ../components/navig/navig
  include ../components/footer/footer
  include ../components/b-modal-location/b-modal-location

  block head

  body

    block loader
      +loader()

    .l-theme(class=bgGray ? 'bg-gray' : '')

      block header

      block content

      +footer()


      +b-modal-location()


    // end .l-theme

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();


    // ++++++++++++
    // MAIN SCRIPTS
    // ++++++++++++


    script(src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-migrate-1.4.1.min.js")

    // Bootstrap
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")


    //- // Animations
    //- script(src="assets/plugins/scrollreveal/scrollreveal.min.js")

    // Main script
    script(src='assets/js/main.js')

    block scripts

    // User customization
    script(src='assets/js/custom.js')




