extends _template.pug

include ../components/b-subscribe/b-subscribe
include ../components/b-title-page/b-title-page
include ../components/b-advantages/b-advantages
include ../components/b-goods/b-goods
include ../components/b-category/b-category
include ../components/b-about/b-about

block head
  head
    +head(head.home)


block header
  +header('')(class="header_inner")


block content
  main.l-main
    .container-fluid
      +b-title-page('About Us')(class="b-title-page_mod-c")


    .container
      nav(aria-label="breadcrumb")
        ol.breadcrumb
          li.breadcrumb-item
            a(href="#") Home
          li.breadcrumb-item.active(aria-current="page") About Us

      +b-about()

      .section-default
        .row
          .col-lg-3.col-md-6
            .b-advantages-2
              .b-advantages-2__ic
                != pugHelpers.Icon.call(locals, {iconName: 'advant-1', className: 'ic', iconWidth: '48', iconHeight: '48'})
              .b-advantages-2__title Free Shipping for orders<br>over $150
          .col-lg-3.col-md-6
            .b-advantages-2
              .b-advantages-2__ic
                != pugHelpers.Icon.call(locals, {iconName: 'advant-2', className: 'ic', iconWidth: '48', iconHeight: '48'})
              .b-advantages-2__title Always fresh products<br>special for you!
          .col-lg-3.col-md-6
            .b-advantages-2
              .b-advantages-2__ic
                != pugHelpers.Icon.call(locals, {iconName: 'advant-3', className: 'ic', iconWidth: '34', iconHeight: '34'})
              .b-advantages-2__title Manhattan next<br>day delivery
          .col-lg-3.col-md-6
            .b-advantages-2
              .b-advantages-2__ic
                != pugHelpers.Icon.call(locals, {iconName: 'advant-4', className: 'ic', iconWidth: '46', iconHeight: '46'})
              .b-advantages-2__title Russian products to any<br>US address


    +b-subscribe('item-4', 'item-5')(class="b-subscribe_mod-a")
