extends _template.pug

block head
  head
    +head(head.defaults)

block content

  main.l-content
    .container

      .section-default.text-center.pb-5
        h1 Pages
        ol.list-page(style="text-align: left;")
          li
            a.text-success(href="index.html" target="_blank") Home
          li
            a.text-success(href="categories.html" target="_blank") Categories
          li
            a.text-success(href="catalog.html" target="_blank") Catalog
          li
            a.text-success(href="goods-item.html" target="_blank") Product card
          li
            a.text-success(href="wish.html" target="_blank") Wish list
          li
            a.text-success(href="about.html" target="_blank") About
          li
            a.text-success(href="contacts.html" target="_blank") Contacts
          li
            a.text-success(href="payment.html" target="_blank") Payment and Shipping
          li
            a.text-success(href="ui.html" target="_blank") UI
          li
            a.text-success(href="payment-new.html" target="_blank") New Payment and Shipping
          li
            a.text-success(href="cart-empty.html" target="_blank") New Cart empty
          li
            a.text-success(href="cart.html" target="_blank") New Cart
          li
            a.text-success(href="checkout-new.html" target="_blank") New Checkout
          li
            a.text-success(href="checkout-new-2.html" target="_blank") New Checkout 2

  .page__buffer
