extends _template.pug

include ../components/b-subscribe/b-subscribe
include ../components/b-title-page/b-title-page
include ../components/b-order/b-order

block head
  head
    +head(head.home)


block header
  +header('')(class="header_inner")


block content
  main.l-main
    .container-fluid
      +b-title-page('Your shopping cart')(class="b-title-page_pl_sm")

    .container
      nav(aria-label="breadcrumb")
        ol.breadcrumb
          li.breadcrumb-item
            a(href="#") Home
          li.breadcrumb-item.active(aria-current="page") About  Us


      +b-order-sm()
