extends _template.pug

include ../components/b-subscribe/b-subscribe
include ../components/b-title-page/b-title-page
include ../components/b-advantages/b-advantages
include ../components/b-goods/b-goods
include ../components/b-category/b-category
include ../components/b-filter/b-filter
include ../components/b-top-filter/b-top-filter
include ../components/b-modal-sort/b-modal-sort

block head
  head
    +head(head.home)


block header
  +header('')(class="header_inner")


block content
  main.l-main
    .container-fluid
      +b-title-page('Meat')(class="b-title-page_mod-b")

    .container
      nav(aria-label="breadcrumb")
        ol.breadcrumb
          li.breadcrumb-item
            a(href="#") Home
          li.breadcrumb-item
            a(href="#") Food & Drink
          li.breadcrumb-item.active(aria-current="page") Meat


      .section-area
        +b-top-filter()(class="d-none d-xl-flex")
        .row
          .col-xl-3
            +b-filter()
            .group-filter-trigger.row.d-flex.d-xl-none.no-gutters
              .col-6.px-2
                button.btn.btn-filter-trigger.btn-shadow.text-primary.w-100(type="button" data-toggle="modal" data-target="#modalFilter") Filter by
              .col-6.px-2
                button.btn.btn-filter-trigger.btn-shadow.text-secondary.w-100(type="button" data-toggle="modal" data-target="#modalSort") Sort by

          .col-xl-9
            .row.mb-md-0.mb-3
              .col-md-6.col-lg-4
                .b-goods.b-goods_rows
                  .b-goods__labels
                    span.b-goods__label.bg-primary
                      != pugHelpers.Icon.call(locals, {iconName: 'delivery', className: 'ic fill-white', iconWidth: '17', iconHeight: '12'})
                      |  2 Day Delivery
                    span.b-goods__label.bg-secondary ONLY FAST DELIVERY
                    span.b-goods__label.bg-danger ONLY FAST DELIVERY

                  .b-goods__img
                    img.img-scale(src="assets/media/content/b-goods/263x180/2.jpg", alt="photo")

                  .b-goods__main
                    .b-goods__title (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg
                    .mb-sm-2
                      .ui-rating-group
                        ul.ui-rating.list-unstyled
                          li.ui-rating__item
                            != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                          li.ui-rating__item
                            != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                          li.ui-rating__item
                            != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                          li.ui-rating__item
                            != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                          li.ui-rating__item
                            != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})

                        ul.ui-rating.ui-rating_active.list-unstyled(style="width:95%")
                          li.ui-rating__item.active
                            != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                          li.ui-rating__item.active
                            != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                          li.ui-rating__item.active
                            != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                          li.ui-rating__item.active
                            != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                          li.ui-rating__item.active
                            != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                      a.b-goods__link(href="#") 32 reviews

                    .b-goods__price $ 25.95

                    .b-goods__footer.row.no-gutters.justify-content-between.align-items-center
                      .ui-enumerator.col
                        span.ui-enumerator__btn.js-minus
                          != pugHelpers.Icon.call(locals, {iconName: 'minus', className: 'ic', iconWidth: '8', iconHeight: '2'})
                        input.ui-enumerator__input(type="text" value="1")
                        span.ui-enumerator__btn.js-plus
                          != pugHelpers.Icon.call(locals, {iconName: 'plus', className: 'ic', iconWidth: '8', iconHeight: '8'})

                      .col-auto
                        button.btn.btn-primary.btn-sm(type="button") Add to cart

                    button.b-goods__btn-add.js-favorite(type="button")
                      != pugHelpers.Icon.call(locals, {iconName: 'heart-2', className: 'ic', iconWidth: '21', iconHeight: '18'})

              .col-md-6.col-lg-4
                +b-goods('263x180/2', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')(class="b-goods_rows")
              .col-md-6.col-lg-4
                +b-goods('263x180/3', '', '', '', 'Chocolate Candy Assortment Alenka Christmas & New Year Gourmet Gift "Fun Vacation", 24.69 oz / 700 g', '')(class="b-goods_rows")
              .col-md-6.col-lg-4
                +b-goods('263x180/1', '', '', 'label3', 'Flowers Handmade Wooden Eggs', 'oldPrice')(class="b-goods_rows")
              .col-md-6.col-lg-4
                +b-goods('263x180/2', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')(class="b-goods_rows")
              .col-md-6.col-lg-4
                +b-goods('263x180/3', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')(class="b-goods_rows")
              .col-md-6.col-lg-4
                +b-goods('263x180/1', '', '', 'label3', 'Flowers Handmade Wooden Eggs', 'oldPrice')(class="b-goods_rows")
              .col-md-6.col-lg-4
                +b-goods('263x180/2', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')(class="b-goods_rows")
              .col-md-6.col-lg-4
                +b-goods('263x180/3', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')(class="b-goods_rows")

            nav(aria-label="Page navigation")
              ul.pagination.justify-content-center
                li.page-item
                  a.page-link(href="#")
                    != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic ic-rot_180 fill-primary', iconWidth: '10', iconHeight: '18'})
                li.page-item
                  a.page-link(href="#") 1
                li.page-item.active
                  a.page-link(href="#") 2
                    span.sr-only (current)
                li.page-item
                  a.page-link(href="#") 3
                li.page-item
                  a.page-link(href="#") 4
                li.page-item
                  a.page-link(href="#")
                    != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic fill-primary', iconWidth: '10', iconHeight: '18'})


      section.section-default
        h2.ui-title Best Products Food & Drink

        .ui-filter-group
          ul.ui-filter.list-unstyled
            li.ui-filter__item.active
              a.ui-filter__link(href="#") All Products
            li.ui-filter__item
              a.ui-filter__link(href="#") Food & Drink
            li.ui-filter__item
              a.ui-filter__link(href="#") Health
            li.ui-filter__item
              a.ui-filter__link(href="#") Beauty
            li.ui-filter__item
              a.ui-filter__link(href="#") Gifts
          a.btn-link(href="categories.html") View More


        .b-goods-slider.js-slider(data-slick='{"variableWidth": true, "slidesToScroll": 1, "infinite": false, "autoplay": false, "responsive": [{"breakpoint": 768, "settings": {"arrows": false}}]}')
          +b-goods('263x180/1', 'label1', 'label2', 'label3', 'Flowers Handmade Wooden Eggs', 'oldPrice')
          +b-goods('263x180/2', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
          +b-goods('263x180/3', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
          +b-goods('263x180/4', '', '', 'label3', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')
          +b-goods('263x180/5', '', 'label2', '', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')
          +b-goods('263x180/1', 'label1', 'label2', 'label3', 'Flowers Handmade Wooden Eggs', '')
          +b-goods('263x180/2', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
          +b-goods('263x180/3', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
          +b-goods('263x180/4', '', '', 'label3', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')
          +b-goods('263x180/5', '', 'label2', '', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')



      section.section-area.mt-5
        h2.ui-title More categories

        .b-category-group-3.row
          +b-category-2('432x295/1', 'Food & Drink')(class="b-category-2_lg col-xl-4")
          +b-category-2('432x295/2', 'Food & Drink')(class="b-category-2_lg col-xl-4")
          +b-category-2('432x295/3', 'Beauty')(class="b-category-2_lg col-xl-4")
          +b-category-2('432x295/4', 'Food & Drink')(class="b-category-2_lg col-xl-4")
          +b-category-2('432x295/5', 'Salad')(class="b-category-2_lg col-xl-4")
          +b-category-2('432x295/6', 'Food & Drink')(class="b-category-2_lg col-xl-4")


      section.section-default
        h2.ui-title-inner Your recently viewed items and featured recommendations

        .ui-filter-group
          ul.ui-filter.list-unstyled
            li.ui-filter__item.active
              a.ui-filter__link(href="#") All Products
            li.ui-filter__item
              a.ui-filter__link(href="#") Food & Drink
            li.ui-filter__item
              a.ui-filter__link(href="#") Health
            li.ui-filter__item
              a.ui-filter__link(href="#") Beauty
            li.ui-filter__item
              a.ui-filter__link(href="#") Gifts
          a.btn-link(href="categories.html") View More


        .b-goods-slider.js-slider(data-slick='{"variableWidth": true, "slidesToScroll": 1, "infinite": false, "autoplay": false, "responsive": [{"breakpoint": 768, "settings": {"arrows": false}}]}')
          +b-goods('263x180/1', 'label1', 'label2', 'label3', 'Flowers Handmade Wooden Eggs', 'oldPrice')
          +b-goods('263x180/2', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
          +b-goods('263x180/3', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
          +b-goods('263x180/4', '', '', 'label3', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')
          +b-goods('263x180/5', '', 'label2', '', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')
          +b-goods('263x180/1', 'label1', 'label2', 'label3', 'Flowers Handmade Wooden Eggs', '')
          +b-goods('263x180/2', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
          +b-goods('263x180/3', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
          +b-goods('263x180/4', '', '', 'label3', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')
          +b-goods('263x180/5', '', 'label2', '', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')





      .section-area.pt-4.mt-2
        .row
          .col-lg-3.col-md-6
            .b-advantages-2
              .b-advantages-2__ic
                != pugHelpers.Icon.call(locals, {iconName: 'advant-1', className: 'ic', iconWidth: '48', iconHeight: '48'})
              .b-advantages-2__title Free Shipping for orders<br>over $150
          .col-lg-3.col-md-6
            .b-advantages-2
              .b-advantages-2__ic
                != pugHelpers.Icon.call(locals, {iconName: 'advant-2', className: 'ic', iconWidth: '48', iconHeight: '48'})
              .b-advantages-2__title Always fresh products<br>special for you!
          .col-lg-3.col-md-6
            .b-advantages-2
              .b-advantages-2__ic
                != pugHelpers.Icon.call(locals, {iconName: 'advant-3', className: 'ic', iconWidth: '34', iconHeight: '34'})
              .b-advantages-2__title Manhattan next<br>day delivery
          .col-lg-3.col-md-6
            .b-advantages-2
              .b-advantages-2__ic
                != pugHelpers.Icon.call(locals, {iconName: 'advant-4', className: 'ic', iconWidth: '46', iconHeight: '46'})
              .b-advantages-2__title Russian products to any<br>US address


    +b-subscribe('item-4', 'item-5')(class="b-subscribe_mod-a")

  +b-modal-sort()
