extends _template.pug

include ../components/b-modal-success/b-modal-success
include ../components/b-order/b-order
include ../components/b-checkout/b-checkout

block head
  head
    +head(head.home)



block header
  +header('')(class="header_inner")

block content
  .b-checkout
    .container
      .row
        .col-xl-6
          h1.b-checkout__title.ui-title-inner Checkout
          .b-checkout__info
            p Please enter your Name and Address then click "Continue" below before selecting Shipping and Payment Method.
            p If you already have an account please
              a.b-checkout__btn.btn.btn-outline-primary.btn-sm(href="#") sign in

      .b-order
        form.row.needs-validation(novalidate)
          .col-xl-4

            .b-order-info.b-order__card
              .b-order__card-inner
                .b-order__title-inner Personal information
                .form-row
                  .form-group.col-sm-6
                    label.ui-form-label First name
                    input.form-control(type="text" placeholder="Your first name" required)
                    .invalid-tooltip Error name
                  .form-group.col-sm-6
                    label.ui-form-label Last name
                    input.form-control(type="text" placeholder="Your last name" required)
                    .invalid-tooltip Error name
                .form-group
                  label.ui-form-label Address
                  input.form-control(type="text" placeholder="Your address" required)
                  .invalid-tooltip Error address
                .form-group
                  label.ui-form-label Address (line 2)
                  input.form-control(type="text" placeholder="Your address" required)
                  .invalid-tooltip Error address
                .form-row
                  .form-group.col-sm-6
                    label.ui-form-label City
                    input.form-control(type="text" placeholder="Your first name" required)
                    .invalid-tooltip Error city
                  .form-group.col-sm-6
                    label.ui-form-label Country
                    select.js-select(data-width="100%" data-style="ui-select ui-select_lg" required)
                      option(value="") Country 1
                      option(value="") Country 2
                      option(value="") Country 3
                .form-row
                  .form-group.col-sm-6
                    label.ui-form-label State
                    select.js-select(data-width="100%" data-style="ui-select ui-select_lg" required)
                      option(value="") State 1
                      option(value="") State 2
                      option(value="") State 3
                  .form-group.col-sm-6
                    label.ui-form-label Zip/Postal code
                    select.js-select(data-width="100%" data-style="ui-select ui-select_lg" required)
                      option(value="") Zip/Postal code 1
                      option(value="") Zip/Postal code 2
                      option(value="") Zip/Postal code 3
                .form-group
                  label.ui-form-label Phone
                  input.form-control(type="text" placeholder="Your phone" required)
                  .invalid-tooltip Error phone
                .form-group
                  label.ui-form-label Email
                  input.form-control(type="email" placeholder="Your email" required)
                  .invalid-tooltip Error email
                .custom-control.custom-checkbox.pt-md-3.pt-md-2.pt-1
                  input.custom-control-input#order-1(type="checkbox")
                  label.custom-control-label(for="order-1") Make billing as shipping
                .custom-control.custom-checkbox.pt-md-3.pt-md-2.pt-1
                  input.custom-control-input#order-2(type="checkbox")
                  label.custom-control-label(for="order-2") Make billing as shipping

                button.b-order-info__submit.btn.btn-primary(type="button") checkout


          .col-xl-4
            .b-order-shipping.b-order__card.disabled
              .b-order__title-inner Shipping method
              .b-order-shipping__item
                .row
                  .col
                    .custom-control.custom-checkbox
                      input.custom-control-input#shipping1(type="checkbox")
                      label.custom-control-label(for="shipping1") Standard (continantal US)
                  .col-auto
                    .b-order-shipping__price $15.45
              .b-order-shipping__item
                .row
                  .col
                    .custom-control.custom-checkbox
                      input.custom-control-input#shipping2(type="checkbox")
                      label.custom-control-label(for="shipping2") Second day (continantal US)
                  .col-auto
                    .b-order-shipping__price $29.48
              .b-order-shipping__item
                .row
                  .col
                    .custom-control.custom-checkbox
                      input.custom-control-input#shipping3(type="checkbox")
                      label.custom-control-label(for="shipping3") Overnight (continantal US)
                  .col-auto
                    .b-order-shipping__price $56.89



            .b-order-payment.b-order__card.disabled
              .b-order__title-inner Payment method

              .b-order-payment__item
                .custom-control.custom-radio
                  input.custom-control-input(type="radio" name="orderPayment" id="orderPayment1" value="PayPal")
                  label.custom-control-label(for="orderPayment1") PayPal
                    span.b-order-payment__info account name "Kazak Online Group"
              .b-order-payment__item
                .custom-control.custom-radio
                  input.custom-control-input(type="radio" name="orderPayment" id="orderPayment2" value="PayPal")
                  label.custom-control-label(for="orderPayment2") Credit Card



          .col-xl-4
            .b-order-total.b-order__card.disabled
              .b-order-total__section
                .b-order-total__wrap
                  .b-order__title-inner Order summary

                .b-order-total__wrap
                  table.b-order-total__table
                    tbody
                      tr
                        td Subtotal (
                          |
                          |
                          button.b-order-total__table-trigg(type="button" data-toggle="collapse" data-target="#collapseSubtotal" aria-expanded="false" aria-controls="collapseSubtotal") item(s)
                            != pugHelpers.Icon.call(locals, {iconName: 'arr-down', className: 'ic', iconWidth: '9', iconHeight: '5'})
                          |
                          |
                          |):
                        td $5.97
                      tr
                        td.pb-0.text-left(colspan="2")
                          .collapse#collapseSubtotal
                            table.b-order-subtable
                              tr.b-order-subtable__row
                                td.b-order-subtable__title
                                  span.b-order-subtable__name Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto molestias quo voluptas, labore, eum consectetur. Iusto, molestiae doloribus praesentium at voluptates temporibus, quis beatae repudiandae, obcaecati tempora veritatis. Ratione, laboriosam?
                                  span.b-order-subtable__article (321321321)
                                td.b-order-subtable__number Qty: 1
                                td.b-order-subtable__price $21
                              tr.b-order-subtable__row
                                td.b-order-subtable__title
                                  span.b-order-subtable__name Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto molestias quo voluptas, labore, eum consectetur. Iusto, molestiae doloribus praesentium at voluptates temporibus, quis beatae repudiandae, obcaecati tempora veritatis. Ratione, laboriosam?
                                  span.b-order-subtable__article (321321321)
                                td.b-order-subtable__number Qty: 2
                                td.b-order-subtable__price $51
                      tr
                        td Weight:
                        td 0.1 lb
                      tr
                        td Shipping cost:
                        td.b-order-total__no-data $5.97


                  .b-order-total__bonus After checkout you will get:
                    span.b-order-total__bonus-num 5 bonus points!

              .b-order-total__section
                .b-order-total__wrap
                  .b-order-total__foot
                    span.b-order-total__foot-title Total:
                    span.b-order-total__foot-numb $5.97


              .b-order-total__section
                .b-order-total__wrap
                  .b-order__title-inner.pt-2.mt-1 Redeem a discount coupon
                  .b-order-total__info If you have a valid discount coupon, enter the code below and the store will deduct the discount from your order total.
                  .b-order-total__note Note: Discount Coupon can not be combined with Free Shipping

                  .form-group
                    label.ui-form-label promo code
                    .b-order-total__promo.row.no-gutters
                      .col
                        input.form-control.form-control-sm(type="text" placeholder="Enter Your Promo Code" required)
                      .col-auto
                        button.btn.btn-outline-primary.btn-sm.b-order-total__btn-row(type="button") apply


              .pt-4.mt-1
                .b-order-total__wrap
                  .form-group.align-items-baseline
                    .row.justify-content-between
                      label.ui-form-label.col-auto Customer notes:
                      span.ui-form-label__note.col-auto 200 chars left
                    textarea.b-order-total__textarea.form-control(placeholder="Text" required)
                    .invalid-tooltip Error text
                  .form-group
                    .b-order-total__accept.custom-control.custom-checkbox
                      input.custom-control-input#checkAccept(type="checkbox")
                      label.custom-control-label(for="checkAccept") I accept the
                      |
                      |
                      a(href="#") Terms & Conditions
                      |
                      | and
                      |
                      |
                      a(href="#") Privacy statement


                    button.b-order-total__submit.btn.btn-primary(data-toggle="modal" data-target="#modalSuccess" type="button") Submit order

      // end .b-order
      |
      |


  // end .b-checkout
  |
  |

  +b-modal-success()
