extends _template.pug

include ../components/b-modal-success/b-modal-success
include ../components/b-order/b-order

block head
  head
    +head(head.home)



block content
  +b-order()

  +b-modal-success()
