extends _template.pug

include ../components/b-subscribe/b-subscribe
include ../components/b-title-page/b-title-page
include ../components/b-advantages/b-advantages
include ../components/b-goods/b-goods
include ../components/b-category/b-category
include ../components/b-filter/b-filter
include ../components/b-top-filter/b-top-filter
include ../components/b-form-reviews/b-form-reviews

block head
  head
    +head(head.home)


block header
  +header('')(class="header_inner")


block content
  main.l-main.pt-xl-2
    .container

      nav(aria-label="breadcrumb")
        ol.breadcrumb
          li.breadcrumb-item
            a(href="#") Home
          li.breadcrumb-item
            a(href="#")  Food & Drink
          li.breadcrumb-item
            a(href="#") Meat
          li.breadcrumb-item.active(aria-current="page") Smoked Meat & Salo


    .section-area
      +b-goods-full()



    .container

      section.section-default
        h2.ui-title Best Products Food & Drink

        .ui-filter-group
          ul.ui-filter.list-unstyled
            li.ui-filter__item.active
              a.ui-filter__link(href="#") All Products
            li.ui-filter__item
              a.ui-filter__link(href="#") Food & Drink
            li.ui-filter__item
              a.ui-filter__link(href="#") Health
            li.ui-filter__item
              a.ui-filter__link(href="#") Beauty
            li.ui-filter__item
              a.ui-filter__link(href="#") Gifts
          a.btn-link(href="categories.html") View More


        .b-goods-slider.js-slider(data-slick='{"variableWidth": true, "slidesToScroll": 1, "autoplay": false, "responsive": [{"breakpoint": 768, "settings": {"arrows": false}}]}')
          +b-goods('263x180/1', 'label1', 'label2', 'label3', 'Flowers Handmade Wooden Eggs', 'oldPrice')
          +b-goods('263x180/2', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
          +b-goods('263x180/3', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
          +b-goods('263x180/4', '', '', 'label3', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')
          +b-goods('263x180/5', '', 'label2', '', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')
          +b-goods('263x180/1', 'label1', 'label2', 'label3', 'Flowers Handmade Wooden Eggs', '')
          +b-goods('263x180/2', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
          +b-goods('263x180/3', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
          +b-goods('263x180/4', '', '', 'label3', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')
          +b-goods('263x180/5', '', 'label2', '', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')


      section.section-area.mt-5
        h2.ui-title More categories

        .b-category-group-3.row
          +b-category-2('432x295/1', 'Food & Drink')(class="b-category-2_lg col-xl-4")
          +b-category-2('432x295/2', 'Food & Drink')(class="b-category-2_lg col-xl-4")
          +b-category-2('432x295/3', 'Beauty')(class="b-category-2_lg col-xl-4")
          +b-category-2('432x295/4', 'Food & Drink')(class="b-category-2_lg col-xl-4")
          +b-category-2('432x295/5', 'Salad')(class="b-category-2_lg col-xl-4")
          +b-category-2('432x295/6', 'Food & Drink')(class="b-category-2_lg col-xl-4")


      section.section-default
        h2.ui-title-inner Your recently viewed items and featured recommendations

        .ui-filter-group
          ul.ui-filter.list-unstyled
            li.ui-filter__item.active
              a.ui-filter__link(href="#") All Products
            li.ui-filter__item
              a.ui-filter__link(href="#") Food & Drink
            li.ui-filter__item
              a.ui-filter__link(href="#") Health
            li.ui-filter__item
              a.ui-filter__link(href="#") Beauty
            li.ui-filter__item
              a.ui-filter__link(href="#") Gifts
          a.btn-link(href="categories.html") View More


        .b-goods-slider.js-slider(data-slick='{"variableWidth": true, "slidesToScroll": 1, "autoplay": false, "responsive": [{"breakpoint": 768, "settings": {"arrows": false}}]}')
          +b-goods('263x180/1', 'label1', 'label2', 'label3', 'Flowers Handmade Wooden Eggs', 'oldPrice')
          +b-goods('263x180/2', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
          +b-goods('263x180/3', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
          +b-goods('263x180/4', '', '', 'label3', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')
          +b-goods('263x180/5', '', 'label2', '', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')
          +b-goods('263x180/1', 'label1', 'label2', 'label3', 'Flowers Handmade Wooden Eggs', '')
          +b-goods('263x180/2', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
          +b-goods('263x180/3', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
          +b-goods('263x180/4', '', '', 'label3', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')
          +b-goods('263x180/5', '', 'label2', '', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')





      .section-area.pt-4.mt-2
        .row
          .col-lg-3.col-md-6
            .b-advantages-2
              .b-advantages-2__ic
                != pugHelpers.Icon.call(locals, {iconName: 'advant-1', className: 'ic', iconWidth: '48', iconHeight: '48'})
              .b-advantages-2__title Free Shipping for orders<br>over $150
          .col-lg-3.col-md-6
            .b-advantages-2
              .b-advantages-2__ic
                != pugHelpers.Icon.call(locals, {iconName: 'advant-2', className: 'ic', iconWidth: '48', iconHeight: '48'})
              .b-advantages-2__title Always fresh products<br>special for you!
          .col-lg-3.col-md-6
            .b-advantages-2
              .b-advantages-2__ic
                != pugHelpers.Icon.call(locals, {iconName: 'advant-3', className: 'ic', iconWidth: '34', iconHeight: '34'})
              .b-advantages-2__title Manhattan next<br>day delivery
          .col-lg-3.col-md-6
            .b-advantages-2
              .b-advantages-2__ic
                != pugHelpers.Icon.call(locals, {iconName: 'advant-4', className: 'ic', iconWidth: '46', iconHeight: '46'})
              .b-advantages-2__title Russian products to any<br>US address


    +b-subscribe('item-6', 'item-7')(class="b-subscribe_mod-b")
