extends _template.pug

include ../components/b-main-slider/b-main-slider
include ../components/b-advantages/b-advantages
include ../components/b-goods/b-goods
include ../components/b-category/b-category
include ../components/b-brands/b-brands
include ../components/b-reviews/b-reviews
include ../components/b-subscribe/b-subscribe

block head
  head
    +head(head.home)


block header
  +header('')


block content
  main.l-main
    .container
      .row
        .col-xl-9.offset-xl-3
          +b-main-slider()

    .container
      .row
        .col-xl-9.offset-xl-3
          .row
            .col-lg-4
              +b-advantages('1', 'Fast, Fresh, Guarantee!!!', 'Russian products to any US address')
            .col-lg-4
              +b-advantages('2', '$4.99 only!', 'Manhattan next day delivery')
            .col-lg-4
              +b-advantages('3', 'order weight up to 50lb', 'Free Shipping for orders over $150')

      section.section-default
        h2.ui-title Trending Near You

        .ui-filter-group
          ul.ui-filter.list-unstyled.nav#goodsTab(role="tablist")
            li.ui-filter__item
              a.ui-filter__link.active#allProd-tab(data-toggle="tab" href="#allProd" role="tab" aria-controls="allProd" aria-selected="true") All Products
            li.ui-filter__item
              a.ui-filter__link#food-tab(data-toggle="tab" href="#food" role="tab" aria-controls="food" aria-selected="false") Food & Drink
            li.ui-filter__item
              a.ui-filter__link#health-tab(data-toggle="tab" href="#health" role="tab" aria-controls="health" aria-selected="false") Health
            li.ui-filter__item
              a.ui-filter__link#beauty-tab(data-toggle="tab" href="#beauty" role="tab" aria-controls="beauty" aria-selected="false") Beauty
            li.ui-filter__item
              a.ui-filter__link#gifts-tab(data-toggle="tab" href="#gifts" role="tab" aria-controls="gifts" aria-selected="false") Gifts
          a.btn-link(href="categories.html") View More


        .tab-content#goodsTabContent
          .tab-pane.fade.show.active#allProd(role="tabpanel" aria-labelledby="allProd-tab")
            .b-goods-slider.js-slider(data-slick='{"variableWidth": true, "slidesToScroll": 1, "autoplay": false, "responsive": [{"breakpoint": 768, "settings": {"arrows": false}}]}')
              +b-goods('263x180/1', 'label1', 'label2', 'label3', 'Flowers Handmade Wooden Eggs', 'oldPrice')
              +b-goods('263x180/2', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
              +b-goods('263x180/3', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
              +b-goods('263x180/4', '', '', 'label3', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')
              +b-goods('263x180/5', '', 'label2', '', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')
              +b-goods('263x180/1', 'label1', 'label2', 'label3', 'Flowers Handmade Wooden Eggs', '')
              +b-goods('263x180/2', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
              +b-goods('263x180/3', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
              +b-goods('263x180/4', '', '', 'label3', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')
              +b-goods('263x180/5', '', 'label2', '', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')

          .tab-pane.fade#food(role="tabpanel" aria-labelledby="food-tab")
            .b-goods-slider.js-slider(data-slick='{"variableWidth": true, "slidesToScroll": 1, "autoplay": false, "responsive": [{"breakpoint": 768, "settings": {"arrows": false}}]}')
              +b-goods('263x180/2', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
              +b-goods('263x180/3', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
              +b-goods('263x180/1', 'label1', 'label2', 'label3', 'Flowers Handmade Wooden Eggs', 'oldPrice')
              +b-goods('263x180/4', '', '', 'label3', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')
              +b-goods('263x180/5', '', 'label2', '', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')
              +b-goods('263x180/1', 'label1', 'label2', 'label3', 'Flowers Handmade Wooden Eggs', '')
              +b-goods('263x180/2', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
              +b-goods('263x180/3', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
              +b-goods('263x180/4', '', '', 'label3', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')
              +b-goods('263x180/5', '', 'label2', '', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')


          .tab-pane.fade#health(role="tabpanel" aria-labelledby="health-tab")
            .b-goods-slider.js-slider(data-slick='{"variableWidth": true, "slidesToScroll": 1, "autoplay": false, "responsive": [{"breakpoint": 768, "settings": {"arrows": false}}]}')
              +b-goods('263x180/4', '', '', 'label3', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')
              +b-goods('263x180/5', '', 'label2', '', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')
              +b-goods('263x180/1', 'label1', 'label2', 'label3', 'Flowers Handmade Wooden Eggs', 'oldPrice')
              +b-goods('263x180/2', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
              +b-goods('263x180/3', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
              +b-goods('263x180/1', 'label1', 'label2', 'label3', 'Flowers Handmade Wooden Eggs', '')
              +b-goods('263x180/2', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
              +b-goods('263x180/3', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
              +b-goods('263x180/4', '', '', 'label3', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')
              +b-goods('263x180/5', '', 'label2', '', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')

          .tab-pane.fade#beauty(role="tabpanel" aria-labelledby="beauty-tab")
            .b-goods-slider.js-slider(data-slick='{"variableWidth": true, "slidesToScroll": 1, "autoplay": false, "responsive": [{"breakpoint": 768, "settings": {"arrows": false}}]}')
              +b-goods('263x180/1', 'label1', 'label2', 'label3', 'Flowers Handmade Wooden Eggs', 'oldPrice')
              +b-goods('263x180/2', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
              +b-goods('263x180/3', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
              +b-goods('263x180/4', '', '', 'label3', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')
              +b-goods('263x180/5', '', 'label2', '', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')
              +b-goods('263x180/1', 'label1', 'label2', 'label3', 'Flowers Handmade Wooden Eggs', '')
              +b-goods('263x180/2', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
              +b-goods('263x180/3', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
              +b-goods('263x180/4', '', '', 'label3', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')
              +b-goods('263x180/5', '', 'label2', '', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')

          .tab-pane.fade#gifts(role="tabpanel" aria-labelledby="gifts-tab")
            .b-goods-slider.js-slider(data-slick='{"variableWidth": true, "slidesToScroll": 1, "autoplay": false, "responsive": [{"breakpoint": 768, "settings": {"arrows": false}}]}')
              +b-goods('263x180/1', 'label1', 'label2', 'label3', 'Flowers Handmade Wooden Eggs', 'oldPrice')
              +b-goods('263x180/2', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
              +b-goods('263x180/3', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
              +b-goods('263x180/4', '', '', 'label3', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')
              +b-goods('263x180/5', '', 'label2', '', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')
              +b-goods('263x180/1', 'label1', 'label2', 'label3', 'Flowers Handmade Wooden Eggs', '')
              +b-goods('263x180/2', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
              +b-goods('263x180/3', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
              +b-goods('263x180/4', '', '', 'label3', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')
              +b-goods('263x180/5', '', 'label2', '', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')




      section.section-after-goods
        h2.ui-title Sales

        .ui-filter-group
          ul.ui-filter.list-unstyled
            li.ui-filter__item
              a.ui-filter__link(href="#") All Products
            li.ui-filter__item
              a.ui-filter__link.active(href="#") Food & Drink
            li.ui-filter__item
              a.ui-filter__link(href="#") Health
            li.ui-filter__item
              a.ui-filter__link(href="#") Beauty
            li.ui-filter__item
              a.ui-filter__link(href="#") Gifts
          a.btn-link(href="categories.html") View More


        .b-goods-slider.js-slider(data-slick='{"variableWidth": true, "slidesToScroll": 1, "autoplay": false, "responsive": [{"breakpoint": 768, "settings": {"arrows": false}}]}')
          +b-goods('263x180/1', 'label1', 'label2', 'label3', 'Flowers Handmade Wooden Eggs', '')
          +b-goods('263x180/2', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')

          .b-goods
            .b-goods__labels

            .b-goods__img
              img.img-scale(src="assets/media/content/b-goods/263x180/3.jpg", alt="photo")

            .b-goods__main
              .b-goods__title Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g
              .mb-2
                ul.ui-rating.list-unstyled
                  li.ui-rating__item.active
                    != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                  li.ui-rating__item.active
                    != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                  li.ui-rating__item.active
                    != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                  li.ui-rating__item.active
                    != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                  li.ui-rating__item
                    != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '16', iconHeight: '16'})
                a.b-goods__link(href="#") 32 reviews

              .b-goods__price $ 25.95

              .b-goods__footer.row.no-gutters.justify-content-between.align-items-center
                .b-goods__footer-warning.col The product is out of stock


              button.b-goods__btn-add.js-favorite(type="button")
                != pugHelpers.Icon.call(locals, {iconName: 'heart-2', className: 'ic', iconWidth: '21', iconHeight: '18'})



          +b-goods('263x180/4', '', '', 'label3', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')
          +b-goods('263x180/5', '', 'label2', '', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')
          +b-goods('263x180/1', 'label1', 'label2', 'label3', 'Flowers Handmade Wooden Eggs', '')
          +b-goods('263x180/2', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
          +b-goods('263x180/3', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
          +b-goods('263x180/4', '', '', 'label3', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')
          +b-goods('263x180/5', '', 'label2', '', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')




      section.section-after-goods
        h2.ui-title Featured products

        .ui-filter-group
          ul.ui-filter.list-unstyled
            li.ui-filter__item
              a.ui-filter__link(href="#") All Products
            li.ui-filter__item
              a.ui-filter__link(href="#") Food & Drink
            li.ui-filter__item
              a.ui-filter__link.active(href="#") Health
            li.ui-filter__item
              a.ui-filter__link(href="#") Beauty
            li.ui-filter__item
              a.ui-filter__link(href="#") Gifts
          a.btn-link(href="categories.html") View More


        .b-goods-slider.js-slider(data-slick='{"variableWidth": true, "slidesToScroll": 1, "autoplay": false, "responsive": [{"breakpoint": 768, "settings": {"arrows": false}}]}')
          +b-goods('263x180/1', 'label1', 'label2', 'label3', 'Flowers Handmade Wooden Eggs', '')
          +b-goods('263x180/2', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
          +b-goods('263x180/3', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
          +b-goods('263x180/4', '', '', 'label3', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')
          +b-goods('263x180/5', '', 'label2', '', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')
          +b-goods('263x180/1', 'label1', 'label2', 'label3', 'Flowers Handmade Wooden Eggs', '')
          +b-goods('263x180/2', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
          +b-goods('263x180/3', '', '', '', 'Dadu Condensed milk Cheesecake Bar, 1.58 oz / 45 g', '')
          +b-goods('263x180/4', '', '', 'label3', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')
          +b-goods('263x180/5', '', 'label2', '', 'Hot Smoked (Cooked) Pork Fat Salo with Garlic and Black Pepper, 1 lb / 0.45 kg', '')



      section.section-after-goods
        h2.ui-title Seasonal Categories

        .b-category-group.row
          +b-category-1('167x167/1', 'Preserves')(class="col")
          +b-category-1('167x167/2', ' Caviar & Spread')(class="col")
          +b-category-1('167x167/3', 'Smoked Fish')(class="col")
          +b-category-1('167x167/4', ' Caviar & Spread')(class="col")
          +b-category-1('167x167/5', 'Salami')(class="col")



      section.section-default
        h2.ui-title Categories

        .b-category-group-2.row
          +b-category-2('322x220/1', 'Food')(class="col-xl-3")
          +b-category-2('322x220/2', 'Health')(class="col-xl-3")
          +b-category-2('322x220/3', 'Beauty')(class="col-xl-3")
          +b-category-2('322x220/4', 'Gifts')(class="col-xl-3")



      section.section-default
        h2.ui-title Best categories

        .b-category-group-3.row
          +b-category-2('432x295/1', 'Food & Drink')(class="b-category-2_lg col-xl-4")
          +b-category-2('432x295/2', 'Food & Drink')(class="b-category-2_lg col-xl-4")
          +b-category-2('432x295/3', 'Beauty')(class="b-category-2_lg col-xl-4")
          +b-category-2('432x295/4', 'Food & Drink')(class="b-category-2_lg col-xl-4")
          +b-category-2('432x295/5', 'Salad')(class="b-category-2_lg col-xl-4")
          +b-category-2('432x295/6', 'Food & Drink')(class="b-category-2_lg col-xl-4")


    section.section-default
      .container
        h2.ui-title Top Brands

      .container-fluid
        .b-brands-slider.js-slider(data-slick='{"variableWidth": true, "slidesToScroll": 3, "autoplay": false, "responsive": [{"breakpoint": 992, "settings": {"arrows": false}}]}')
          +b-brands('1')
          +b-brands('2')
          +b-brands('3')
          +b-brands('4')
          +b-brands('5')
          +b-brands('6')
          +b-brands('1')
          +b-brands('2')
          +b-brands('3')


    .container
      .section-default
        .b-advantages-group.row
          .col-lg-3.col-md-6
            .b-advantages-2
              .b-advantages-2__ic
                != pugHelpers.Icon.call(locals, {iconName: 'advant-1', className: 'ic', iconWidth: '48', iconHeight: '48'})
              .b-advantages-2__title Free Shipping for orders<br>over $150
          .col-lg-3.col-md-6
            .b-advantages-2
              .b-advantages-2__ic
                != pugHelpers.Icon.call(locals, {iconName: 'advant-2', className: 'ic', iconWidth: '48', iconHeight: '48'})
              .b-advantages-2__title Always fresh products<br>special for you!
          .col-lg-3.col-md-6
            .b-advantages-2
              .b-advantages-2__ic
                != pugHelpers.Icon.call(locals, {iconName: 'advant-3', className: 'ic', iconWidth: '34', iconHeight: '34'})
              .b-advantages-2__title Manhattan next<br>day delivery
          .col-lg-3.col-md-6
            .b-advantages-2
              .b-advantages-2__ic
                != pugHelpers.Icon.call(locals, {iconName: 'advant-4', className: 'ic', iconWidth: '46', iconHeight: '46'})
              .b-advantages-2__title Russian products to any<br>US address


    section.section-reviews
      .container
        h2.ui-title.d-block.d-xl-none.text-center Testimonials
        .row
          .col-md-6.offset-md-3.text-center
            .px-xl-5
              p Home is behind, the world ahead and there are many paths to tread through shadows to the edge.

      .container-fluid
        .b-reviews-slider.js-slider(data-slick='{"slidesToShow": 3,  "slidesToScroll": 3, "autoplay": true, "autoplaySpeed": 5000, "dots": true, "responsive": [{"breakpoint": 1200, "settings": {"slidesToScroll": 1, "centerMode": true, "variableWidth": true, "arrows": false, "dots": false}}]}')
          +b-reviews()
          +b-reviews()
          +b-reviews()
          +b-reviews()
          +b-reviews()
          +b-reviews()
          +b-reviews()
          +b-reviews()


    +b-subscribe('item-1', 'item-2')
