extends _template.pug

include ../components/b-subscribe/b-subscribe
include ../components/b-title-page/b-title-page
include ../components/b-advantages/b-advantages
include ../components/b-goods/b-goods
include ../components/b-category/b-category
include ../components/b-payment/b-payment

block head
  head
    +head(head.home)


block header
  +header('')(class="header_inner")


block content
  main.l-main
    .container-fluid
      +b-title-page_w-label('Payment and Shipping', 'NEW SHIPPING METHOD: $4.99 - FLAT RATE for orders not exceding 13 oz! USA only!')(class="b-title-page_mod-c")


    .container
      nav(aria-label="breadcrumb")
        ol.breadcrumb
          li.breadcrumb-item
            a(href="#") Home
          li.breadcrumb-item.active(aria-current="page") Payment and Shipping

      +b-payment-new()

    +b-subscribe('item-4', 'item-5')(class="b-subscribe_mod-a")
