extends _template.pug

//- include ../components/b-main-slider/b-main-slider

block head
  head
    +head(head.home)


block header
  +header('', '')


block content
  .container Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat dolores repellendus labore sed dolore odio nemo temporibus modi atque velit, ad dolorum maiores quas, officia, deleniti cum explicabo tempore corporis.
  .container-fluid  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus impedit aut cupiditate praesentium magnam! Id quos quaerat hic est, sequi doloribus eos dolorem culpa modi. Dolorem similique molestias, ea! Perspiciatis!
  .container
    .row.mb-4
      .col
        button.btn.btn-light Button
      .col
        button.btn.btn-light(disabled) Button

    .row.mb-4
      .col
        button.btn.btn-primary Button
      .col
        button.btn.btn-primary(disabled) Button

    .row.mb-4
      .col
        button.btn.btn-secondary Button
      .col
        button.btn.btn-secondary(disabled) Button

    .row.mb-4
      .col
        button.btn.btn-danger Button
      .col
        button.btn.btn-danger(disabled) Button
