.b-modal-success {
  &__order {
    font-weight: 500;
    font-size: 2.8vh;
    color: #333333;
    margin-top: 8vh;
    margin-bottom: 8.2vh;
  }
  &__ic {
    margin-bottom: 8vh;
  }
  &__header-mob {
    border-bottom: 3px solid $primary;
    margin: -17px -20px 7px;
    position: relative;
    padding-bottom: 20px;
    .toggle-menu-button {
      border: none;
      left: auto;
      right: 10px;
      top: 13px;
    }
  }
  &__header-logo {
    max-width: 195px;
    margin-left: 20px;
  }

  @include media-breakpoint-down(sm) {
    &__order {
      font-size: 18px;
      margin-top: 38px;
      margin-bottom: 38px;
    }
    &__ic {
      margin-bottom: 44px;
      .ic {
        width: 107px;
        height: 107px;
      }
    }
    .ui-modal__btn {
      width: 100%;
    }
    &.modal-content {
      text-align: center;
      min-height: 100vh;
    }
  }
}
