mixin b-modal-success()

  .ui-modal.modal.modal_right.fade#modalSuccess(tabindex="-1" role="dialog" aria-labelledby="modalSuccessLabel" aria-hidden="true")
    .modal-dialog(role="document")
      .b-modal-success.modal-content

        .b-modal-success__header-mob.d-lg-none
          .b-modal-success__header-logo
            img.img-fluid(src="assets/media/general/logo.png", alt="RussianFoodUSA")

          button.toggle-menu-button(type="button" data-dismiss="modal" aria-label="Close" aria-expanded="true")
            i.toggle-menu-button-icon
              span
              span
              span
              span
              span
              span

        button.close.d-none.d-lg-block(type="button" data-dismiss="modal" aria-label="Close")
          span.close-ic(aria-hidden="true") &times;
          |  close
        .ui-title.ui-title_ls_compact.ui-modal__title#modalSuccessLabel Success!
        .ui-modal__info Nisi suscipit fermentum nisl duis commodo cum ornare rutrum imperdiet blandit lobortis, felis aliquam curae; habitasse luctus condimentum integer, cum vel.
        .b-modal-success__order Your order #362342334
        .b-modal-success__ic
          != pugHelpers.Icon.call(locals, {iconName: 'success', className: 'ic fill-primary', iconWidth: '22.2vh', iconHeight: '22.2vh'})

        button.ui-modal__btn.btn.btn-primary(type="button" data-dismiss="modal" aria-label="Close") Continue
        .ui-modal__note.d-sm-block.d-none Nisi suscipit fermentum nisl duis commodo cum ornare rutrum.






  // end .b-modal-success
  |
  |

