.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 10px;
  margin-bottom: $breadcrumb-margin-bottom;
  list-style: none;
  @include border-radius($breadcrumb-border-radius);

  @include media-breakpoint-down(sm) {
    justify-content: center;
    padding-top: 10px;
    margin-bottom: 0;
  }
}

.breadcrumb-item {
    font-size: 14px;
    color: #999;
  + .breadcrumb-item {
    padding-left: 4px;

    &::before {
      display: inline-block; // Suppress underlining of the separator in modern browsers
      padding-right: 2px;
      color:#999;
      content: ' / ';
    }
  }

  a {
    color: #999;
  }

  // IE9-11 hack to properly handle hyperlink underlines for breadcrumbs built
  // without `<ul>`s. The `::before` pseudo-element generates an element
  // *within* the .breadcrumb-item and thereby inherits the `text-decoration`.
  //
  // To trick IE into suppressing the underline, we give the pseudo-element an
  // underline and then immediately remove it.
  + .breadcrumb-item:hover::before {
    text-decoration: underline;
  }
  // stylelint-disable-next-line no-duplicate-selectors
  + .breadcrumb-item:hover::before {
    text-decoration: none;
  }

  &.active {
    color: #333;
    font-weight: 500;
  }

  @include media-breakpoint-down(sm) {
    font-size: 12px;
  }
}
