mixin footer()
  footer.footer
    .container
      .row
        .col-xl-10.offset-xl-1
          .footer__main.row
            .col-lg-7
              .row
                .col
                  .footer__section
                    .footer__title Information
                    ul.footer-list.list-unstyled
                      li.footer-list__item
                        a.footer-list__link(href="#") Contact us
                      li.footer-list__item
                        a.footer-list__link(href="#") About Us
                      li.footer-list__item
                        a.footer-list__link(href="#") FAQ
                      li.footer-list__item
                        a.footer-list__link(href="#") Blog
                      li.footer-list__item
                        a.footer-list__link(href="#") Careers

                .col
                  .footer__section
                    .footer__title Special
                    ul.footer-list.list-unstyled
                      li.footer-list__item
                        a.footer-list__link(href="#") Brands
                      li.footer-list__item
                        a.footer-list__link(href="#") Special offers
                      li.footer-list__item
                        a.footer-list__link(href="#") Sitemap
                      li.footer-list__item
                        a.footer-list__link(href="#") New Arrivals
                      li.footer-list__item
                        a.footer-list__link(href="#") On sale!

            .col-lg-5
              .row.justify-content-between
                .col.col-lg
                  .footer__section
                    .footer__title My Account
                    ul.footer-list.list-unstyled
                      li.footer-list__item
                        a.footer-list__link(href="#") My account
                      li.footer-list__item
                        a.footer-list__link(href="#") Address book
                      li.footer-list__item
                        a.footer-list__link(href="#") Order history

                .col.col-lg-auto
                  .footer__section
                    .footer__title My Account
                    ul.footer-soc.list-unstyled
                      li.footer-soc__item
                        a.footer-soc__link(href="#")
                          != pugHelpers.Icon.call(locals, {iconName: 'youtube', className: 'ic', iconWidth: '20', iconHeight: '20'})
                      li.footer-soc__item
                        a.footer-soc__link(href="#")
                          != pugHelpers.Icon.call(locals, {iconName: 'pinterest', className: 'ic', iconWidth: '20', iconHeight: '20'})
                      li.footer-soc__item
                        a.footer-soc__link(href="#")
                          != pugHelpers.Icon.call(locals, {iconName: 'instagram', className: 'ic', iconWidth: '20', iconHeight: '20'})
                      li.footer-soc__item
                        a.footer-soc__link(href="#")
                          != pugHelpers.Icon.call(locals, {iconName: 'twitter', className: 'ic', iconWidth: '20', iconHeight: '20'})
                      li.footer-soc__item
                        a.footer-soc__link(href="#")
                          != pugHelpers.Icon.call(locals, {iconName: 'facebook', className: 'ic', iconWidth: '20', iconHeight: '20'})

          .copyright
            .row.justify-content-between.flex-lg-row-reverse
              .col-auto
                a.copyright__link(href="#") Privacy Notice
                a.copyright__link(href="#") Terms of Use
                a.copyright__link(href="#") Payment and Shipping
              .col-auto
                .copyright__info Copyright © 2019 RussianFoodUSA
  // .footer


