/* ======= FOOTER ======= */

.footer {
  background-color: #fff;
  padding-top: 90px;
  &__main {
    padding-bottom: 10px;
  }
  &__section {
    margin-bottom: 13px;
    &:hover {
      .footer {
        &__title {
          color: $primary;
        }
      }
    }
  }
  &__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 25px;
    transition: all .3s;
  }

  @include media-breakpoint-down(md) {
    padding-top: 92px;
    &__main {
      padding-bottom: 0;
    }
    &__title {
      margin-bottom: 12px;
    }
    &__section {
      margin-top: 8px;
      margin-bottom: 14px;
    }
  }
}

.footer-list {
  &__item {}
  &__link {
    font-size: 14px;
    line-height: 32px;
    display: inline-block;
    color: #666666;
    &:hover {
      color: $primary;
      text-decoration: none;
    }
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 0;
  }
}

.footer-soc {
  margin-top: 34px;
  &__item {
    margin-left: 6px;
    display: inline-block;
    margin-bottom: 10px;
  }
  &__link {
    &:hover {
      opacity: 0.5;
    }
  }

  @include media-breakpoint-down(md) {
    margin-top: 17px;
    &__item {
      margin-left: 0;
      margin-right: 16px;
    }
  }
}

.copyright {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.318182px;
  color: #666666;
  border-top: 2px solid #E5E5E5;
  padding-top: 37px;
  padding-bottom: 40px;
  &__link {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #666666;
    &:not(:first-child) {
      margin-left: 85px;
    }
  }

  @include media-breakpoint-down(lg) {
  }

  @include media-breakpoint-down(md) {
    padding-top: 22px;
    padding-bottom: 20px;
    &__link {
      display: block;
      margin-bottom: 16px;
      &:not(:first-child) {
        margin-left: 0;
      }
    }
    &__info {
      margin-top: 4px;
    }
  }
}
