.header {
  background-color: #FFF;
  position: relative;
  z-index: 100;

  &__logo {
    display: inline-block;
    margin-left: -5px;
  }
  &__link {
    font-size: 16px;
    color: #666666;
    display: inline-block;
    margin-right: 7.1%;
    position: relative;
    border: none;
    background-color: transparent;
    transition: all .3s;
    white-space: nowrap;
    padding-left: 0;
    &:hover {
      color: $primary;
      text-decoration: none;
    }
  }
  &__link-inner {
    display: inline-block;
    border-bottom: 2px dotted $primary;
    padding-bottom: 1px;
  }
  &__phone {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    color: #666666;
    display: inline-block;
    fill: #A3A3A5;
    &:hover {
      color: $primary;
      text-decoration: none;
      fill: $primary;
    }
  }
  &__link-mob {
    position: relative;
    border: none;
    background-color: transparent;
    padding: 27px 52px;
    width: 100%;
    line-height: 1;
    border-bottom: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
    display: none;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #666666;
    text-align: left;
    .ic {
      position: absolute;
      left: 20px;
      display: none;
      &.active {
        display: inline-block;
      }
    }
    &.js-close-catalog {
      border-bottom-color: #F4F8FA;
    }
    &:focus {
      outline: none;
    }
  }
  &__group-mobile {
    margin-top: 23px;
  }

  .navbar {
    padding: 0;
  }

  .navbar-inner {
    width: 100%;
  }

  &_inner {
    .header-catalog__wrap {
      display: none;
    }
    .header-catalog:hover .header-catalog__wrap {
      display: block;
    }
  }

  &:not(.header_inner) {
    .header-catalog {
      &__main-link {
        background: #339615;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
      }
      &__menu {
        position: relative;
        padding-top: 16px;
        padding-bottom: 17px;
        display: block;
        background: #FFFFFF;
        box-shadow: 0px 2px 10px rgba(51, 51, 51, 0.08);
        border-radius: 0 0 5px 5px;
        min-height: 565px;
      }
    }
  }

  .js-close-catalog {
    display: none;
  }

  @media (min-width:1200px) and (max-width:1399px) {
    &__phone {
      font-size: 15px;
      letter-spacing: 0;
      .ic {
        width: 15px;
        height: 15px;
      }
    }
    &__link {
      font-size: 15px;
      margin-right: 5%;
    }
  }

  @include media-breakpoint-down(lg) {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    &__logo {
      max-width: 195px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 10px;
      padding-bottom: 20px;
      display: block;
    }
    &__link {
      display: block;
      color: #666666;
      margin-left: 20px;
      margin-right: 0;
      margin-bottom: 22px;
      text-decoration: none;
      padding-left: 0;
      text-align: left;
      .ic {
        stroke: #999;
        fill: none;
      }
      .ic-2 {
        fill: #999;
        stroke: none;
      }
    }

    &__link-item {
      color: #666666;
    }
    &__link-inner {
      border-bottom-width: 2px;
    }
    &__link-ic {
      width: 32px;
      display: inline-block;
      vertical-align: bottom;
    }
    &__link-mob {
      display: block;
    }
    &__phone {
      padding-left: 20px;
      padding-bottom: 20px;
    }
    .navbar-collapse {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 0;
      background-color: #FFF;
      z-index: 100;
      height: 100vh;
      overflow-y: auto;
      overflow-x: hidden;
      &:not(.show) {
        height: 0;
      }
    }
    .toggle-menu-button {
      top: 24px;
      left: 10px;
      height: auto;
    }

    .navbar-inner {
      padding-top: 135px;
    }
  }
}

.header-top {
  padding-top: 12px;
  padding-bottom: 29px;
  transition: all .3s;
  position: relative;
  z-index: 1;
  &:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }

  @include media-breakpoint-down(lg) {
    padding-top: 0;
    padding-bottom: 0;
  }
}


.header-language {
  display: inline-block;
  margin-left: 1.4vw;
  position: relative;
  height: 20px;
  &__link {
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #666666;
    .ic {
      fill: #A3A3A5;
    }
    &:focus {
      outline: none;
    }
  }

  &__menu {
    background-color: #FFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 0;
    margin-top: 31px;
    width: 140px;
    min-width: 0;
    padding-bottom: 24px;
  }

  &__item {
    padding: 21px 10px 3px 31px;
    &.active,
    &:hover {
      color: $primary;
      background-color: #FFF;
    }
  }

  @media (min-width:1200px) and (max-width:1399px) {
    &__link {
      font-size: 15px;
    }
  }

  @include media-breakpoint-down(lg) {
    margin-left: 20px;
    margin-top: -3px;
    margin-bottom: 2px;
    .ic {
      fill: #999;
    }
    &__item {
      color: #999;
      font-size: 16px;
      padding: 0 4px 0 0;
      &.active {
        color: $primary;
      }
    }
  }
}


.header-catalog {
  position: relative;
  &__main-link {
    height: 70px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    display: block;
    padding: 22px 23px 20px;
    cursor: pointer;
    transition: all .3s;
    &:before {
      content: '';
      width: 23px;
      height: 2px;
      background: #FFFFFF;
      border-radius: 2px;
      display: inline-block;
      box-shadow: 0 6px 0 0 #FFF, 0 -6px 0 0 #FFF;
      margin-right: 20px;
      vertical-align: super;
    }
    &:hover {
      background: #339615;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    }
  }
  &__wrap {
    z-index: 10;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
  }
  &__menu {
    position: relative;
    padding-top: 16px;
    padding-bottom: 17px;
    display: block;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(51, 51, 51, 0.08);
    border-radius: 0 0 5px 5px;
  }
  &__item {
    &:hover {
      .header-catalog__submenu {
        display: block;
      }
    }
  }
  &__name {
    text-align: left;
    flex-grow:1
  }
  &__link {
    font-size: 16px;
    line-height: 19px;
    color: #666666;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(a) {
      cursor: default;
    }
    .ic-arr {
      fill: #A3A3A5;
    }
  }
  & &__link {
    position: relative;
    padding: 18px 24px 16px 64px;
  }
  &__ic {
    display: inline-block;
    width: 46px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
  &__submenu {
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    padding-top: 32px;
    padding-bottom: 20px;
    background-color: #FFF;
    display: none;
    box-shadow: inset 0px 2px 10px rgba(51, 51, 51, 0.08);
    .ui-scroll-custom {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
  &__col {
    max-width: 20%;
    flex: 0 0 20%;
  }
  &__section {
    margin-bottom: 24px;
  }
  &__title {
    display: inline-block;
    font-weight: 500;
    line-height: 26px;
    font-size: 18px;
    text-decoration-line: underline;
    color: #333333;
    margin-bottom: 6px;
  }
  &__sublink {
    font-size: 14px;
    line-height: 25px;
    color: #666666;
  }
  &__label {
    font-weight: 500;
    font-size: 8px;
    line-height: 9px;
    letter-spacing: 1px;
    color: #FFFFFF;
    border-radius: 2px;
    padding: 5px 7px;
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
  }

  @include media-breakpoint-up(lg) {
    &__item {
      &:hover {
        .header-catalog__link {
          background-color: #F5F8FA;
          color: $primary;
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    &__wrap {
      display: none;
    }
    &__section {
      margin-bottom: 8px;
    }
    &__main-link {
      display: none;
    }
    &__title {
      margin-bottom: 14px;
    }
    &__menu {
      padding-top: 0;
      box-shadow: none;
    }
    &__submenu {
      padding-top: 22px;
      .ui-scroll-custom {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    & &__link {
      padding: 18px 22px 16px 65px;
    }
    &__sublink {
      font-size: 16px;
      margin-bottom: 15px;
      display: inline-block;
    }
    &__item {
      &:first-child {
        padding-top: 18px;
      }
      &.active {
        padding-top: 0;
        .header-catalog {
          &__submenu {
            display: block;
            position: relative;
            left: 0;
            box-shadow: none;
          }
          &__link {
            padding: 9px 10px 11px 20px;
            background-color: #F4F8FA;
          }
          &__name {
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            color: #333333;
          }
          &__ic {
            display: none;
          }
        }
        .ic-arr {
          display: none;
        }
      }
    }
  }
}

.header-main {
  position: relative;

  &__item {
    margin-left: 2px;
    display: inline-block;
    vertical-align: text-bottom;
    color: #FFF;
    position: relative;
    line-height: 69px;
    transition: all .3s;
    padding-left: 14px;
    padding-right: 13px;
    .ic {
      stroke: white;
      stroke-width: 2;
      fill: none;
      vertical-align: -2%;
      margin-right: 4px;
    }
    .ic-cart {
      fill: #fff;
      stroke: none;
    }
    &:hover {
      background: #339615;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    }
  }
  &__link {
    font-size: 16px;
    color: #FFFFFF;
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    &:hover {
      color: #FFFFFF;
      text-decoration: none;
    }
    .badge {
      position: absolute;
      left: 12px;
      top: 20px;
      color: #FFF;
    }
  }

  &__header-mob {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFF;
    z-index: 100;
  }

  @media (min-width:1200px) and (max-width:1399px) {
    &__item {
      margin-left: 0;
    }
  }

  @include media-breakpoint-down(lg) {
    &__item {
      margin-left: 0;
      margin-right: -4px;
      line-height: 64px;
      padding-left: 0;
      &:last-child {
        padding-right: 0;
      }
      .ic {
        vertical-align: middle;
      }
    }
    &__item,
    &__link {
      color: #666666;
    }
  }
}

.header-search {
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  transition: all .3s;
  &__input {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 24px;
    border: none;
    font-size: 14px;
    color: #999999;
    background-color: #F4F8FA;
    transition: all .3s;
  }
  &__submit {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 46px;
    text-align: center;
    background-color: #FFF;
    border: none;
    transition: all .3s;
    fill: none;
    stroke: #666666;
    &:hover {
      background-color: $secondary;
    }
  }

  @include media-breakpoint-down(lg) {
    width: 209px;
    margin-right: -10px;
    &__input {
      padding-left: 16px;
      line-height: 30px;
      height: 32px;
    }
    &__submit {
      width: 34px;
      stroke-width: 2px;
      top: 1px;
    }
    &:not(.active) {
      width: 40px;
      .header-search {
        &__input {
          width: 0;
          padding-left: 0;
          opacity: 0;
        }
        &__submit {
          background-color: transparent;
          stroke: #fff;
        }
      }
    }
  }
}


.toggle-menu-button {
  position: absolute;
  left: 11px;
  top: 17px;
  z-index: 200;
  background-color: transparent;
  transition: all .3s;
  .toggle-menu-button-icon {
    position: relative;
    top: -2px;
    display: inline-block;
    width: 22px;
    height: 17px;
    vertical-align: middle;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    transform: rotate(0deg);
    span {
      position: absolute;
      display: block;
      width: 50%;
      height: 2px;
      background-color: #fff;
      opacity: 1;
      transition: 0.25s ease-in-out;
      transform: rotate(0deg);
      &:nth-child(even) {
        left: 50%;
        border-radius: 0 9px 9px 0;
      }
      &:nth-child(odd) {
        left: 0;
        border-radius: 9px 0 0 9px;
      }
      &:nth-child(1),
      &:nth-child(2) {
        top: 0;
      }
      &:nth-child(3),
      &:nth-child(4) {
        top: 6px;
      }
      &:nth-child(5),
      &:nth-child(6) {
        top: 12px;
      }
    }
  }

  &[aria-expanded="true"] {
    background-color: #FFF;
    .toggle-menu-button-icon {
      span {
        background-color: #999;
        &:nth-child(1),
        &:nth-child(6) {
          transform: rotate(45deg);
        }
        &:nth-child(2),
        &:nth-child(5) {
          transform: rotate(-45deg);
        }
        &:nth-child(1) {
          top: 4px;
          left: 2px;
        }
        &:nth-child(2) {
          top: 4px;
          left: calc(50% - 2px);
        }
        &:nth-child(3) {
          left: -50%;
          opacity: 0;
        }
        &:nth-child(4) {
          left: 100%;
          opacity: 0;
        }
        &:nth-child(5) {
          top: 11px;
          left: 2px;
        }
        &:nth-child(6) {
          top: 11px;
          left: calc(50% - 2px);
        }
      }
    }
  }
}
