include ../navig/navig

mixin header(breadcrumb)

  header.header(class!=attributes.class)
    button.toggle-menu-button.d-xl-none.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
      i.toggle-menu-button-icon
        span
        span
        span
        span
        span
        span

    .header-top.container.d-none.d-xl-block
      .row.align-items-end
        .col-xl-3
          a.header__logo(href="#")
            img.img-fluid(src="assets/media/general/logo.png", alt="RussianFoodUSA")
        .col-xl-9
          .row.justify-content-between
            .col-xl
              button.header__link.text-primary(type="button" data-toggle="modal" data-target="#modalLocation")
                span.header__link-ic
                  != pugHelpers.Icon.call(locals, {iconName: 'map', className: 'ic-2 fill-primary', iconWidth: '16', iconHeight: '20'})
                span.header__link-inner Delivery in 94105
              a.header__link(href="payment.html") Payment and Shipping
              a.header__phone(href="tel:8006069481")
                != pugHelpers.Icon.call(locals, {iconName: 'phone', className: 'ic', iconWidth: '19', iconHeight: '20'})
                |  800 606 94 81

            .col-xl-auto.text-xl-right
              ul.main-nav.navbar-nav.mr-auto
                li.main-nav__item.active
                  a.main-nav__link(href="about.html") About
                li.main-nav__item
                  a.main-nav__link(href="#") Store
                li.main-nav__item
                  a.main-nav__link(href="#") Blog
                li.main-nav__item
                  a.main-nav__link(href="contacts.html") Contact

              .header-language.dropdown
                button.header-language__link.dropdown-toggle(type="button" id="dropdownMenuButton"  data-display="static" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                  != pugHelpers.Icon.call(locals, {iconName: 'globe', className: 'ic', iconWidth: '18', iconHeight: '18'})
                  |  English
                .header-language__menu.dropdown-menu(aria-labelledby="dropdownMenuButton")
                  span.header-language__item.dropdown-item.active English
                  a.header-language__item.dropdown-item(href="#") Русский



    .header-main.bg-primary
      .container
        .row.align-items-center.justify-content-between
          .col-xl-3.col
            nav.navbar.navbar-expand-xl
              .navbar-collapse.collapse#navbarSupportedContent
                .header-main__header-mob.d-xl-none
                  a.header__logo(href="#")
                    img.img-fluid(src="assets/media/general/logo.png", alt="RussianFoodUSA")

                  button.header__link-mob.js-link-catalog(type="button")
                    != pugHelpers.Icon.call(locals, {iconName: 'list', className: 'ic active fill-secondary', iconWidth: '20', iconHeight: '14'})
                    != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic ic-rot_180 fill-secondary', iconWidth: '10', iconHeight: '18'})
                    span.header__link-mob-text Catalog

                  button.header__link-mob.js-close-catalog(type="button")
                    != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic active ic-rot_180 fill-secondary', iconWidth: '10', iconHeight: '18'})
                    | Catalog


                .navbar-inner.align-items-start.align-items-xl-end
                  .header__group-mobile.d-xl-none
                    a.header__link(href="checkout.html")
                      span.header__link-ic
                        != pugHelpers.Icon.call(locals, {iconName: 'cart', className: 'ic-2 ic-cart', iconWidth: '22', iconHeight: '22'})
                      | Cart

                    a.header__link(href="wish.html")
                      span.header__link-ic
                        != pugHelpers.Icon.call(locals, {iconName: 'heart-stroke-2', className: 'ic stroke-white', iconWidth: '20.01', iconHeight: '18'})
                      | Wish List

                    .header__link
                      span.header__link-ic
                        != pugHelpers.Icon.call(locals, {iconName: 'user', className: 'ic', iconWidth: '17', iconHeight: '18'})
                      a.header__link-item(href="#") Sign In
                      |  /
                      |
                      |
                      a.header__link-item(href="#")  Register

                    button.header__link.text-primary(type="button" data-toggle="modal" data-target="#modalLocation")
                      span.header__link-ic
                        != pugHelpers.Icon.call(locals, {iconName: 'map', className: 'ic-2 fill-primary', iconWidth: '16', iconHeight: '20'})
                      span.header__link-inner Delivery in 94105

                    .header-language
                      span.header__link-ic
                        != pugHelpers.Icon.call(locals, {iconName: 'globe', className: 'ic', iconWidth: '18', iconHeight: '18'})
                      span.header-language__item.active English
                      |  /
                      |
                      |
                      a.header-language__item(href="#") Русский

                    ul.main-nav.navbar-nav
                      li.main-nav__item.active
                        a.main-nav__link(href="about.html") About
                      li.main-nav__item
                        a.main-nav__link(href="#") Store
                      li.main-nav__item
                        a.main-nav__link(href="#") Blog
                      li.main-nav__item
                        a.main-nav__link(href="contacts.html") Contact
                      li.main-nav__item
                        a.main-nav__link(href="#") Privacy Notice
                      li.main-nav__item
                        a.main-nav__link(href="#") Terms of Use
                      li.main-nav__item
                        a.main-nav__link(href="payment.html") Payment and Shipping

                    a.header__phone(href="tel:8006069481")
                      != pugHelpers.Icon.call(locals, {iconName: 'phone', className: 'ic', iconWidth: '19', iconHeight: '20'})
                      |  800 606 94 81

                  .header-catalog
                    .header-catalog__main-link Catalog

                    .header-catalog__wrap
                      .header-catalog__menu
                        .header-catalog__item
                          .header-catalog__link
                            span.header-catalog__ic
                              != pugHelpers.Icon.call(locals, {iconName: 'catalog-1', className: 'ic', iconWidth: '32', iconHeight: '32'})
                            span.header-catalog__name Food & Dsubrink
                            != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic-arr', iconWidth: '5', iconHeight: '9'})
                          .header-catalog__submenu
                            .ui-scroll-custom.js-scroll-pane
                              .row.pl-md-4.pr-md-4
                                .col-lg.col-sm-6
                                  .header-catalog__section
                                    a.header-catalog__title(href="#") Meat
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Sausage
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Salami
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Smoked Meat & Salo
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Canned Meat & Pate

                                  .header-catalog__section
                                    a.header-catalog__title(href="#") Meat
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Sausage
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Salami
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Smoked Meat & Salo
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Canned Meat & Pate
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Sausage
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Salami
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Smoked Meat & Salo
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Canned Meat & Pate
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Sausage
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Salami
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Smoked Meat & Salo
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Canned Meat & Pate
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Sausage
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Salami
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Smoked Meat & Salo
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Canned Meat & Pate

                                .col-lg.col-sm-6
                                  .header-catalog__section
                                    a.header-catalog__title(href="#") Fish and Seafood
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Canned Meat & Pate
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Sausage
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Salami
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Smoked Meat & Salo
                                  .header-catalog__section
                                    a.header-catalog__title(href="#") Meat
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Canned Meat & Pate
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Sausage
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Salami
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Smoked Meat & Salo
                                  .header-catalog__section
                                    a.header-catalog__title(href="#") Meat
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Canned Meat & Pate
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Sausage
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Salami
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Smoked Meat & Salo

                                .col-lg.col-sm-6
                                  .header-catalog__section
                                    a.header-catalog__title(href="#") Meat
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Canned Meat & Pate
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Sausage
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Salami
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Smoked Meat & Salo
                                  .header-catalog__section
                                    a.header-catalog__title(href="#") Meat
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Canned Meat & Pate
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Sausage
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Salami
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Smoked Meat & Salo

                                .col-lg.col-sm-6
                                  .header-catalog__section
                                    a.header-catalog__title(href="#") Meat
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Canned Meat & Pate
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Sausage
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Salami
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Smoked Meat & Salo
                                  .header-catalog__section
                                    a.header-catalog__title(href="#") Meat
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Canned Meat & Pate
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Sausage
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Salami
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Smoked Meat & Salo

                                .col-lg.col-sm-6
                                  .header-catalog__section
                                    a.header-catalog__title(href="#") Gift Box, Food Basket
                                  .header-catalog__section
                                    a.header-catalog__title(href="#") Baby  Food
                                  .header-catalog__section
                                  .header-catalog__section
                                    a.header-catalog__title(href="#") Catering
                                  .header-catalog__section
                                    a.header-catalog__title(href="#") Weight Control
                                  .header-catalog__section
                                    a.header-catalog__title(href="#") Cake & Pastry

                        .header-catalog__item
                          .header-catalog__link
                            span.header-catalog__ic
                              != pugHelpers.Icon.call(locals, {iconName: 'catalog-2', className: 'ic', iconWidth: '32', iconHeight: '32'})
                            span.header-catalog__name Health
                            != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic-arr', iconWidth: '5', iconHeight: '9'})
                          .header-catalog__submenu
                            .ui-scroll-custom.js-scroll-pane
                              .row.pl-md-4.pr-md-4
                                .col-lg.col-sm-6
                                  .header-catalog__section
                                    a.header-catalog__title(href="#") Meat
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Sausage
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Salami
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Smoked Meat & Salo
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Canned Meat & Pate
                                .col-lg.col-sm-6
                                  .header-catalog__section
                                    a.header-catalog__title(href="#") Meat
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Sausage
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Salami
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Smoked Meat & Salo
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Canned Meat & Pate


                        .header-catalog__item
                          .header-catalog__link
                            span.header-catalog__ic
                              != pugHelpers.Icon.call(locals, {iconName: 'catalog-3', className: 'ic', iconWidth: '32', iconHeight: '32'})
                            span.header-catalog__name  Beauty
                            != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic-arr', iconWidth: '5', iconHeight: '9'})
                          .header-catalog__submenu
                            .ui-scroll-custom.js-scroll-pane
                              .row.pl-md-4.pr-md-4
                                .col-lg.col-sm-6
                                  .header-catalog__section
                                    a.header-catalog__title(href="#") Meat
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Sausage
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Salami
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Smoked Meat & Salo
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Canned Meat & Pate

                        .header-catalog__item
                          .header-catalog__link
                            span.header-catalog__ic
                              != pugHelpers.Icon.call(locals, {iconName: 'catalog-4', className: 'ic', iconWidth: '24', iconHeight: '24'})
                            span.header-catalog__name  Gifts
                            != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic-arr', iconWidth: '5', iconHeight: '9'})
                          .header-catalog__submenu
                            .ui-scroll-custom.js-scroll-pane
                              .row.pl-md-4.pr-md-4
                                .col-lg.col-sm-6
                                  .header-catalog__section
                                    a.header-catalog__title(href="#") Meat
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Sausage
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Salami
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Smoked Meat & Salo
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Canned Meat & Pate

                        .header-catalog__item
                          .header-catalog__link
                            span.header-catalog__ic
                              != pugHelpers.Icon.call(locals, {iconName: 'catalog-5', className: 'ic', iconWidth: '32', iconHeight: '32'})
                            span.header-catalog__name  Special
                            != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic-arr', iconWidth: '5', iconHeight: '9'})
                          .header-catalog__submenu
                            .ui-scroll-custom.js-scroll-pane
                              .row.pl-md-4.pr-md-4
                                .col-lg.col-sm-6
                                  .header-catalog__section
                                    a.header-catalog__title(href="#") Meat
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Sausage
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Salami

                        .header-catalog__item
                          .header-catalog__link
                            span.header-catalog__ic
                              != pugHelpers.Icon.call(locals, {iconName: 'catalog-6', className: 'ic', iconWidth: '32', iconHeight: '32'})
                            span.header-catalog__name  Brands
                            != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic-arr', iconWidth: '5', iconHeight: '9'})
                          .header-catalog__submenu
                            .ui-scroll-custom.js-scroll-pane
                              .row.pl-md-4.pr-md-4
                                .col-lg.col-sm-6
                                  .header-catalog__section
                                    a.header-catalog__title(href="#") Meat
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Sausage
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Salami
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Smoked Meat & Salo
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Canned Meat & Pate

                        .header-catalog__item
                          .header-catalog__link
                            span.header-catalog__ic
                              != pugHelpers.Icon.call(locals, {iconName: 'catalog-7', className: 'ic', iconWidth: '32', iconHeight: '32'})
                            span.header-catalog__name  Manhattan Delivery
                            != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic-arr', iconWidth: '5', iconHeight: '9'})
                          .header-catalog__submenu
                            .ui-scroll-custom.js-scroll-pane
                              .row.pl-md-4.pr-md-4
                                .col-lg.col-sm-6
                                  .header-catalog__section
                                    a.header-catalog__title(href="#") Meat
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Sausage
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Salami
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Smoked Meat & Salo
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Canned Meat & Pate

                        .header-catalog__item
                          .header-catalog__link
                            span.header-catalog__ic
                              != pugHelpers.Icon.call(locals, {iconName: 'catalog-8', className: 'ic', iconWidth: '30', iconHeight: '30'})
                            span.header-catalog__name  Marketplace sets
                            != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic-arr', iconWidth: '5', iconHeight: '9'})
                          .header-catalog__submenu
                            .ui-scroll-custom.js-scroll-pane
                              .row.pl-md-4.pr-md-4
                                .col-lg.col-sm-6
                                  .header-catalog__section
                                    a.header-catalog__title(href="#") Meat
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Sausage
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Salami
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Smoked Meat & Salo
                                    .header-catalog__subitem
                                      a.header-catalog__sublink(href="#") Canned Meat & Pate

                        .header-catalog__item
                          a.header-catalog__link(href="#")
                            span.header-catalog__ic
                              != pugHelpers.Icon.call(locals, {iconName: 'catalog-9', className: 'ic', iconWidth: '28', iconHeight: '28'})
                            span.header-catalog__name  Super price
                              span.header-catalog__label.bg-danger NEW

                        .header-catalog__item
                          a.header-catalog__link(href="#")
                            span.header-catalog__ic
                              != pugHelpers.Icon.call(locals, {iconName: 'catalog-10', className: 'ic', iconWidth: '34', iconHeight: '34'})
                            span.header-catalog__name  Christmas & New Year


          .col-xl-5.col-auto
            form.header-search
              input.header-search__input(type="text" placeholder="Search here")
              button.header-search__submit
                != pugHelpers.Icon.call(locals, {iconName: 'search', className: 'ic', iconWidth: '17', iconHeight: '18'})

          .col-xl-4.col-auto.text-right
            .header-main__item.d-xl-inline-block.d-none
              != pugHelpers.Icon.call(locals, {iconName: 'user', className: 'ic', iconWidth: '17', iconHeight: '18'})
              a.header-main__link(href="#") Sign In
              |  |
              |
              |
              a.header-main__link(href="#")  Register

            .header-main__item.d-xl-inline-block.d-none
              a.header-main__link(href="wish.html")
                != pugHelpers.Icon.call(locals, {iconName: 'heart-stroke-2', className: 'ic stroke-white', iconWidth: '20.01', iconHeight: '18'})
                | Wish
                span.badge.badge-danger 450
            .header-main__item
              a.header-main__link(href="checkout.html")
                != pugHelpers.Icon.call(locals, {iconName: 'cart', className: 'ic ic-cart', iconWidth: '22', iconHeight: '22'})
                span.d-xl-inline-block.d-none Cart
                span.badge.badge-danger 45


  // end .header
  |
  |
